# translationSourceHash: ff9adab0
# translationFrom: openapi/cloud.en.yaml

openapi: 3.0.3
info: 
  title: Comfy Cloud API
  description: "<Warning>\n**실험적 API:** 이 API는 실험적이며 변경될 수 있습니다. \n엔드포인트, 요청/응답 형식 및 동작은 사전 통지 없이 수정될 수 있습니다.\n</Warning>\n\nComfy Cloud용 API - 클라우드 인프라에서 ComfyUI 워크플로를 실행합니다.\n\n이 API를 사용하여 Comfy Cloud와 프로그래밍 방식으로 상호작용할 수 있습니다:\n- 워크플로 제출 및 관리\n- 파일 업로드 및 다운로드\n- 작업 상태 및 진행 상황 모니터링\n\n## Cloud vs OSS ComfyUI 호환성\n\nComfy Cloud는 최대 호환성을 위해 OSS ComfyUI와 동일한 API 인터페이스를 구현하지만,\n일부 필드는 호환성을 위해 허용되지만 다르게 처리되거나 무시됩니다:\n\n| 필드 | 엔드포인트 | Cloud 동작 |\n|-------|-----------|----------------|\n| `subfolder` | `/api/view`, `/api/upload/*` | **무시됨** - Cloud는 콘텐츠 주소 지정 저장소(해시 기반)를 사용합니다. 클라이언트 측 구성을 위해 응답에 반환됩니다. |\n| `type` (input/output/temp) | `/api/view`, `/api/upload/*` | 부분적으로 사용됨 - 모든 파일은 디렉토리 구조 대신 태그 기반 조직으로 저장됩니다. |\n| `overwrite` | `/api/upload/*` | **무시됨** - 콘텐츠 주소 지정 저장소는 동일한 콘텐츠가 항상 동일한 해시를 갖도록 합니다. |\n| `number`, `front` | `/api/prompt` | **무시됨** - Cloud는 사용자별로 자체 공정 실행 대기열 스케줄링을 사용합니다. |\n| `split`, `full_info` | `/api/userdata` | **무시됨** - Cloud는 항상 전체 파일 메타데이터를 반환합니다. |\n\n이러한 필드는 기존 ComfyUI 클라이언트 및 워크플로와의 드롭인 호환성을 위해 API 스키마에 유지됩니다.\n"
  version: 1.0.0
  license: 
    name: GNU General Public License v3.0
    url: https://github.com/Comfy-Org/ComfyUI/blob/master/LICENSE
servers: 
  - url: https://cloud.comfy.org
    description: Comfy Cloud API
security: 
  - ApiKeyAuth: 
      []
tags: 
  - name: workflow
    description: "워크플로를 제출하여 실행하고, 실행 대기열을 관리합니다.\n클라우드에서 ComfyUI 워크플로를 실행하는 주요 방법입니다.\n"
  - name: job
    description: "작업 상태를 모니터링하고, 실행 기록을 확인하며, 실행 중인 작업을 관리합니다.\n작업은 POST /api/prompt를 통해 워크플로를 제출할 때 생성됩니다.\n"
  - name: asset
    description: "지속적 에셋(이미지, 모델, 출력)을 업로드, 다운로드 및 관리합니다.\n에셋은 태그 지정 및 메타데이터 지원과 함께 내구성 있는 스토리지를 제공합니다.\n"
  - name: file
    description: "로컬 ComfyUI와 호환되는 레거시 파일 업로드 및 다운로드 엔드포인트입니다.\n새로운 통합의 경우 Assets API 사용을 고려하세요.\n"
  - name: model
    description: "사용 가능한 AI 모델을 찾아보세요. 모델은 클라우드 인프라에 사전 로드됩니다.\n"
  - name: node
    description: "사용 가능한 ComfyUI 노드 및 해당 입력/출력에 대한 정보를 가져옵니다.\n동적 워크플로 인터페이스 구축에 유용합니다.\n"
  - name: user
    description: "사용자 계정 정보 및 개인 데이터 스토리지.\n"
  - name: system
    description: "서버 상태, 상태 확인 및 시스템 정보.\n"
x-tagGroups: 
  - name: Core
    tags: 
      - workflow
      - job
  - name: Storage
    tags: 
      - asset
      - file
  - name: Reference
    tags: 
      - model
      - node
  - name: Account
    tags: 
      - user
      - system
paths: 
  /api/prompt: 
    post: 
      tags: 
        - workflow
      summary: 워크플로 실행 제출
      description: "워크플로를 제출하여 백엔드에서 실행합니다.\n워크플로는 노드와 연결을 설명하는 JSON 객체입니다.\n"
      operationId: executePrompt
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/PromptRequest"
      responses: 
        "200": 
          description: "성공: 프롬프트 수락됨"
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PromptResponse"
        "400": 
          description: 잘못된 프롬프트
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PromptErrorResponse"
        "402": 
          description: "결제 필요: 크레딧 부족"
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PromptErrorResponse"
        "429": 
          description: "결제 필요: 사용자가 결제하지 않음"
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PromptErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PromptErrorResponse"
        "503": 
          description: 서비스를 사용할 수 없음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PromptErrorResponse"
    get: 
      tags: 
        - workflow
      summary: 현재 프롬프트 실행 정보 조회
      description: 실행 대기열의 현재 프롬프트 정보 반환
      operationId: getPromptInfo
      responses: 
        "200": 
          description: 성공
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PromptInfo"
        "401": 
          description: 인증되지 않음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/object_info: 
    get: 
      tags: 
        - node
      summary: 모든 노드 정보 조회
      description: 사용 가능한 모든 노드 정보 반환
      operationId: getNodeInfo
      responses: 
        "200": 
          description: 성공
          content: 
            application/json: 
              schema: 
                type: object
                additionalProperties: 
                  $ref: "#/components/schemas/NodeInfo"
  /api/features: 
    get: 
      tags: 
        - node
      summary: 서버 기능 플래그 가져오기
      description: 서버의 기능 목록을 반환합니다.
      operationId: getFeatures
      security: 
        - ApiKeyAuth: 
            []
        - {}
      responses: 
        "200": 
          description: 성공
          content: 
            application/json: 
              schema: 
                type: object
                properties: 
                  supports_preview_metadata: 
                    type: boolean
                    description: 서버가 미리보기 메타데이터를 지원하는지 여부
                  max_upload_size: 
                    type: integer
                    description: 최대 업로드 크기(바이트)
                additionalProperties: true
  /api/workflow_templates: 
    get: 
      tags: 
        - workflow
      summary: 사용 가능한 워크플로 템플릿 가져오기
      description: 사용 가능한 워크플로 템플릿을 반환합니다
      operationId: getWorkflowTemplates
      security: 
        []
      responses: 
        "200": 
          description: 성공
          content: 
            application/json: 
              schema: 
                type: object
                description: 워크플로 템플릿에 대한 빈 객체
  /api/global_subgraphs: 
    get: 
      tags: 
        - workflow
      summary: 사용 가능한 서브그래프 블루프린트 가져오기
      description: "전역적으로 사용 가능한 서브그래프 블루프린트 목록을 반환합니다.\n이것들은 노드로 사용할 수 있는 사전 구축된 워크플로 구성 요소입니다.\ndata 필드에는 전체 서브그래프 JSON으로 해석되는 프로미스가 포함되어 있습니다.\n"
      operationId: getGlobalSubgraphs
      security: 
        []
      responses: 
        "200": 
          description: 성공 - 서브그래프 ID와 메타데이터의 매핑
          content: 
            application/json: 
              schema: 
                type: object
                additionalProperties: 
                  $ref: "#/components/schemas/GlobalSubgraphInfo"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/global_subgraphs/{id}": 
    get: 
      tags: 
        - workflow
      summary: 특정 서브그래프 블루프린트 가져오기
      description: ID로 특정 서브그래프 블루프린트의 전체 데이터를 반환합니다.
      operationId: getGlobalSubgraph
      security: 
        []
      parameters: 
        - name: id
          in: path
          required: true
          description: 서브그래프 블루프린트의 고유 식별자
          schema: 
            type: string
      responses: 
        "200": 
          description: 성공 - 전체 서브그래프 데이터
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/GlobalSubgraphData"
        "404": 
          description: 서브그래프를 찾을 수 없음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/experiment/models: 
    get: 
      tags: 
        - model
      summary: 사용 가능한 모델 폴더 가져오기
      description: "시스템에서 사용 가능한 모델 폴더 목록을 반환합니다.\n이것은 레거시 /models 엔드포인트를 대체하는 실험적 엔드포인트입니다.\n"
      operationId: getModelFolders
      security: 
        []
      responses: 
        "200": 
          description: 성공 - 모델 폴더 목록
          content: 
            application/json: 
              schema: 
                type: array
                items: 
                  $ref: "#/components/schemas/ModelFolder"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/experiment/models/{folder}": 
    get: 
      tags: 
        - model
      summary: 특정 폴더의 모델 가져오기
      description: "지정된 폴더에서 사용할 수 있는 모델 목록을 반환합니다.\n이는 향상된 모델 정보를 제공하는 실험적 엔드포인트입니다.\n"
      operationId: getModelsInFolder
      security: 
        []
      parameters: 
        - name: folder
          in: path
          required: true
          description: 모델을 나열할 폴더 이름
          schema: 
            type: string
            example: checkpoints
      responses: 
        "200": 
          description: 성공 - 폴더 내 모델 목록
          content: 
            application/json: 
              schema: 
                type: array
                items: 
                  $ref: "#/components/schemas/ModelFile"
        "404": 
          description: 폴더를 찾을 수 없거나 폴더에 모델이 없음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/experiment/models/preview/{folder}/{path_index}/{filename}": 
    get: 
      tags: 
        - model
      summary: 모델 이미지 미리보기 가져오기
      description: "지정된 모델에 대한 이미지 미리보기를 반환합니다.\n이미지는 최적의 성능을 위해 WebP 형식으로 반환됩니다.\n"
      operationId: getModelPreview
      security: 
        []
      parameters: 
        - name: folder
          in: path
          required: true
          description: 모델이 포함된 폴더 이름
          schema: 
            type: string
            example: checkpoints
        - name: path_index
          in: path
          required: true
          description: 경로 인덱스 (일반적으로 클라우드 서비스의 경우 0)
          schema: 
            type: integer
            example: 0
        - name: filename
          in: path
          required: true
          description: 모델 파일 이름 (.webp 확장자 포함 또는 미포함)
          schema: 
            type: string
            example: model.safetensors
      responses: 
        "200": 
          description: 성공 - 모델 미리보기 이미지
          content: 
            image/webp: 
              schema: 
                type: string
                format: binary
        "404": 
          description: 모델을 찾을 수 없거나 미리보기를 사용할 수 없음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/history: 
    post: 
      tags: 
        - job
      summary: 실행 기록 관리
      description: "인증된 사용자의 모든 기록을 지우거나 특정 작업 ID를 삭제합니다.\n모든 기록 지우기 또는 특정 작업 ID 삭제를 지원합니다.\n"
      operationId: manageHistory
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/HistoryManageRequest"
      responses: 
        "200": 
          description: 성공 - 기록 관리 작업 완료됨
        "400": 
          description: 잘못된 요청 파라미터
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: "인증 실패: 인증이 필요합니다."
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/history_v2: 
    get: 
      tags: 
        - job
      summary: 실행 기록 가져오기 (v2)
      deprecated: true
      description: "**지원 중단됨.** 대신 [`/api/jobs`](#tag/job/GET/api/jobs)를 사용하세요. 이 엔드포인트는 ComfyUI 호환성을 위해 유지되며, 향후 릴리스에서 제거될 예정입니다. 제거 날짜는 정해지지 않았습니다.\n\n인증된 사용자의 실행 기록을 페이지네이션 지원과 함께 가져옵니다.\n필터링된 프롬프트 데이터(extra_pnginfo에서 워크플로 제거됨)를 포함한 경량 히스토리 형식을 반환합니다.\n"
      operationId: getHistory
      parameters: 
        - name: max_items
          in: query
          required: false
          description: 반환할 최대 항목 수
          schema: 
            type: integer
        - name: offset
          in: query
          required: false
          description: 시작 위치 (기본값 0)
          schema: 
            type: integer
            default: 0
      responses: 
        "200": 
          description: "성공: 실행 기록이 조회되었습니다."
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/HistoryResponse"
        "401": 
          description: "인증 실패: 인증이 필요합니다."
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/history_v2/{prompt_id}": 
    get: 
      tags: 
        - job
      summary: 특정 프롬프트의 기록 가져오기
      deprecated: true
      description: "**지원 중단됨.** 대신 [`/api/jobs/{job_id}`](#tag/job/GET/api/jobs/{job_id})를 사용하세요. `/api/prompt`에서 반환된 `prompt_id`는 `job_id`와 동일한 값입니다. 이 엔드포인트는 ComfyUI 호환성을 위해 유지되며, 향후 릴리스에서 제거될 예정입니다. 제거 날짜는 정해지지 않았습니다.\n\n특정 프롬프트 ID의 상세 실행 기록을 가져옵니다.\n완전한 프롬프트 정보를 포함한 전체 히스토리 데이터를 반환합니다.\n"
      operationId: getHistoryForPrompt
      parameters: 
        - name: prompt_id
          in: path
          required: true
          description: 기록을 조회할 프롬프트 ID
          schema: 
            type: string
      responses: 
        "200": 
          description: "성공: 프롬프트 기록이 조회되었습니다."
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/HistoryDetailResponse"
        "401": 
          description: "인증 실패: 인증이 필요합니다."
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 프롬프트를 찾을 수 없음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/jobs: 
    get: 
      tags: 
        - job
      summary: 페이지네이션 및 필터링으로 작업 목록 조회
      description: "인증된 사용자의 작업 목록을 페이지네이션으로 조회합니다.\n목록 보기에 최적화된 경량 작업 데이터를 반환합니다.\n페이로드 크기 감소를 위해 워크플로 및 전체 출력은 제외됩니다.\n"
      operationId: listJobs
      parameters: 
        - name: status
          in: query
          required: false
          description: 하나 이상의 상태로 필터링(쉼표로 구분). 제공되지 않으면 모든 작업을 반환합니다.
          schema: 
            type: string
          example: "pending,in_progress"
        - name: workflow_id
          in: query
          required: false
          description: 워크플로 ID로 필터링(정확히 일치)
          schema: 
            type: string
          example: 550e8400-e29b-41d4-a716-446655440000
        - name: output_type
          in: query
          required: false
          description: 출력 미디어 유형으로 필터링(출력이 있는 완료된 작업에만 적용)
          schema: 
            type: string
            enum: 
              - image
              - video
              - audio
          example: image
        - name: sort_by
          in: query
          required: false
          description: "정렬 기준 필드 (create_time = 작업이 제출된 시간, execution_time = 워크플로 실행에 걸린 시간)"
          schema: 
            type: string
            enum: 
              - create_time
              - execution_time
            default: create_time
          example: execution_time
        - name: sort_order
          in: query
          required: false
          description: "정렬 방향 (asc = 오름차순, desc = 내림차순)"
          schema: 
            type: string
            enum: 
              - asc
              - desc
            default: desc
        - name: offset
          in: query
          required: false
          description: 페이지네이션 오프셋 (0부터 시작)
          schema: 
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          required: false
          description: 페이지당 최대 항목 수 (1-1000)
          schema: 
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
      responses: 
        "200": 
          description: "성공: 작업 검색됨"
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/JobsListResponse"
        "401": 
          description: "인증되지 않음: 인증 필수"
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/jobs/{job_id}": 
    get: 
      tags: 
        - job
      summary: 전체 작업 세부 정보 조회
      description: "특정 작업의 완전한 세부 정보를 검색합니다 (워크플로 및 출력 포함).\n세부 보기, 워크플로 재실행 및 디버깅에 사용됩니다.\n"
      operationId: getJobDetail
      parameters: 
        - name: job_id
          in: path
          required: true
          description: 작업 식별자 (UUID)
          schema: 
            type: string
            format: uuid
      responses: 
        "200": 
          description: "성공: 작업 세부 정보 조회됨"
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/JobDetailResponse"
        "401": 
          description: "인증되지 않음: 인증 필수"
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "403": 
          description: "금지됨: 작업이 사용자 소유가 아닙니다"
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 작업을 찾을 수 없음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/view: 
    get: 
      tags: 
        - file
      summary: 파일 보기
      description: "ComfyUI 파일 시스템에서 파일을 검색하고 봅니다.\n이 엔드포인트는 일반적으로 생성된 이미지 또는 기타 출력 파일을 보는 데 사용됩니다.\n"
      operationId: viewFile
      parameters: 
        - name: filename
          in: query
          required: true
          description: 볼 파일의 이름
          schema: 
            type: string
            example: ComfyUI_00004_.png
        - name: subfolder
          in: query
          required: false
          description: "파일이 위치한 하위 폴더 경로.\n**참고:** ComfyUI API 호환성을 위해 허용되지만 클라우드에서는 **무시**됩니다.\n클라우드는 콘텐츠 주소 저장소를 사용하며 에셋은 해시로만 저장됩니다.\n하위 폴더는 클라이언트 측 UI 메타데이터이며 저장소 조회에 사용되지 않습니다.\n"
          schema: 
            type: string
            example: tests/foo/bar
        - name: type
          in: query
          required: false
          description: "파일 유형 (예: 출력, 입력, 임시).\n**참고:** 클라우드에서는 `output`과 `temp` 파일이 동일한 버킷에 저장됩니다.\n유형 파라미터는 호환성을 위해 사용되지만 저장 위치는 해시에 의해 결정됩니다.\n"
          schema: 
            type: string
            example: output
        - name: fullpath
          in: query
          required: false
          description: 파일의 전체 경로 (임시 파일에 사용됨)
          schema: 
            type: string
        - name: format
          in: query
          required: false
          description: 파일 형식
          schema: 
            type: string
        - name: frame_rate
          in: query
          required: false
          description: 비디오 파일의 프레임 속도
          schema: 
            type: integer
        - name: workflow
          in: query
          required: false
          description: 워크플로 식별자
          schema: 
            type: string
        - name: timestamp
          in: query
          required: false
          description: 타임스탬프 파라미터
          schema: 
            type: integer
            example: "1234567890"
        - name: channel
          in: query
          required: false
          description: "PNG 이미지에서 추출할 이미지 채널.\n- 'rgb': RGB 채널만 반환 (알파는 완전 불투명으로 설정)\n- 'a' 또는 'alpha': 알파 채널을 회색조 이미지로 반환\n- 지정하지 않으면 리다이렉트를 통해 원본 이미지를 변경하지 않고 반환\n"
          schema: 
            type: string
            example: rgb
      responses: 
        "200": 
          description: 성공 - 파일 콘텐츠 반환됨 (채널 파라미터가 있는 경우 사용)
          content: 
            image/png: 
              schema: 
                type: string
                format: binary
                description: 추출된 채널이 포함된 처리된 PNG 이미지
        "302": 
          description: GCS 서명된 URL로 리다이렉트
          headers: 
            Location: 
              description: GCS에서 파일에 액세스하기 위한 서명된 URL
              schema: 
                type: string
        "400": 
          description: 잘못된 요청 파라미터
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 파일을 찾을 수 없거나 권한이 없음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/files/mask-layers: 
    get: 
      tags: 
        - file
      summary: 관련 마스크 레이어 파일 가져오기
      description: "마스크 파일(4개 레이어 중 하나)이 주어지면 관련된 모든 마스크 레이어 파일을 반환합니다.\n이전에 편집한 마스크를 다시 열 때 마스크 편집기가 페인트, 마스크 및 채색 레이어를 로드하는 데 사용됩니다.\n"
      operationId: getMaskLayers
      parameters: 
        - name: filename
          in: query
          required: true
          description: 마스크 레이어 파일의 해시 파일 이름
          schema: 
            type: string
            example: abc123def456.png
      responses: 
        "200": 
          description: 성공 - 관련 마스크 레이어 반환됨
          content: 
            application/json: 
              schema: 
                type: object
                properties: 
                  mask: 
                    type: string
                    description: 마스크 레이어의 파일 이름
                    nullable: true
                  paint: 
                    type: string
                    description: 페인트 스트로크 레이어의 파일 이름
                    nullable: true
                  painted: 
                    type: string
                    description: 채색된 이미지 레이어의 파일 이름
                    nullable: true
                  painted_masked: 
                    type: string
                    description: 최종 합성 레이어의 파일 이름
                    nullable: true
        "404": 
          description: 파일을 찾을 수 없거나 마스크 파일이 아님
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/assets: 
    get: 
      tags: 
        - asset
      summary: 사용자 에셋 목록
      description: "인증된 사용자가 소유한 에셋의 페이지별 목록을 검색합니다.\n태그, 이름, 메타데이터별 필터링 및 정렬 옵션을 지원합니다.\n"
      operationId: listAssets
      parameters: 
        - name: include_tags
          in: query
          description: 이러한 태그를 모두 가진 에셋 필터
          schema: 
            type: array
            items: 
              type: string
          style: form
          explode: false
        - name: exclude_tags
          in: query
          description: 이러한 태그 중 하나라도 가진 에셋 제외
          schema: 
            type: array
            items: 
              type: string
          style: form
          explode: false
        - name: name_contains
          in: query
          description: 이름에 이 부분 문자열을 포함하는 에셋 필터 (대소문자 구분 안 함)
          schema: 
            type: string
        - name: metadata_filter
          in: query
          description: 메타데이터 필드로 필터링하기 위한 JSON 객체
          schema: 
            type: string
        - name: limit
          in: query
          description: 반환할 최대 에셋 수 (1-500)
          schema: 
            type: integer
            minimum: 1
            maximum: 500
            default: 20
        - name: offset
          in: query
          description: 페이지네이션을 위해 건너뛸 에셋 수
          schema: 
            type: integer
            minimum: 0
            default: 0
        - name: sort
          in: query
          description: 정렬 기준 필드
          schema: 
            type: string
            enum: 
              - name
              - created_at
              - updated_at
              - size
              - last_access_time
            default: created_at
        - name: order
          in: query
          description: 정렬 순서
          schema: 
            type: string
            enum: 
              - asc
              - desc
            default: desc
        - name: include_public
          in: query
          description: 결과에 공개/공유 에셋 포함 여부
          schema: 
            type: boolean
            default: true
      responses: 
        "200": 
          description: 성공 - 에셋 반환됨
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ListAssetsResponse"
        "400": 
          description: 잘못된 요청 파라미터
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 인증되지 않음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
    post: 
      tags: 
        - asset
      summary: 새 에셋 업로드
      description: "새로운 에셋을 관련 메타데이터와 함께 시스템에 업로드합니다.\n두 가지 업로드 방법을 지원합니다:\n1. 직접 파일 업로드 (multipart/form-data)\n2. URL 기반 업로드 (application/json, source: \"url\")\n\n동일한 해시의 에셋이 이미 존재하는 경우, 기존 에셋을 반환합니다.\n"
      operationId: uploadAsset
      requestBody: 
        required: true
        content: 
          multipart/form-data: 
            schema: 
              type: object
              required: 
                - file
              properties: 
                file: 
                  type: string
                  format: binary
                  description: 업로드할 에셋 파일
                tags: 
                  type: array
                  items: 
                    type: string
                  description: "에셋의 자유 형식 태그. 일반적인 유형으로는 \"모델\", \"입력\", \"출력\" 및 \"임시\"가 포함되지만, 모든 태그를 어떤 순서로든 사용할 수 있습니다."
                id: 
                  type: string
                  format: uuid
                  description: 멱등 생성을 위한 선택적 에셋 ID. 제공되고 에셋이 존재하는 경우 기존 에셋을 반환합니다.
                preview_id: 
                  type: string
                  format: uuid
                  description: 선택적 미리보기 에셋 ID. 제공되지 않은 경우 이미지는 자체 ID를 미리보기로 사용합니다.
                name: 
                  type: string
                  description: 에셋의 표시 이름
                mime_type: 
                  type: string
                  description: "에셋의 MIME 유형 (예: \"image/png\", \"video/mp4\")"
                user_metadata: 
                  type: string
                  description: 문자열 형태의 사용자 정의 JSON 메타데이터
          application/json: 
            schema: 
              type: object
              required: 
                - url
                - name
              properties: 
                url: 
                  type: string
                  format: uri
                  description: 에셋을 다운로드할 HTTP/HTTPS URL
                name: 
                  type: string
                  description: 에셋의 표시 이름 (파일 확장자 결정에 사용됨)
                tags: 
                  type: array
                  items: 
                    type: string
                  description: "에셋의 자유 형식 태그. 일반적인 유형으로는 \"모델\", \"입력\", \"출력\" 및 \"임시\"가 포함되지만, 모든 태그를 어떤 순서로든 사용할 수 있습니다."
                user_metadata: 
                  type: object
                  additionalProperties: true
                  description: 에셋과 함께 저장할 사용자 정의 메타데이터
                preview_id: 
                  type: string
                  format: uuid
                  description: 선택적 미리보기 에셋 ID
      responses: 
        "200": 
          description: 에셋이 이미 존재함 (기존 에셋 반환)
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetCreated"
        "201": 
          description: 에셋 생성 성공
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetCreated"
        "400": 
          description: "잘못된 요청 (잘못된 파일, 유효하지 않은 URL, 잘못된 콘텐츠 유형 등)"
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 인증되지 않음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "403": 
          description: 소스 URL에 인증이 필요하거나 액세스가 거부됨
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 소스 URL을 찾을 수 없음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "413": 
          description: 파일이 너무 큼
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "415": 
          description: 지원되지 않는 미디어 유형
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "422": 
          description: 네트워크 오류 또는 시간 초과로 인한 다운로드 실패
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/assets/from-hash: 
    post: 
      tags: 
        - asset
      summary: 기존 해시에서 에셋 참조 생성
      description: "클라우드 스토리지의 기존 해시를 사용하여 새 에셋 참조를 생성합니다.\n기본 데이터가 이미 존재할 때 파일 콘텐츠를 다시 업로드하지 않아도 되므로,\n대용량 파일이나 잘 알려진 에셋을 참조할 때 유용합니다.\n사용자는 새 참조에 자신의 메타데이터와 태그를 제공합니다.\n"
      operationId: createAssetFromHash
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              type: object
              required: 
                - hash
                - tags
              properties: 
                hash: 
                  type: string
                  description: 기존 에셋의 해시. Blake3 (blake3:) 또는 SHA256 (sha256:) 형식을 지원합니다
                  pattern: "^(blake3|sha256):[a-f0-9]{64}$"
                name: 
                  type: string
                  description: 에셋 참조의 표시 이름 (선택 사항)
                tags: 
                  type: array
                  items: 
                    type: string
                  minItems: 1
                  description: "에셋의 자유 형식 태그. 일반적인 유형은 \"models\", \"input\", \"output\", \"temp\" 등이 있지만, 모든 태그를 어떤 순서로든 사용할 수 있습니다."
                mime_type: 
                  type: string
                  description: "에셋의 MIME 유형 (예: \"image/png\", \"video/mp4\")"
                user_metadata: 
                  type: object
                  description: 이 에셋 참조의 사용자 정의 메타데이터
                  additionalProperties: true
      responses: 
        "200": 
          description: 에셋 참조가 이미 존재함 (기존 항목 반환)
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetCreated"
        "201": 
          description: 에셋 참조가 성공적으로 생성됨
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetCreated"
        "400": 
          description: "잘못된 요청 (잘못된 해시 형식, 유효하지 않은 태그 등)"
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 인증되지 않음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 지정된 해시의 소스 에셋을 찾을 수 없음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/assets/remote-metadata: 
    get: 
      tags: 
        - asset
      summary: 원격 URL에서 에셋 메타데이터 가져오기
      description: "원격 다운로드 URL에서 전체 파일을 다운로드하지 않고 에셋의 메타데이터를 검색합니다.\nCivitAI 및 기타 모델 저장소를 포함한 다양한 소스를 지원합니다.\nHEAD 요청 또는 API 호출을 사용하여 효율적으로 메타데이터를 가져옵니다.\n이 엔드포인트는 다운로드 전 메타데이터 미리보기용이며, 기존 에셋의 메타데이터를 가져오는 용도가 아닙니다.\n"
      operationId: getRemoteAssetMetadata
      parameters: 
        - name: url
          in: query
          required: true
          description: 메타데이터를 검색할 다운로드 URL
          schema: 
            type: string
            format: uri
            example: https://civitai.com/api/download/models/123456
      responses: 
        "200": 
          description: 메타데이터가 성공적으로 검색됨
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetMetadataResponse"
        "400": 
          description: 잘못된 URL 또는 필수 매개변수 누락
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 인증되지 않음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "422": 
          description: 소스에서 메타데이터를 검색하지 못했습니다
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/assets/download: 
    post: 
      tags: 
        - asset
      summary: 대용량 파일의 배경 다운로드 시작
      description: "Huggingface 또는 Civitai에서 대용량 파일을 위한 배경 다운로드 작업을 시작합니다.\n\n파일이 저장소에 이미 존재하는 경우, 에셋 레코드가 즉시 생성되어 반환됩니다 (200 OK).\n파일이 존재하지 않는 경우, 배경 작업이 생성되고 작업 ID가 반환됩니다 (202 Accepted).\n프론트엔드는 GET /api/tasks/{task_id}를 사용하여 진행 상황을 추적할 수 있습니다.\n"
      operationId: createAssetDownload
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              type: object
              required: 
                - source_url
              properties: 
                source_url: 
                  type: string
                  format: uri
                  description: 다운로드할 파일의 URL (huggingface.co 또는 civitai.com에서 가져와야 함)
                  example: https://huggingface.co/runwayml/stable-diffusion-v1-5/resolve/main/v1-5-pruned.safetensors
                tags: 
                  type: array
                  items: 
                    type: string
                  description: "에셋의 선택적 태그 (예: [\"model\", \"checkpoint\"])"
                user_metadata: 
                  type: object
                  additionalProperties: true
                  description: 에셋에 첨부할 선택적 사용자 정의 메타데이터
                preview_id: 
                  type: string
                  format: uuid
                  description: 다운로드된 에셋과 연결할 선택적 미리보기 에셋 ID
                  example: 550e8400-e29b-41d4-a716-446655440000
      responses: 
        "200": 
          description: 파일이 이미 스토리지에 존재함 - 에셋이 즉시 생성/반환됨
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetCreated"
        "202": 
          description: 수락됨 - 다운로드 작업이 생성되어 배경에서 처리 중
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetDownloadResponse"
        "400": 
          description: 잘못된 URL 또는 지원되지 않는 소스
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 인증되지 않음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "422": 
          description: 검증 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/assets/{id}": 
    get: 
      tags: 
        - asset
      summary: 에셋 세부 정보 가져오기
      description: 특정 에셋에 대한 상세 정보를 검색합니다
      operationId: getAssetById
      parameters: 
        - name: id
          in: path
          required: true
          description: 에셋 ID
          schema: 
            type: string
            format: uuid
      responses: 
        "200": 
          description: 에셋 세부 정보가 성공적으로 검색되었습니다
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/Asset"
        "401": 
          description: 인증되지 않음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 에셋을 찾을 수 없음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
    put: 
      tags: 
        - asset
      summary: 자산 메타데이터 업데이트
      description: "에셋의 메타데이터를 업데이트합니다. 최소 한 개의 필드를 제공해야 합니다.\nname, tags 및 user_metadata만 업데이트할 수 있습니다.\n"
      operationId: updateAsset
      parameters: 
        - name: id
          in: path
          required: true
          description: 에셋 ID
          schema: 
            type: string
            format: uuid
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              type: object
              properties: 
                name: 
                  type: string
                  description: 에셋의 새 표시 이름
                tags: 
                  type: array
                  items: 
                    type: string
                  description: 에셋의 업데이트된 태그
                mime_type: 
                  type: string
                  description: 에셋의 업데이트된 MIME 유형
                preview_id: 
                  type: string
                  format: uuid
                  description: 업데이트된 미리보기 에셋 ID
                user_metadata: 
                  type: object
                  description: 업데이트 된 사용자 정의 메타데이터
                  additionalProperties: true
              minProperties: 1
      responses: 
        "200": 
          description: 자산이 성공적으로 업데이트됨
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetUpdated"
        "400": 
          description: 잘못된 요청 (제공된 필드 없음)
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 인증되지 않음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 자산을 찾을 수 없음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
    delete: 
      tags: 
        - asset
      summary: 에셋 삭제
      description: "에셋과 해당 콘텐츠를 스토리지에서 삭제합니다.\n데이터베이스 레코드와 스토리지 콘텐츠가 모두 삭제됩니다.\n"
      operationId: deleteAsset
      parameters: 
        - name: id
          in: path
          required: true
          description: 에셋 ID
          schema: 
            type: string
            format: uuid
      responses: 
        "204": 
          description: 에셋이 성공적으로 삭제되었습니다
        "401": 
          description: 인증되지 않음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 에셋을 찾을 수 없음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/assets/{id}/tags": 
    post: 
      tags: 
        - asset
      summary: 자산에 태그 추가
      description: 기존 자산에 하나 이상의 태그를 추가합니다
      operationId: addAssetTags
      parameters: 
        - name: id
          in: path
          required: true
          description: 자산 ID
          schema: 
            type: string
            format: uuid
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              type: object
              required: 
                - tags
              properties: 
                tags: 
                  type: array
                  items: 
                    type: string
                  minItems: 1
                  description: 자산에 추가할 태그
      responses: 
        "200": 
          description: 태그가 성공적으로 추가됨
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/TagsModificationResponse"
        "400": 
          description: 잘못된 요청
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 인증되지 않음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 자산을 찾을 수 없음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
    delete: 
      tags: 
        - asset
      summary: 자산에서 태그 제거
      description: 기존 자산에서 하나 이상의 태그를 제거합니다
      operationId: removeAssetTags
      parameters: 
        - name: id
          in: path
          required: true
          description: 자산 ID
          schema: 
            type: string
            format: uuid
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              type: object
              required: 
                - tags
              properties: 
                tags: 
                  type: array
                  items: 
                    type: string
                  minItems: 1
                  description: 자산에서 제거할 태그
      responses: 
        "200": 
          description: 태그가 성공적으로 제거됨
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/TagsModificationResponse"
        "400": 
          description: 잘못된 요청
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 인증되지 않음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 자산을 찾을 수 없음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/tags: 
    get: 
      tags: 
        - asset
      summary: 모든 태그 나열
      description: "에셋 전체에서 사용된 모든 태그 목록을 검색합니다.\n사용 횟수 및 필터링 옵션을 포함합니다.\n"
      operationId: listTags
      parameters: 
        - name: prefix
          in: query
          description: 접두사로 태그 필터링
          schema: 
            type: string
        - name: limit
          in: query
          description: 반환할 최대 태그 수 (1-1000)
          schema: 
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - name: offset
          in: query
          description: 페이지 매김을 위해 건너뛸 태그 수
          schema: 
            type: integer
            minimum: 0
            default: 0
        - name: order
          in: query
          description: 태그 정렬 순서
          schema: 
            type: string
            enum: 
              - count_desc
              - name_asc
            default: count_desc
        - name: include_zero
          in: query
          description: 사용 횟수가 0인 태그 포함
          schema: 
            type: boolean
            default: false
        - name: include_public
          in: query
          description: 태그를 계산할 때 공개/공유 에셋 포함 여부
          schema: 
            type: boolean
            default: true
      responses: 
        "200": 
          description: 태그를 성공적으로 검색했습니다.
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ListTagsResponse"
        "400": 
          description: 잘못된 요청 파라미터
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 인증되지 않음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/assets/tags/refine: 
    get: 
      tags: 
        - asset
      summary: 필터링된 에셋에 대한 태그 히스토그램 가져오기
      description: "주어진 필터와 일치하는 에셋에 나타나는 태그의 히스토그램을 반환합니다.\n사용 가능한 태그와 그 개수를 표시하여 에셋 검색을 정제하는 데 유용합니다.\n0이 아닌 개수의 태그(일치하는 에셋에 존재하는 태그)만 반환합니다.\n"
      operationId: getAssetTagHistogram
      parameters: 
        - name: include_tags
          in: query
          description: 이 태그를 모두 가진 에셋을 필터링합니다
          schema: 
            type: array
            items: 
              type: string
          style: form
          explode: false
        - name: exclude_tags
          in: query
          description: 이 태그 중 하나라도 가진 에셋을 제외합니다
          schema: 
            type: array
            items: 
              type: string
          style: form
          explode: false
        - name: name_contains
          in: query
          description: 이름에 이 부분 문자열을 포함하는 에셋 필터링 (대소문자 구분 없음)
          schema: 
            type: string
        - name: metadata_filter
          in: query
          description: 메타데이터 필드로 필터링하기 위한 JSON 객체
          schema: 
            type: string
        - name: limit
          in: query
          description: "반환할 최대 태그 수 (1-1000, 기본값 100)"
          schema: 
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - name: include_public
          in: query
          description: 결과에 공개/공유 에셋 포함 여부
          schema: 
            type: boolean
            default: true
      responses: 
        "200": 
          description: 성공 - 태그 히스토그램이 반환됨
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetTagHistogramResponse"
        "400": 
          description: 잘못된 요청 파라미터
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 인증되지 않음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/assets/hash/{hash}": 
    head: 
      tags: 
        - asset
      summary: 해시로 에셋 존재 여부 확인
      description: "지정된 해시의 콘텐츠가 클라우드 스토리지에 존재하는지 확인합니다.\n콘텐츠가 존재하면 200을 반환하고, 없으면 404를 반환합니다.\n`/api/assets/from-hash`를 사용하기 전에 가용성을 확인하는 데 유용합니다.\n"
      operationId: checkAssetByHash
      parameters: 
        - name: hash
          in: path
          required: true
          description: "형식 'blake3:hex_digest'의 에셋 Blake3 해시"
          schema: 
            type: string
            pattern: "^blake3:[a-f0-9]{64}$"
            example: blake3:a1b2c3d4e5f6789012345678901234567890123456789012345678901234
      responses: 
        "200": 
          description: 에셋이 존재함
        "400": 
          description: 잘못된 해시 형식
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 인증되지 않음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 에셋을 찾을 수 없음
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/queue: 
    get: 
      tags: 
        - job
      summary: 실행 대기열 정보 가져오기
      description: 실행 대기열의 실행 중 및 대기 중인 항목 정보 반환
      operationId: getQueueInfo
      responses: 
        "200": 
          description: 성공
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/QueueInfo"
        "400": 
          description: 잘못된 요청 파라미터
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 잘못된 요청 파라미터
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
    post: 
      tags: 
        - job
      summary: 실행 대기열 연산 관리
      description: "특정 대기 중인 작업을 ID로 취소하거나 실행 대기열의 모든 대기 중인 작업을 지웁니다.\n참고: 이 엔드포인트는 대기 중인 작업에만 영향을 미칩니다. 실행 중인 작업을 취소하려면 /api/interrupt를 사용하세요.\n"
      operationId: manageQueue
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/QueueManageRequest"
      responses: 
        "200": 
          description: 성공
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/QueueManageResponse"
        "400": 
          description: 잘못된 요청 파라미터
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 인증되지 않음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/interrupt: 
    post: 
      tags: 
        - job
      summary: 현재 실행 중인 작업 중단
      description: "인증된 사용자의 현재 **실행 중**인 모든 작업을 취소합니다.\n이 기능은 현재 'in_progress' 상태인 모든 작업을 중단합니다.\n참고: 이 엔드포인트는 실행 중인 작업에만 영향을 미칩니다. 대기 중인 작업을 취소하려면 /api/queue를 사용하세요.\n"
      operationId: interruptJob
      responses: 
        "200": 
          description: "성공: 작업이 중단되었거나 실행 중인 작업이 없음"
        "401": 
          description: "인증 실패: 인증이 필요합니다."
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/userdata: 
    get: 
      tags: 
        - user
      operationId: getUserdata
      summary: 사용자 데이터 파일 나열
      description: 지정된 디렉터리의 사용자 데이터 파일 목록을 반환합니다. 선택적으로 재귀적으로 검색하거나 전체 메타데이터를 포함할 수 있습니다.
      parameters: 
        - name: dir
          in: query
          required: true
          description: "파일을 나열할 디렉터리 경로. 마지막에 슬래시를 포함해야 합니다.\n예: \"워크플로/\" 또는 \"설정/\"\n"
          schema: 
            type: string
          example: workflows/
        - name: recurse
          in: query
          required: false
          description: 참이면 하위 디렉터리의 파일도 포함합니다. 그렇지 않으면 지정된 디렉터리에 있는 파일만 나열합니다.
          schema: 
            type: boolean
            default: false
        - name: split
          in: query
          required: false
          description: "파일 정보를 유형별로 분할할지 여부.\n**참고:** ComfyUI API 호환성을 위해 허용되지만 현재는 무시됩니다.\n"
          schema: 
            type: boolean
            default: false
        - name: full_info
          in: query
          required: false
          description: "전체 파일 메타데이터를 반환할지 여부.\n**참고:** ComfyUI API 호환성을 위해 허용되지만 현재는 무시됩니다(항상 전체 정보를 반환).\n"
          schema: 
            type: boolean
            default: false
      responses: 
        "200": 
          description: 사용자 데이터 파일 목록.
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/GetUserDataResponseFull"
        "400": 
          description: "잘못된 요청 (예: 잘못된 파일명)."
          content: 
            text/plain: 
              schema: 
                type: string
        "401": 
          description: 인증되지 않음.
          content: 
            text/plain: 
              schema: 
                type: string
        "404": 
          description: 파일을 찾을 수 없거나 잘못된 경로.
          content: 
            text/plain: 
              schema: 
                type: string
        "500": 
          description: 일반 오류
          content: 
            text/plain: 
              schema: 
                type: string
  "/api/userdata/{file}": 
    get: 
      tags: 
        - user
      operationId: getUserdataFile
      summary: 사용자 데이터 파일 가져오기
      description: 요청한 사용자 데이터 파일이 존재하면 반환합니다.
      parameters: 
        - name: file
          in: path
          required: true
          description: 검색할 사용자 데이터의 파일 이름.
          schema: 
            type: string
      responses: 
        "200": 
          description: 파일을 성공적으로 검색했습니다.
          content: 
            application/octet-stream: 
              schema: 
                type: string
                format: binary
        "400": 
          description: "잘못된 요청 (예: 잘못된 파일명)."
          content: 
            text/plain: 
              schema: 
                type: string
        "401": 
          description: 인증되지 않음.
          content: 
            text/plain: 
              schema: 
                type: string
        "404": 
          description: 파일을 찾을 수 없거나 잘못된 경로.
          content: 
            text/plain: 
              schema: 
                type: string
        "500": 
          description: 일반 오류
          content: 
            text/plain: 
              schema: 
                type: string
    post: 
      tags: 
        - user
      operationId: postUserdataFile
      summary: 사용자 데이터 파일 업로드 또는 업데이트
      description: "사용자 데이터 디렉토리에 파일을 업로드합니다. 선택적 쿼리 파라미터를 통해 덮어쓰기 동작 및 응답 세부 정보를 제어할 수 있습니다.\n"
      parameters: 
        - name: file
          in: path
          required: true
          description: 대상 파일 경로 (필요한 경우 URL 인코딩).
          schema: 
            type: string
        - name: overwrite
          in: query
          required: false
          description: "\"거짓\"이면 기존 파일 덮어쓰기를 방지합니다. 기본값은 \"참\"입니다."
          schema: 
            type: string
            enum: 
              - "true"
              - "false"
            default: "true"
        - name: full_info
          in: query
          required: false
          description: "\"참\"이면 자세한 파일 정보를 반환하고, \"거짓\"이면 상대 경로만 반환합니다."
          schema: 
            type: string
            enum: 
              - "true"
              - "false"
            default: "false"
      requestBody: 
        required: true
        content: 
          application/octet-stream: 
            schema: 
              type: string
              format: binary
      responses: 
        "200": 
          description: 파일 업로드 성공.
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/UserDataResponseFull"
        "400": 
          description: "'file' 파라미터 누락 또는 잘못됨."
          content: 
            text/plain: 
              schema: 
                type: string
        "401": 
          description: 인증되지 않음.
          content: 
            text/plain: 
              schema: 
                type: string
        "403": 
          description: 요청한 경로는 허용되지 않습니다.
          content: 
            text/plain: 
              schema: 
                type: string
        "409": 
          description: 파일이 이미 존재하며 덮어쓰기가 거짓으로 설정되어 있습니다.
          content: 
            text/plain: 
              schema: 
                type: string
        "500": 
          description: 일반 오류
          content: 
            text/plain: 
              schema: 
                type: string
    delete: 
      tags: 
        - user
      operationId: deleteUserdataFile
      summary: 사용자 데이터 파일 삭제
      description: "데이터베이스에서 사용자 데이터 파일을 삭제합니다. 파일 파라미터는 사용자 데이터 디렉토리 내의 상대 경로여야 합니다.\n"
      parameters: 
        - name: file
          in: path
          required: true
          description: 삭제할 파일 경로 (필요한 경우 URL 인코딩).
          schema: 
            type: string
      responses: 
        "204": 
          description: 파일 삭제 성공 (콘텐츠 없음).
        "401": 
          description: 인증되지 않음.
          content: 
            text/plain: 
              schema: 
                type: string
        "404": 
          description: 파일을 찾을 수 없음.
          content: 
            text/plain: 
              schema: 
                type: string
        "500": 
          description: 내부 서버 오류.
          content: 
            text/plain: 
              schema: 
                type: string
  /api/upload/image: 
    post: 
      tags: 
        - file
      summary: 이미지 파일 업로드
      description: "클라우드 저장소에 이미지 파일을 업로드합니다.\n\n이미지 제한 사항:\n  - 최대 파일 크기: 50MB\n  - 각 변의 최대 너비/높이: 16384px\n  - 최대 총 픽셀 수: 64메가픽셀 (67108864 픽셀)\n\n이 제한을 초과하는 업로드는 HTTP 400으로 거부됩니다.\n"
      operationId: uploadImage
      requestBody: 
        required: true
        content: 
          multipart/form-data: 
            schema: 
              type: object
              required: 
                - image
              properties: 
                image: 
                  type: string
                  format: binary
                  description: 업로드할 이미지 파일
                overwrite: 
                  type: string
                  description: "기존 파일 덮어쓰기 여부 (참/거짓).\n**참고:** ComfyUI API 호환성을 위해 허용되지만 클라우드에서는 사실상 무시됩니다.\n클라우드는 콘텐츠 주소 지정 저장소(해시 기반 중복 제거)를 사용하므로, 동일한 콘텐츠는 항상 동일한 해시에 매핑됩니다.\n동일한 콘텐츠를 다시 업로드하는 것은 아무런 작업도 수행하지 않습니다.\n"
                subfolder: 
                  type: string
                  description: "선택적 하위 폴더 경로.\n**참고:** ComfyUI API 호환성을 위해 허용되지만 저장에는 **무시**됩니다.\n클라우드는 해시만으로 에셋을 저장합니다. 하위 폴더는 클라이언트 측 구성을 위해 응답에 반환되지만 서버 측 저장 경로에는 사용되지 않습니다.\n"
                type: 
                  type: string
                  description: "업로드 유형 (기본값: \"output\").\n**참고:** ComfyUI API 호환성을 위해 허용됩니다. 클라우드는 모든 업로드를 디렉토리 기반 구성이 아닌 태그가 있는 에셋으로 저장합니다.\n"
      responses: 
        "200": 
          description: 이미지 업로드 성공
          content: 
            application/json: 
              schema: 
                type: object
                properties: 
                  name: 
                    type: string
                    description: 업로드된 이미지의 파일 이름
                  subfolder: 
                    type: string
                    description: 이미지가 저장된 하위 폴더 경로
                  type: 
                    type: string
                    description: "업로드 유형 (예: \"output\")"
        "400": 
          description: 잘못된 요청
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 인증되지 않음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/upload/mask: 
    post: 
      tags: 
        - file
      summary: 마스크 이미지 업로드
      description: "기존 이미지에 적용할 마스크 이미지를 업로드합니다.\n\n이미지 제한 사항은 업로드된 마스크와 참조된 원본 이미지 모두에 적용됩니다:\n  - 최대 파일 크기: 50 MB\n  - 에지당 최대 너비/높이: 16384 px\n  - 최대 총 픽셀 수: 64 메가픽셀 (67108864 픽셀)\n\n이러한 제한을 초과하는 업로드는 HTTP 400으로 거부됩니다.\n"
      operationId: uploadMask
      requestBody: 
        required: true
        content: 
          multipart/form-data: 
            schema: 
              type: object
              required: 
                - image
                - original_ref
              properties: 
                image: 
                  type: string
                  format: binary
                  description: 업로드할 마스크 이미지 파일
                original_ref: 
                  type: string
                  description: 원본 이미지 참조를 포함하는 JSON 문자열
      responses: 
        "200": 
          description: 마스크 업로드 성공
          content: 
            application/json: 
              schema: 
                type: object
                properties: 
                  name: 
                    type: string
                    description: 업로드된 마스크의 파일 이름
                  subfolder: 
                    type: string
                    description: 마스크가 저장된 하위 폴더 경로
                  type: 
                    type: string
                    description: "업로드 유형 (예: \"output\")"
                  metadata: 
                    type: object
                    description: 마스크 감지 및 재편집을 위한 추가 메타데이터
                    properties: 
                      is_mask: 
                        type: boolean
                        description: 이 파일이 마스크인지 여부
                      original_hash: 
                        type: string
                        description: 원본 언마스크 이미지의 해시
                      mask_type: 
                        type: string
                        description: "마스크 유형 (예: \"painted_masked\")"
                      related_files: 
                        type: object
                        description: 관련 마스크 레이어 파일 (있는 경우)
                        properties: 
                          mask: 
                            type: string
                            description: 마스크 레이어의 해시
                          paint: 
                            type: string
                            description: 페인트 레이어의 해시
                          painted: 
                            type: string
                            description: 페인트된 이미지의 해시
        "400": 
          description: 잘못된 요청
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 인증되지 않음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/system_stats: 
    get: 
      tags: 
        - system
      summary: 시스템 통계 가져오기
      description: "ComfyUI 버전, 장치 정보 및 시스템 리소스를 포함한 시스템 통계를 반환합니다."
      operationId: getSystemStats
      security: 
        []
      responses: 
        "200": 
          description: 성공
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/SystemStatsResponse"
        "401": 
          description: 인증되지 않음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/user: 
    get: 
      tags: 
        - user
      summary: 현재 사용자 정보 가져오기
      description: 현재 인증된 사용자에 대한 정보를 반환합니다
      operationId: getUser
      responses: 
        "200": 
          description: 성공
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/UserResponse"
        "401": 
          description: 인증되지 않음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/job/{job_id}/status": 
    get: 
      tags: 
        - job
      summary: 작업 상태 가져오기
      description: 특정 작업의 현재 상태를 ID로 반환합니다.
      operationId: getJobStatus
      parameters: 
        - name: job_id
          in: path
          required: true
          description: 작업의 고유 ID
          schema: 
            type: string
            format: uuid
      responses: 
        "200": 
          description: "성공: 작업 상태가 반환되었습니다."
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/JobStatusResponse"
        "401": 
          description: 인증 실패
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "403": 
          description: "금지됨: 작업이 다른 사용자에게 속함"
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 작업을 찾을 수 없음
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 내부 서버 오류
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
components: 
  securitySchemes: 
    ApiKeyAuth: 
      type: apiKey
      in: header
      name: X-API-Key
      description: "API 키 인증. 계정 설정에서 API 키를 생성하세요.\nhttps://platform.comfy.org/profile/api-keys 에서 생성할 수 있습니다. X-API-Key 헤더에 키를 전달하세요.\n"
  schemas: 
    PromptRequest: 
      type: object
      required: 
        - prompt
      properties: 
        prompt: 
          type: object
          description: 실행할 워크플로 그래프
          additionalProperties: true
        number: 
          type: number
          description: "실행 대기열의 우선순위 번호(낮은 숫자가 높은 우선순위를 가짐).\n**참고:** ComfyUI API 호환성을 위해 허용되지만 클라우드에서는 **무시됩니다**.\n클라우드는 사용자별 순서와 공정한 스케줄링을 사용하여 자체 실행 대기열 관리를 사용합니다.\n"
        front: 
          type: boolean
          description: "참이면 프롬프트를 실행 대기열의 맨 앞에 추가합니다.\n**참고:** ComfyUI API 호환성을 위해 허용되지만 클라우드에서는 **무시됩니다**.\n클라우드는 작업 제출 시간과 공정한 스케줄링을 기준으로 내부적으로 실행 대기열 순서를 관리합니다.\n"
        extra_data: 
          type: object
          description: 프롬프트와 연결할 추가 데이터
          additionalProperties: true
        partial_execution_targets: 
          type: array
          items: 
            type: string
          description: 실행할 노드 이름 목록
    PromptResponse: 
      type: object
      properties: 
        prompt_id: 
          type: string
          format: uuid
          description: 프롬프트 실행의 고유 식별자
        number: 
          type: number
          description: 실행 대기열의 우선순위 번호
        node_errors: 
          type: object
          description: 프롬프트 노드의 오류
          additionalProperties: true
    ErrorResponse: 
      type: object
      required: 
        - code
        - message
      properties: 
        code: 
          type: string
        message: 
          type: string
    PromptInfo: 
      type: object
      properties: 
        exec_info: 
          type: object
          properties: 
            queue_remaining: 
              type: integer
              description: 실행 대기열에 남은 항목 수
    NodeInfo: 
      type: object
      properties: 
        input: 
          type: object
          description: 노드의 입력 사양
          additionalProperties: true
        input_order: 
          type: object
          description: 표시를 위한 입력 순서
          additionalProperties: 
            type: array
            items: 
              type: string
        output: 
          type: array
          items: 
            type: string
          description: 노드의 출력 유형
        output_is_list: 
          type: array
          items: 
            type: boolean
          description: 각 출력이 목록인지 여부
        output_name: 
          type: array
          items: 
            type: string
          description: 출력 이름
        name: 
          type: string
          description: 노드의 내부 이름
        display_name: 
          type: string
          description: 노드의 표시 이름
        description: 
          type: string
          description: 노드의 설명
        python_module: 
          type: string
          description: 노드를 구현하는 Python 모듈
        category: 
          type: string
          description: 노드의 카테고리
        output_node: 
          type: boolean
          description: 출력 노드인지 여부
        output_tooltips: 
          type: array
          items: 
            type: string
          description: 출력에 대한 도구 설명
        deprecated: 
          type: boolean
          description: 노드가 지원 중단되었는지 여부
        experimental: 
          type: boolean
          description: 노드가 실험적인지 여부
        api_node: 
          type: boolean
          description: API 노드인지 여부
    GlobalSubgraphInfo: 
      type: object
      description: 전역 서브그래프 블루프린트에 대한 메타데이터 (전체 데이터 없음)
      required: 
        - source
        - name
        - info
      properties: 
        source: 
          type: string
          description: "서브그래프의 소스 유형: 워크플로 템플릿의 경우 \"templates\", 커스텀 노드 서브그래프의 경우 \"custom_node\""
        name: 
          type: string
          description: 서브그래프 블루프린트의 표시 이름
        info: 
          type: object
          description: 서브그래프에 대한 추가 정보
          required: 
            - node_pack
          properties: 
            node_pack: 
              type: string
              description: 이 서브그래프를 제공하는 노드 팩/모듈
        data: 
          type: string
          description: 전체 서브그래프 JSON 데이터 (리스트 보기에서는 비어 있을 수 있음)
    GlobalSubgraphData: 
      type: object
      description: 전역 서브그래프 블루프린트의 전체 데이터
      required: 
        - source
        - name
        - info
        - data
      properties: 
        source: 
          type: string
          description: "서브그래프의 소스 유형: 워크플로 템플릿의 경우 \"templates\", 커스텀 노드 서브그래프의 경우 \"custom_node\""
        name: 
          type: string
          description: 서브그래프 블루프린트의 표시 이름
        info: 
          type: object
          description: 서브그래프에 대한 추가 정보
          required: 
            - node_pack
          properties: 
            node_pack: 
              type: string
              description: 이 서브그래프를 제공하는 노드 팩/모듈
        data: 
          type: string
          description: 문자열로 된 전체 서브그래프 JSON 데이터
    HistoryResponse: 
      type: object
      description: "히스토리 배열이 포함된 실행 히스토리 응답.\n히스토리 항목 배열을 포함하는 \"history\" 키가 있는 객체를 반환합니다.\n각 항목에는 실행 데이터와 함께 prompt_id 속성이 포함됩니다.\n"
      required: 
        - history
      properties: 
        history: 
          type: array
          description: 생성 시간 순으로 정렬된 히스토리 항목 배열 (최신순)
          items: 
            $ref: "#/components/schemas/HistoryEntry"
    HistoryEntry: 
      type: object
      description: prompt_id 및 실행 데이터가 포함된 히스토리 항목
      required: 
        - prompt_id
      properties: 
        prompt_id: 
          type: string
          description: 이 프롬프트 실행에 대한 고유 식별자
        create_time: 
          type: integer
          format: int64
          description: 작업 생성 타임스탬프 (밀리초 단위의 UNIX 타임스탬프)
        workflow_id: 
          type: string
          description: 워크플로 그래프 정의를 식별하는 UUID
        prompt: 
          type: object
          description: 필터링된 프롬프트 실행 데이터 (경량 형식)
          properties: 
            priority: 
              type: number
              format: double
              description: 실행 우선순위
            prompt_id: 
              type: string
              description: 프롬프트 ID
            extra_data: 
              type: object
              description: 추가 실행 데이터 (extra_pnginfo에서 워크플로가 제거됨)
              additionalProperties: true
        outputs: 
          type: object
          description: "실행에서 생성된 이미지, 파일 등의 출력 데이터"
          additionalProperties: true
        status: 
          type: object
          description: 실행 상태 및 타임라인 정보
          additionalProperties: true
        meta: 
          type: object
          description: 실행 및 노드에 대한 메타데이터
          additionalProperties: true
    HistoryDetailEntry: 
      type: object
      description: 전체 프롬프트 데이터가 포함된 히스토리 항목
      properties: 
        prompt: 
          type: object
          description: 전체 프롬프트 실행 데이터
          properties: 
            priority: 
              type: number
              format: double
              description: 실행 우선순위
            prompt_id: 
              type: string
              description: 프롬프트 ID
            prompt: 
              type: object
              description: 워크플로 노드
              additionalProperties: true
            extra_data: 
              type: object
              description: 추가 실행 데이터
              additionalProperties: true
            outputs_to_execute: 
              type: array
              items: 
                type: string
              description: 실행할 출력 노드
        outputs: 
          type: object
          description: "실행의 출력 데이터 (생성된 이미지, 파일 등)"
          additionalProperties: true
        status: 
          type: object
          description: 실행 상태 및 타임라인 정보
          additionalProperties: true
        meta: 
          type: object
          description: 실행 및 노드에 대한 메타데이터
          additionalProperties: true
    HistoryDetailResponse: 
      type: object
      description: "특정 프롬프트에 대한 상세 실행 히스토리 응답.\nprompt_id를 키로, 전체 히스토리 데이터를 값으로 하는 사전을 반환합니다.\n"
      additionalProperties: 
        $ref: "#/components/schemas/HistoryDetailEntry"
    QueueInfo: 
      type: object
      description: 대기 중 및 실행 중인 작업이 포함된 실행 대기열 정보
      properties: 
        queue_running: 
          type: array
          description: 현재 실행 중인 작업 항목 배열
          items: 
            $ref: "#/components/schemas/QueueItem"
        queue_pending: 
          type: array
          description: "대기 중인 작업 항목 배열(생성 시간 순, 가장 오래된 항목 먼저)"
          items: 
            $ref: "#/components/schemas/QueueItem"
    QueueItem: 
      type: array
      description: "실행 대기열 항목 튜플 형식: [job_number, prompt_id, workflow_json, output_node_ids, metadata]\n- [0] job_number (정수): 실행 대기열 내 위치(1부터 시작)\n- [1] prompt_id (문자열): 작업 UUID\n- [2] workflow_json (객체): 전체 ComfyUI 워크플로\n- [3] output_node_ids (배열): 결과를 반환할 노드 ID\n- [4] metadata (객체): {create_time: <밀리초>} 포함\n"
      items: 
        oneOf: 
          - type: integer
            description: 작업 번호(실행 대기열 내 위치)
          - type: string
            description: 프롬프트 ID(UUID)
          - type: object
            description: 워크플로 JSON
          - type: array
            items: 
              type: string
            description: 출력 노드 ID
          - type: object
            description: create_time이 포함된 메타데이터
    QueueManageRequest: 
      type: object
      description: 실행 대기열 연산 관리 요청
      properties: 
        delete: 
          type: array
          items: 
            type: string
          description: 취소할 대기 중인 작업 ID 배열
        clear: 
          type: boolean
          description: 참이면 실행 대기열에서 대기 중인 모든 작업을 지웁니다
      additionalProperties: false
    QueueManageResponse: 
      type: object
      properties: 
        deleted: 
          type: array
          items: 
            type: string
          description: 성공적으로 취소된 작업 ID 배열
        cleared: 
          type: boolean
          description: 실행 대기열이 지워졌는지 여부
    JobStatusResponse: 
      type: object
      description: 작업 상태 정보
      properties: 
        id: 
          type: string
          format: uuid
          description: 작업 ID
        status: 
          type: string
          enum: 
            - waiting_to_dispatch
            - pending
            - in_progress
            - completed
            - error
            - cancelled
          description: 현재 작업 상태
        created_at: 
          type: string
          format: date-time
          description: 작업이 생성된 시간
        updated_at: 
          type: string
          format: date-time
          description: 작업이 마지막으로 업데이트된 시간
        last_state_update: 
          type: string
          format: date-time
          description: 작업 상태가 마지막으로 변경된 시간
        assigned_inference: 
          type: string
          nullable: true
          description: 이 작업에 할당된 추론 인스턴스(있는 경우)
        error_message: 
          type: string
          nullable: true
          description: 작업 실패 시 오류 메시지
      required: 
        - id
        - status
        - created_at
        - updated_at
    HistoryManageRequest: 
      type: object
      description: 히스토리 연산을 관리하기 위한 요청
      properties: 
        delete: 
          type: array
          items: 
            type: string
          description: 히스토리에서 삭제할 작업 ID 배열
        clear: 
          type: boolean
          description: 참인 경우 인증된 사용자의 모든 히스토리를 지웁니다
      additionalProperties: false
    UserDataResponse: 
      oneOf: 
        - $ref: "#/components/schemas/UserDataResponseFull"
        - $ref: "#/components/schemas/UserDataResponseShort"
    UserDataResponseFull: 
      type: object
      properties: 
        path: 
          type: string
        size: 
          type: integer
        modified: 
          type: string
          format: date-time
    UserDataResponseShort: 
      type: string
    GetUserDataResponseFull: 
      type: array
      items: 
        $ref: "#/components/schemas/GetUserDataResponseFullFile"
    GetUserDataResponseFullFile: 
      type: object
      properties: 
        path: 
          type: string
          description: 사용자 디렉터리 기준 파일 이름 또는 경로.
        size: 
          type: integer
          description: 바이트 단위의 파일 크기.
        modified: 
          type: number
          format: float
          description: 마지막 수정의 UNIX 타임스탬프.
    PromptErrorResponse: 
      type: object
      description: ComfyUI 프롬프트 실행에 대한 오류 응답
      additionalProperties: true
    ModelFolder: 
      type: object
      description: 모델이 포함된 폴더를 나타냅니다
      required: 
        - name
        - folders
      properties: 
        name: 
          type: string
          description: 모델 폴더의 이름
          example: checkpoints
        folders: 
          type: array
          items: 
            type: string
          description: 이 유형의 모델이 저장된 경로 목록
          example: 
            - checkpoints
    ModelFile: 
      type: object
      description: 메타데이터가 포함된 모델 파일을 나타냅니다
      required: 
        - name
        - pathIndex
      properties: 
        name: 
          type: string
          description: 모델의 파일 이름
          example: model.safetensors
        pathIndex: 
          type: integer
          description: 이 모델이 있는 경로의 인덱스
          example: 0
    SystemStatsResponse: 
      type: object
      description: 시스템 통계 응답
      required: 
        - system
        - devices
      properties: 
        system: 
          type: object
          required: 
            - os
            - python_version
            - embedded_python
            - comfyui_version
            - pytorch_version
            - argv
            - ram_total
            - ram_free
          properties: 
            os: 
              type: string
              description: 운영 체제
            python_version: 
              type: string
              description: 파이썬 버전
            embedded_python: 
              type: boolean
              description: 내장 파이썬 사용 여부
            comfyui_version: 
              type: string
              description: ComfyUI 버전
            comfyui_frontend_version: 
              type: string
              description: ComfyUI 프론트엔드 버전(커밋 해시 또는 태그)
            workflow_templates_version: 
              type: string
              description: 워크플로 템플릿 버전
            cloud_version: 
              type: string
              description: 클라우드 수집 서비스 버전(커밋 해시)
            pytorch_version: 
              type: string
              description: PyTorch 버전
            argv: 
              type: array
              items: 
                type: string
              description: 명령줄 인수
            ram_total: 
              type: number
              description: 총 RAM(바이트)
            ram_free: 
              type: number
              description: 사용 가능한 RAM(바이트)
        devices: 
          type: array
          items: 
            type: object
            required: 
              - name
              - type
            properties: 
              name: 
                type: string
                description: 장치 이름
              type: 
                type: string
                description: 장치 유형
              vram_total: 
                type: number
                description: 총 VRAM(바이트)
              vram_free: 
                type: number
                description: 사용 가능한 VRAM(바이트)
    UserResponse: 
      type: object
      description: 사용자 정보 응답
      required: 
        - status
      properties: 
        status: 
          type: string
          description: 사용자 상태(활성 또는 대기 목록)
    Asset: 
      type: object
      required: 
        - id
        - name
        - size
        - created_at
        - updated_at
      properties: 
        id: 
          type: string
          format: uuid
          description: 에셋의 고유 식별자
        name: 
          type: string
          description: 에셋 파일의 이름
        asset_hash: 
          type: string
          description: 에셋 콘텐츠의 Blake3 해시
          pattern: "^blake3:[a-f0-9]{64}$"
        size: 
          type: integer
          format: int64
          description: 에셋의 크기(바이트 단위)
        mime_type: 
          type: string
          description: 에셋의 MIME 유형
        tags: 
          type: array
          items: 
            type: string
          description: 에셋과 연결된 태그
        user_metadata: 
          type: object
          description: 에셋의 사용자 정의 메타데이터
          additionalProperties: true
        preview_url: 
          type: string
          format: uri
          description: 에셋 미리보기/썸네일 URL
        preview_id: 
          type: string
          format: uuid
          description: 사용 가능한 경우 미리보기 에셋의 ID
          nullable: true
        prompt_id: 
          type: string
          format: uuid
          description: 이 에셋을 생성한 작업/프롬프트의 ID (사용 가능한 경우)
          nullable: true
        created_at: 
          type: string
          format: date-time
          description: 에셋이 생성된 타임스탬프
        updated_at: 
          type: string
          format: date-time
          description: 에셋이 마지막으로 업데이트된 타임스탬프
        last_access_time: 
          type: string
          format: date-time
          description: 에셋이 마지막으로 액세스된 타임스탬프
        is_immutable: 
          type: boolean
          description: 이 에셋이 불변인지 여부 (수정 또는 삭제할 수 없음)
    AssetCreated: 
      allOf: 
        - $ref: "#/components/schemas/Asset"
        - type: object
          required: 
            - created_new
          properties: 
            created_new: 
              type: boolean
              description: 이것이 새 에셋 생성(참)인지 아니면 기존 항목 반환(거짓)인지 여부
    AssetUpdated: 
      type: object
      required: 
        - id
        - updated_at
      properties: 
        id: 
          type: string
          format: uuid
          description: 에셋 ID
        name: 
          type: string
          description: 업데이트된 에셋의 이름
        asset_hash: 
          type: string
          description: 에셋 콘텐츠의 Blake3 해시
          pattern: "^blake3:[a-f0-9]{64}$"
        tags: 
          type: array
          items: 
            type: string
          description: 업데이트된 에셋의 태그
        mime_type: 
          type: string
          description: 업데이트된 에셋의 MIME 유형
        user_metadata: 
          type: object
          description: 업데이트된 사용자 정의 메타데이터
          additionalProperties: true
        updated_at: 
          type: string
          format: date-time
          description: 업데이트 타임스탬프
    ListAssetsResponse: 
      type: object
      required: 
        - assets
        - total
        - has_more
      properties: 
        assets: 
          type: array
          items: 
            $ref: "#/components/schemas/Asset"
          description: 쿼리와 일치하는 에셋 목록
        total: 
          type: integer
          description: 필터와 일치하는 전체 에셋 수
        has_more: 
          type: boolean
          description: 이 페이지 이후에 더 많은 에셋이 있는지 여부
    TagInfo: 
      type: object
      required: 
        - name
        - count
      properties: 
        name: 
          type: string
          description: 태그 이름
        count: 
          type: integer
          description: 이 태그를 사용하는 에셋 수
    ListTagsResponse: 
      type: object
      required: 
        - tags
        - total
        - has_more
      properties: 
        tags: 
          type: array
          items: 
            $ref: "#/components/schemas/TagInfo"
          description: 태그 목록
        total: 
          type: integer
          description: 전체 태그 수
        has_more: 
          type: boolean
          description: 더 많은 태그가 있는지 여부
    AssetTagHistogramResponse: 
      type: object
      required: 
        - tag_counts
      properties: 
        tag_counts: 
          type: object
          additionalProperties: 
            type: integer
          description: 일치하는 에셋에서 태그 이름과 해당 발생 횟수의 매핑
          example: 
            checkpoint: 32
            lora: 193
            vae: 6
    AssetMetadataResponse: 
      type: object
      required: 
        - content_length
      properties: 
        content_length: 
          type: integer
          format: int64
          description: "에셋의 크기(바이트 단위, 알 수 없는 경우 -1)"
          example: 4294967296
        content_type: 
          type: string
          description: 에셋의 MIME 유형
          example: application/octet-stream
        filename: 
          type: string
          description: 소스에서 가져온 에셋의 제안된 파일 이름
          example: realistic-vision-v5.safetensors
        name: 
          type: string
          description: 소스에서 가져온 에셋의 표시 이름 또는 제목
          example: Realistic Vision v5.0
        tags: 
          type: array
          items: 
            type: string
          description: 소스에서 가져온 분류 태그
          example: 
            - models
            - checkpoint
        preview_image: 
          type: string
          description: base64로 인코딩된 데이터 URL 형태의 이미지 미리보기
          example: "data:image/jpeg;base64,/9j/4AAQSkZJRg..."
        validation: 
          $ref: "#/components/schemas/ValidationResult"
          description: 파일에 대한 검증 결과
    AssetDownloadResponse: 
      type: object
      required: 
        - task_id
        - status
      properties: 
        task_id: 
          type: string
          format: uuid
          description: "GET /api/tasks/{task_id}를 통해 다운로드 진행 상황을 추적하는 작업 ID"
        status: 
          type: string
          enum: 
            - created
            - running
            - completed
            - failed
          description: 현재 작업 상태
        message: 
          type: string
          description: 사람이 읽을 수 있는 메시지
          example: Download task created. Use task_id to track progress.
    ValidationResult: 
      type: object
      required: 
        - is_valid
      properties: 
        is_valid: 
          type: boolean
          description: 전체 검증 상태(모든 검사 통과 시 참)
          example: true
        errors: 
          type: array
          items: 
            $ref: "#/components/schemas/ValidationError"
          description: 다운로드를 차단하는 검증 오류
        warnings: 
          type: array
          items: 
            $ref: "#/components/schemas/ValidationError"
          description: 비차단 검증 경고(정보 제공용)
    ValidationError: 
      type: object
      required: 
        - code
        - message
        - field
      properties: 
        code: 
          type: string
          description: 기계 판독 가능 오류 코드
          example: FORMAT_NOT_ALLOWED
        message: 
          type: string
          description: 사람이 읽을 수 있는 오류 메시지
          example: "File format \"PickleTensor\" is not allowed. Allowed formats: [SafeTensor]"
        field: 
          type: string
          description: 검증에 실패한 필드
          example: format
    TagsModificationResponse: 
      type: object
      required: 
        - total_tags
      properties: 
        added: 
          type: array
          items: 
            type: string
          description: 성공적으로 추가된 태그(추가 작업의 경우)
        removed: 
          type: array
          items: 
            type: string
          description: 성공적으로 제거된 태그(제거 작업의 경우)
        already_present: 
          type: array
          items: 
            type: string
          description: 이미 존재했던 태그(추가 작업의 경우)
        not_present: 
          type: array
          items: 
            type: string
          description: 존재하지 않았던 태그(제거 작업의 경우)
        total_tags: 
          type: array
          items: 
            type: string
          description: 작업 후 에셋의 모든 태그
    JobsListResponse: 
      type: object
      required: 
        - jobs
        - pagination
      properties: 
        jobs: 
          type: array
          description: 지정된 정렬 필드에 따라 정렬된 작업 배열
          items: 
            $ref: "#/components/schemas/JobEntry"
        pagination: 
          $ref: "#/components/schemas/PaginationInfo"
    JobEntry: 
      type: object
      description: 목록 보기를 위한 경량 작업 데이터 (워크플로 및 전체 출력 제외)
      required: 
        - id
        - status
        - create_time
      properties: 
        id: 
          type: string
          format: uuid
          description: 고유 작업 식별자
        status: 
          type: string
          enum: 
            - pending
            - in_progress
            - completed
            - failed
            - cancelled
          description: 사용자 친화적인 작업 상태
        execution_error: 
          $ref: "#/components/schemas/ExecutionError"
          description: ComfyUI의 상세 실행 오류 (구조화된 오류 데이터가 있는 실패한 작업에만 해당)
        create_time: 
          type: integer
          format: int64
          description: 작업 생성 타임스탬프 (초 단위 Unix 타임스탬프)
        preview_output: 
          type: object
          description: 기본 출력 미리보기 (터미널 상태에만 있음)
          additionalProperties: true
        outputs_count: 
          type: integer
          description: 출력 파일 총 개수 (비터미널 상태에서는 생략됨)
        workflow_id: 
          type: string
          description: 워크플로 그래프 정의를 식별하는 UUID
        execution_start_time: 
          type: integer
          format: int64
          description: "워크플로 실행 시작 타임스탬프 (Unix 밀리초, 터미널 상태에만 있음)"
        execution_end_time: 
          type: integer
          format: int64
          description: "워크플로 실행 완료 타임스탬프 (Unix 밀리초, 터미널 상태에만 있음)"
    JobDetailResponse: 
      type: object
      description: 워크플로 및 출력을 포함한 전체 작업 세부 정보
      required: 
        - id
        - status
        - create_time
        - update_time
      properties: 
        id: 
          type: string
          format: uuid
          description: 고유 작업 식별자
        status: 
          type: string
          enum: 
            - pending
            - in_progress
            - completed
            - failed
            - cancelled
          description: 사용자 친화적인 작업 상태
        workflow: 
          type: object
          description: "전체 ComfyUI 워크플로 (10-100KB, 사용 불가 시 생략됨)"
          additionalProperties: true
        execution_error: 
          $ref: "#/components/schemas/ExecutionError"
          description: ComfyUI의 상세 실행 오류 (구조화된 오류 데이터가 있는 실패한 작업에만 해당)
        create_time: 
          type: integer
          format: int64
          description: 작업 생성 타임스탬프 (초 단위 Unix 타임스탬프)
        update_time: 
          type: integer
          format: int64
          description: 마지막 업데이트 타임스탬프 (초 단위 Unix 타임스탬프)
        outputs: 
          type: object
          description: ComfyUI의 전체 출력 객체 (터미널 상태에만 해당)
          additionalProperties: true
        preview_output: 
          type: object
          description: 기본 출력 미리보기 (터미널 상태에만 해당)
          additionalProperties: true
        outputs_count: 
          type: integer
          description: 출력 파일 총 개수 (비터미널 상태에서는 생략됨)
        workflow_id: 
          type: string
          description: 워크플로 그래프 정의를 식별하는 UUID
        execution_status: 
          type: object
          description: ComfyUI 실행 상태 및 타임라인 (터미널 상태에만 해당)
          additionalProperties: true
        execution_meta: 
          type: object
          description: 노드 수준 실행 메타데이터 (터미널 상태에만 해당)
          additionalProperties: true
    ExecutionError: 
      type: object
      description: ComfyUI의 상세한 실행 오류 정보
      required: 
        - node_id
        - node_type
        - exception_message
        - exception_type
        - traceback
        - current_inputs
        - current_outputs
      properties: 
        node_id: 
          type: string
          description: 실패한 노드의 ID
        node_type: 
          type: string
          description: "노드의 유형 이름 (예: \"KSampler\")"
        exception_message: 
          type: string
          description: 사람이 읽을 수 있는 오류 메시지
        exception_type: 
          type: string
          description: "Python 예외 유형 (예: \"RuntimeError\")"
        traceback: 
          type: array
          items: 
            type: string
          description: 역추적 라인의 배열 (사용 불가 시 빈 배열)
        current_inputs: 
          type: object
          additionalProperties: true
          description: 실패 시점의 입력 값 (사용 불가 경우 빈 객체)
        current_outputs: 
          type: object
          additionalProperties: true
          description: 실패 시점의 출력 값 (사용 불가 시 빈 객체)
    PaginationInfo: 
      type: object
      required: 
        - offset
        - limit
        - total
        - has_more
      properties: 
        offset: 
          type: integer
          minimum: 0
          description: 현재 오프셋(0부터 시작)
        limit: 
          type: integer
          minimum: 1
          description: 페이지당 항목 수
        total: 
          type: integer
          minimum: 0
          description: 필터와 일치하는 총 항목 수
        has_more: 
          type: boolean
          description: 이 페이지 이후에 추가 항목이 있는지 여부
    WebSocketMessage: 
      type: object
      description: "모든 WebSocket 메시지의 기본 구조. 메시지는 JSON이며, type 필드는 메시지 유형을 나타내고 data 필드는 유형별 페이로드를 포함합니다.\n"
      required: 
        - type
      properties: 
        type: 
          $ref: "#/components/schemas/WebSocketMessageType"
        data: 
          type: object
          description: 메시지 페이로드 (유형에 따라 구조가 다름)
          additionalProperties: true
    WebSocketMessageType: 
      type: string
      description: "WebSocket 메시지 유형. ComfyUI의 기본 메시지 유형과 일치합니다.\n"
      enum: 
        - status
        - execution_start
        - execution_cached
        - executing
        - progress
        - progress_state
        - executed
        - execution_success
        - execution_error
        - execution_interrupted
    WebSocketStatusMessage: 
      type: object
      description: "실행 대기열 상태 업데이트. 실행 대기열 상태가 변경될 때 전송됩니다.\n"
      properties: 
        type: 
          type: string
          enum: 
            - status
        data: 
          type: object
          properties: 
            status: 
              type: object
              properties: 
                exec_info: 
                  type: object
                  properties: 
                    queue_remaining: 
                      type: integer
                      description: 이 사용자의 실행 대기열에 남은 작업 수
            sid: 
              type: string
              description: 세션 ID (초기 연결 시에만)
    WebSocketExecutionStartMessage: 
      type: object
      description: "워크플로 실행이 시작될 때 전송됩니다.\n"
      properties: 
        type: 
          type: string
          enum: 
            - execution_start
        data: 
          type: object
          required: 
            - prompt_id
          properties: 
            prompt_id: 
              type: string
              format: uuid
              description: 실행을 시작한 작업/프롬프트 ID
    WebSocketExecutingMessage: 
      type: object
      description: "특정 노드가 실행을 시작할 때 전송됩니다.\n"
      properties: 
        type: 
          type: string
          enum: 
            - executing
        data: 
          type: object
          required: 
            - prompt_id
          properties: 
            prompt_id: 
              type: string
              format: uuid
            node: 
              type: string
              description: 현재 실행 중인 노드 ID(실행 완료 시 null)
            display_node: 
              type: string
              description: 표시 노드 ID(그룹화된 노드의 경우 노드와 다를 수 있음)
    WebSocketProgressMessage: 
      type: object
      description: "노드 내 단계별 진행 상황 (예: 확산 샘플링 단계).\n"
      properties: 
        type: 
          type: string
          enum: 
            - progress
        data: 
          type: object
          required: 
            - prompt_id
            - node
            - value
            - max
          properties: 
            prompt_id: 
              type: string
              format: uuid
            node: 
              type: string
              description: 진행 상황을 표시하는 노드 ID
            value: 
              type: integer
              description: 현재 단계 번호
            max: 
              type: integer
              description: 전체 단계 수
    WebSocketProgressStateMessage: 
      type: object
      description: "자세한 노드 메타데이터가 포함된 확장된 진행 상태. 단순한 `progress` 메시지보다 더 풍부한 컨텍스트를 제공합니다.\n"
      properties: 
        type: 
          type: string
          enum: 
            - progress_state
        data: 
          type: object
          properties: 
            prompt_id: 
              type: string
              format: uuid
            nodes: 
              type: object
              description: 노드 ID를 해당 진행 상태에 매핑한 맵
              additionalProperties: 
                type: object
                properties: 
                  node_id: 
                    type: string
                  display_node_id: 
                    type: string
                  real_node_id: 
                    type: string
                  prompt_id: 
                    type: string
                  class_type: 
                    type: string
                    description: "노드의 클래스 유형 (예: \"KSampler\")"
    WebSocketExecutedMessage: 
      type: object
      description: "노드가 출력과 함께 실행을 완료할 때 전송됩니다.\n"
      properties: 
        type: 
          type: string
[...]
