# translationSourceHash: ff9adab0
# translationFrom: openapi/cloud.en.yaml

openapi: 3.0.3
info: 
  title: Comfy Cloud API
  description: "<Warning>\n**実験的API:** このAPIは実験的であり、変更される可能性があります。\nエンドポイント、リクエスト/レスポンス形式、および動作は予告なく変更される場合があります。\n</Warning>\n\nComfy CloudのAPI - クラウドインフラ上でComfyUIワークフローを実行します。\n\nこのAPIを使用すると、Comfy Cloudとプログラムで連携できます。内容は次のとおりです。\n- ワークフローの送信と管理\n- ファイルのアップロードとダウンロード\n- ジョブの状態と進捗の監視\n\n## クラウド vs OSS ComfyUI 互換性\n\nComfy Cloudは最大限の互換性のためにOSS ComfyUIと同じAPIインターフェースを実装していますが、一部のフィールドは互換性のために受け入れられますが、異なる処理が行われたり無視されたりします。\n\n| フィールド | エンドポイント | クラウドの動作 |\n|-------|-----------|----------------|\n| `subfolder` | `/api/view`, `/api/upload/*` | **無視** - クラウドはコンテンツアドレスストレージ（ハッシュベース）を使用します。クライアント側の整理のためにレスポンスで返されます。 |\n| `type` (input/output/temp) | `/api/view`, `/api/upload/*` | 部分的に使用 - すべてのファイルはディレクトリ構造ではなくタグベースの整理で保存されます。 |\n| `overwrite` | `/api/upload/*` | **無視** - コンテンツアドレスストレージでは、同一のコンテンツは常に同じハッシュを持ちます。 |\n| `number`, `front` | `/api/prompt` | **無視** - クラウドはユーザーごとに独自の公平キュー スケジューリングを使用します。 |\n| `split`, `full_info` | `/api/userdata` | **無視** - クラウドは常に完全なファイルメタデータを返します。 |\n\nこれらのフィールドは、既存のComfyUIクライアントやワークフローとのドロップイン互換性のためにAPIスキーマに保持されています。\n"
  version: 1.0.0
  license: 
    name: GNU General Public License v3.0
    url: https://github.com/Comfy-Org/ComfyUI/blob/master/LICENSE
servers: 
  - url: https://cloud.comfy.org
    description: Comfy Cloud API
security: 
  - ApiKeyAuth: 
      []
tags: 
  - name: workflow
    description: "ワークフローを実行のために送信し、実行キューを管理します。\nこれはクラウド上でComfyUIワークフローを実行するための主要な方法です。\n"
  - name: job
    description: "ジョブステータスを監視し、実行履歴を表示し、実行中のジョブを管理します。\nジョブはPOST /api/promptを介してワークフローを送信するときに作成されます。\n"
  - name: asset
    description: "永続的なアセット（画像、モデル、出力）をアップロード、ダウンロード、管理します。\nアセットはタグ付けとメタデータサポートを備えた耐久性のあるストレージを提供します。\n"
  - name: file
    description: "ローカルのComfyUIと互換性のあるレガシーファイルのアップロードおよびダウンロードエンドポイント。\n新しい統合には、代わりにAssets APIの使用を検討してください。\n"
  - name: model
    description: "利用可能なAIモデルをブラウズします。モデルはクラウドインフラストラクチャにプリロードされています。\n"
  - name: node
    description: "利用可能なComfyUIノードとその入力/出力に関する情報を取得します。\n動的なワークフローインターフェースの構築に役立ちます。\n"
  - name: user
    description: "ユーザーアカウント情報と個人データの保存。\n"
  - name: system
    description: "サーバーステータス、ヘルスチェック、システム情報。\n"
x-tagGroups: 
  - name: Core
    tags: 
      - workflow
      - job
  - name: Storage
    tags: 
      - asset
      - file
  - name: Reference
    tags: 
      - model
      - node
  - name: Account
    tags: 
      - user
      - system
paths: 
  /api/prompt: 
    post: 
      tags: 
        - workflow
      summary: ワークフローを実行のために送信
      description: "バックエンドで実行されるワークフローを送信します。\nワークフローはノードとその接続を記述するJSONオブジェクトです。\n"
      operationId: executePrompt
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/PromptRequest"
      responses: 
        "200": 
          description: 成功 - プロンプトを受け付けました
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PromptResponse"
        "400": 
          description: 無効なプロンプト
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PromptErrorResponse"
        "402": 
          description: 支払いが必要 - クレジット不足
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PromptErrorResponse"
        "429": 
          description: 支払いが必要 - ユーザーが未払い
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PromptErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PromptErrorResponse"
        "503": 
          description: サービス利用不可
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PromptErrorResponse"
    get: 
      tags: 
        - workflow
      summary: 現在のプロンプト実行に関する情報を取得
      description: 実行キュー内の現在のプロンプトに関する情報を返します
      operationId: getPromptInfo
      responses: 
        "200": 
          description: 成功
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PromptInfo"
        "401": 
          description: 認証エラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/object_info: 
    get: 
      tags: 
        - node
      summary: すべてのノード情報を取得
      description: 利用可能なすべてのノードに関する情報を返します
      operationId: getNodeInfo
      responses: 
        "200": 
          description: 成功
          content: 
            application/json: 
              schema: 
                type: object
                additionalProperties: 
                  $ref: "#/components/schemas/NodeInfo"
  /api/features: 
    get: 
      tags: 
        - node
      summary: サーバーの機能フラグを取得
      description: サーバーの機能を返します
      operationId: getFeatures
      security: 
        - ApiKeyAuth: 
            []
        - {}
      responses: 
        "200": 
          description: 成功
          content: 
            application/json: 
              schema: 
                type: object
                properties: 
                  supports_preview_metadata: 
                    type: boolean
                    description: サーバーがプレビューメタデータをサポートするかどうか
                  max_upload_size: 
                    type: integer
                    description: アップロード最大サイズ（バイト単位）
                additionalProperties: true
  /api/workflow_templates: 
    get: 
      tags: 
        - workflow
      summary: 利用可能なワークフローテンプレートを取得
      description: 利用可能なワークフローテンプレートを返します
      operationId: getWorkflowTemplates
      security: 
        []
      responses: 
        "200": 
          description: 成功
          content: 
            application/json: 
              schema: 
                type: object
                description: ワークフローテンプレート用の空のオブジェクト
  /api/global_subgraphs: 
    get: 
      tags: 
        - workflow
      summary: 利用可能なサブグラフブループリントを取得
      description: "グローバルに利用可能なサブグラフブループリントのリストを返します。\nこれらはノードとして使用できる事前構築されたワークフローコンポーネントです。\ndataフィールドには、完全なサブグラフJSONに解決されるプロミスが含まれています。\n"
      operationId: getGlobalSubgraphs
      security: 
        []
      responses: 
        "200": 
          description: 成功 - サブグラフIDからメタデータへのマップ
          content: 
            application/json: 
              schema: 
                type: object
                additionalProperties: 
                  $ref: "#/components/schemas/GlobalSubgraphInfo"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/global_subgraphs/{id}": 
    get: 
      tags: 
        - workflow
      summary: 特定のサブグラフブループリントを取得
      description: IDで特定のサブグラフブループリントの完全なデータを返します
      operationId: getGlobalSubgraph
      security: 
        []
      parameters: 
        - name: id
          in: path
          required: true
          description: サブグラフブループリントの一意の識別子
          schema: 
            type: string
      responses: 
        "200": 
          description: 成功 - 完全なサブグラフデータ
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/GlobalSubgraphData"
        "404": 
          description: サブグラフが見つかりません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/experiment/models: 
    get: 
      tags: 
        - model
      summary: 利用可能なモデルフォルダーを取得
      description: "システムで利用可能なモデルフォルダーのリストを返します。\nこれはレガシーな/modelsエンドポイントを置き換える実験的なエンドポイントです。\n"
      operationId: getModelFolders
      security: 
        []
      responses: 
        "200": 
          description: 成功 - モデルフォルダーのリスト
          content: 
            application/json: 
              schema: 
                type: array
                items: 
                  $ref: "#/components/schemas/ModelFolder"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/experiment/models/{folder}": 
    get: 
      tags: 
        - model
      summary: 特定のフォルダー内のモデルを取得
      description: "指定されたフォルダー内で利用可能なモデルのリストを返します。\nこれは実験的エンドポイントであり、拡張されたモデル情報を提供します。\n"
      operationId: getModelsInFolder
      security: 
        []
      parameters: 
        - name: folder
          in: path
          required: true
          description: モデルを一覧表示するためのフォルダー名
          schema: 
            type: string
            example: checkpoints
      responses: 
        "200": 
          description: 成功 - フォルダー内のモデルのリスト
          content: 
            application/json: 
              schema: 
                type: array
                items: 
                  $ref: "#/components/schemas/ModelFile"
        "404": 
          description: フォルダーが見つからないか、フォルダー内にモデルがありません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/experiment/models/preview/{folder}/{path_index}/{filename}": 
    get: 
      tags: 
        - model
      summary: モデル画像プレビューを取得
      description: "指定されたモデルの画像プレビューを返します。\n画像は最適なパフォーマンスのためにWebP形式で返されます。\n"
      operationId: getModelPreview
      security: 
        []
      parameters: 
        - name: folder
          in: path
          required: true
          description: モデルを含むフォルダー名
          schema: 
            type: string
            example: checkpoints
        - name: path_index
          in: path
          required: true
          description: パスインデックス（通常はクラウドサービスの場合は0）
          schema: 
            type: integer
            example: 0
        - name: filename
          in: path
          required: true
          description: モデルファイル名（.webp拡張子の有無にかかわらず）
          schema: 
            type: string
            example: model.safetensors
      responses: 
        "200": 
          description: 成功 - モデルの画像プレビュー
          content: 
            image/webp: 
              schema: 
                type: string
                format: binary
        "404": 
          description: モデルが見つからないか、プレビューが利用不可
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/history: 
    post: 
      tags: 
        - job
      summary: 実行履歴の管理
      description: "認証されたユーザーの履歴をすべてクリアするか、特定のジョブIDを削除します。\nすべての履歴をクリアするか、特定のジョブIDを削除することをサポートします。\n"
      operationId: manageHistory
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/HistoryManageRequest"
      responses: 
        "200": 
          description: 成功 - 履歴管理操作が完了しました
        "400": 
          description: 無効なリクエストパラメータ
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 認証が必要です
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/history_v2: 
    get: 
      tags: 
        - job
      summary: 実行履歴の取得（v2）
      deprecated: true
      description: "**非推奨。** 代わりに[`/api/jobs`](#tag/job/GET/api/jobs)を使用してください。このエンドポイントはComfyUI互換性のために維持されていますが、将来のリリースで削除される予定です。削除日は未定です。\n\n認証されたユーザーの実行履歴をページネーションサポート付きで取得します。\nフィルタリングされたプロンプトデータを含む軽量な履歴形式を返します（extra_pnginfoからワークフローが除去されています）。\n"
      operationId: getHistory
      parameters: 
        - name: max_items
          in: query
          required: false
          description: 返すアイテムの最大数
          schema: 
            type: integer
        - name: offset
          in: query
          required: false
          description: 開始位置（デフォルト0）
          schema: 
            type: integer
            default: 0
      responses: 
        "200": 
          description: 成功：実行履歴を取得しました
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/HistoryResponse"
        "401": 
          description: 認証が必要です
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/history_v2/{prompt_id}": 
    get: 
      tags: 
        - job
      summary: 特定のプロンプトの履歴を取得
      deprecated: true
      description: "**非推奨。** 代わりに[`/api/jobs/{job_id}`](#tag/job/GET/api/jobs/{job_id})を使用してください。`/api/prompt`が返す`prompt_id`は`job_id`と同じ値です。このエンドポイントはComfyUI互換性のために維持されていますが、将来のリリースで削除される予定です。削除日は未定です。\n\n特定のプロンプトIDの詳細な実行履歴を取得します。\n完全なプロンプト情報を含む履歴データを返します。\n"
      operationId: getHistoryForPrompt
      parameters: 
        - name: prompt_id
          in: path
          required: true
          description: 履歴を取得するプロンプトID
          schema: 
            type: string
      responses: 
        "200": 
          description: 成功：プロンプトの履歴を取得しました
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/HistoryDetailResponse"
        "401": 
          description: 認証が必要です
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: プロンプトが見つかりません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/jobs: 
    get: 
      tags: 
        - job
      summary: ページネーションとフィルタリングでジョブを一覧表示
      description: "認証されたユーザーのジョブのページネーション付きリストを取得します。\nリストビューに最適化された軽量なジョブデータを返します。\nペイロードサイズを削減するため、ワークフローと完全な出力は除外されています。\n"
      operationId: listJobs
      parameters: 
        - name: status
          in: query
          required: false
          description: 1つ以上のステータスでフィルタ（カンマ区切り）。指定しない場合はすべてのジョブが返されます。
          schema: 
            type: string
          example: "pending,in_progress"
        - name: workflow_id
          in: query
          required: false
          description: ワークフローIDでフィルタ（完全一致）
          schema: 
            type: string
          example: 550e8400-e29b-41d4-a716-446655440000
        - name: output_type
          in: query
          required: false
          description: 出力メディアタイプでフィルタ（出力がある完了ジョブにのみ適用）
          schema: 
            type: string
            enum: 
              - image
              - video
              - audio
          example: image
        - name: sort_by
          in: query
          required: false
          description: 並べ替え条件フィールド（create_time = ジョブが送信された時間、execution_time = ワークフローの実行にかかった時間）
          schema: 
            type: string
            enum: 
              - create_time
              - execution_time
            default: create_time
          example: execution_time
        - name: sort_order
          in: query
          required: false
          description: "並び替え方向 (asc = 昇順, desc = 降順)"
          schema: 
            type: string
            enum: 
              - asc
              - desc
            default: desc
        - name: offset
          in: query
          required: false
          description: ページネーションオフセット (0基準)
          schema: 
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          required: false
          description: 1ページあたりの最大アイテム数 (1-1000)
          schema: 
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
      responses: 
        "200": 
          description: 成功 - ジョブを取得しました
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/JobsListResponse"
        "401": 
          description: 認証エラー - 認証が必要です
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/jobs/{job_id}": 
    get: 
      tags: 
        - job
      summary: ジョブの完全な詳細を取得
      description: "特定のジョブの完全な詳細（ワークフローと出力を含む）を取得します。\n詳細ビュー、ワークフローの再実行、デバッグに使用します。\n"
      operationId: getJobDetail
      parameters: 
        - name: job_id
          in: path
          required: true
          description: ジョブ識別子 (UUID)
          schema: 
            type: string
            format: uuid
      responses: 
        "200": 
          description: 成功 - ジョブ詳細を取得しました
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/JobDetailResponse"
        "401": 
          description: 認証エラー - 認証が必要です
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "403": 
          description: アクセス禁止 - ジョブがユーザーに属していません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: ジョブが見つかりません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/view: 
    get: 
      tags: 
        - file
      summary: ファイルを表示
      description: "ComfyUIファイルシステムからファイルを取得して表示します。このエンドポイントは通常、生成済み画像やその他の出力ファイルを表示するために使用されます。\n"
      operationId: viewFile
      parameters: 
        - name: filename
          in: query
          required: true
          description: 表示するファイルの名前
          schema: 
            type: string
            example: ComfyUI_00004_.png
        - name: subfolder
          in: query
          required: false
          description: "ファイルが配置されているサブフォルダパス。\n**注記:** ComfyUI API互換性のために受け入れられますが、クラウドでは**無視**されます。クラウドはコンテンツアドレスストレージを使用し、アセットはハッシュのみで保存されます。サブフォルダはクライアントサイドのUIメタデータであり、ストレージのルックアップには使用されません。\n"
          schema: 
            type: string
            example: tests/foo/bar
        - name: type
          in: query
          required: false
          description: "ファイルのタイプ（例：出力、入力、一時）。\n**注記:** クラウドでは、`output` ファイルと `temp` ファイルの両方が同じバケットに保存されます。typeパラメータは互換性のために使用されますが、ストレージの場所はハッシュによって決定されます。\n"
          schema: 
            type: string
            example: output
        - name: fullpath
          in: query
          required: false
          description: ファイルの完全なパス（一時ファイルに使用）
          schema: 
            type: string
        - name: format
          in: query
          required: false
          description: ファイルのフォーマット
          schema: 
            type: string
        - name: frame_rate
          in: query
          required: false
          description: ビデオファイルのフレームレート
          schema: 
            type: integer
        - name: workflow
          in: query
          required: false
          description: ワークフロー識別子
          schema: 
            type: string
        - name: timestamp
          in: query
          required: false
          description: タイムスタンプパラメータ
          schema: 
            type: integer
            example: "1234567890"
        - name: channel
          in: query
          required: false
          description: "PNG画像から抽出する画像チャンネル。\n- 'rgb': RGBチャンネルのみを返します（アルファは完全不透明に設定）\n- 'a' または 'alpha': アルファチャンネルをグレースケール画像として返します\n- 指定しない場合は、リダイレクト経由でオリジナル画像をそのまま返します\n"
          schema: 
            type: string
            example: rgb
      responses: 
        "200": 
          description: "成功: ファイルコンテンツが返されます（チャンネルパラメータが存在する場合に使用）"
          content: 
            image/png: 
              schema: 
                type: string
                format: binary
                description: 抽出されたチャンネルを持つ処理済みPNG画像
        "302": 
          description: GCS署名付きURLへのリダイレクト
          headers: 
            Location: 
              description: GCS内のファイルにアクセスするための署名付きURL
              schema: 
                type: string
        "400": 
          description: 無効なリクエストパラメータ
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: ファイルが見つからないか、権限がありません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/files/mask-layers: 
    get: 
      tags: 
        - file
      summary: 関連するマスクレイヤーファイルを取得
      description: "マスクファイル（4つのレイヤーのいずれか）から、関連するすべてのマスクレイヤーファイルを返します。\nこれはマスクエディターが、以前に編集したマスクを再度開く際に、ペイント、マスク、ペイント済みレイヤーを読み込むために使用されます。\n"
      operationId: getMaskLayers
      parameters: 
        - name: filename
          in: query
          required: true
          description: 任意のマスクレイヤーファイルのハッシュファイル名
          schema: 
            type: string
            example: abc123def456.png
      responses: 
        "200": 
          description: 成功 - 関連するマスクレイヤーが返されました
          content: 
            application/json: 
              schema: 
                type: object
                properties: 
                  mask: 
                    type: string
                    description: マスクレイヤーのファイル名
                    nullable: true
                  paint: 
                    type: string
                    description: ペイントストロークレイヤーのファイル名
                    nullable: true
                  painted: 
                    type: string
                    description: ペイント済み画像レイヤーのファイル名
                    nullable: true
                  painted_masked: 
                    type: string
                    description: 最終合成レイヤーのファイル名
                    nullable: true
        "404": 
          description: ファイルが見つからないか、マスクファイルではありません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/assets: 
    get: 
      tags: 
        - asset
      summary: ユーザーアセットの一覧表示
      description: "認証されたユーザーに属するアセットのページネーションされたリストを取得します。\nタグ、名前、メタデータによるフィルタリング、および並べ替えオプションをサポートしています。\n"
      operationId: listAssets
      parameters: 
        - name: include_tags
          in: query
          description: これらのタグをすべて持つアセットをフィルタリング
          schema: 
            type: array
            items: 
              type: string
          style: form
          explode: false
        - name: exclude_tags
          in: query
          description: これらのタグのいずれかを持つアセットを除外
          schema: 
            type: array
            items: 
              type: string
          style: form
          explode: false
        - name: name_contains
          in: query
          description: 名前がこの部分文字列を含むアセットをフィルタリング（大文字小文字を区別しない）
          schema: 
            type: string
        - name: metadata_filter
          in: query
          description: メタデータフィールドでフィルタリングするためのJSONオブジェクト
          schema: 
            type: string
        - name: limit
          in: query
          description: 返すアセットの最大数（1-500）
          schema: 
            type: integer
            minimum: 1
            maximum: 500
            default: 20
        - name: offset
          in: query
          description: ページネーションのためにスキップするアセットの数
          schema: 
            type: integer
            minimum: 0
            default: 0
        - name: sort
          in: query
          description: 並べ替えるフィールド
          schema: 
            type: string
            enum: 
              - name
              - created_at
              - updated_at
              - size
              - last_access_time
            default: created_at
        - name: order
          in: query
          description: 並び替え順序
          schema: 
            type: string
            enum: 
              - asc
              - desc
            default: desc
        - name: include_public
          in: query
          description: 結果に公開/共有アセットを含めるかどうか
          schema: 
            type: boolean
            default: true
      responses: 
        "200": 
          description: 成功 - アセットを返しました
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ListAssetsResponse"
        "400": 
          description: 無効なリクエストパラメータ
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 認証されていません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
    post: 
      tags: 
        - asset
      summary: 新しいアセットのアップロード
      description: "新しいアセットを関連メタデータとともにシステムにアップロードします。\n2つのアップロード方法をサポートします:\n1. 直接ファイルアップロード (multipart/form-data)\n2. URLベースのアップロード (source: \"url\" を含む application/json)\n\n同じハッシュのアセットが既に存在する場合、既存のアセットを返します。\n"
      operationId: uploadAsset
      requestBody: 
        required: true
        content: 
          multipart/form-data: 
            schema: 
              type: object
              required: 
                - file
              properties: 
                file: 
                  type: string
                  format: binary
                  description: アップロードするアセットファイル
                tags: 
                  type: array
                  items: 
                    type: string
                  description: "アセットの自由形式タグ。一般的なタイプには\"models\"、\"input\"、\"output\"、\"temp\"がありますが、任意のタグを任意の順序で使用できます。"
                id: 
                  type: string
                  format: uuid
                  description: 冪等な作成のためのオプションのアセットID。指定され、かつアセットが存在する場合、既存のアセットを返します。
                preview_id: 
                  type: string
                  format: uuid
                  description: オプションのプレビューアセットID。指定しない場合、画像は自身のIDをプレビューとして使用します。
                name: 
                  type: string
                  description: アセットの表示名
                mime_type: 
                  type: string
                  description: "アセットのMIMEタイプ（例: \"image/png\"、\"video/mp4\"）"
                user_metadata: 
                  type: string
                  description: カスタムJSONメタデータ（文字列として）
          application/json: 
            schema: 
              type: object
              required: 
                - url
                - name
              properties: 
                url: 
                  type: string
                  format: uri
                  description: アセットをダウンロードするHTTP/HTTPS URL
                name: 
                  type: string
                  description: アセットの表示名（ファイル拡張子の判定に使用）
                tags: 
                  type: array
                  items: 
                    type: string
                  description: "アセットの自由形式タグ。一般的なタイプには\"models\"、\"input\"、\"output\"、\"temp\"がありますが、任意のタグを任意の順序で使用できます。"
                user_metadata: 
                  type: object
                  additionalProperties: true
                  description: アセットとともに保存するカスタムメタデータ
                preview_id: 
                  type: string
                  format: uuid
                  description: オプションのプレビューアセットID
      responses: 
        "200": 
          description: アセットは既に存在します（既存のアセットを返しました）
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetCreated"
        "201": 
          description: アセットが正常に作成されました
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetCreated"
        "400": 
          description: 無効なリクエスト（不正なファイル、無効なURL、無効なコンテンツタイプなど）
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 認証されていません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "403": 
          description: ソースURLは認証が必要、またはアクセスが拒否されました
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: ソースURLが見つかりません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "413": 
          description: ファイルが大きすぎます
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "415": 
          description: サポートされていないメディアタイプ
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "422": 
          description: ネットワークエラーまたはタイムアウトによりダウンロードに失敗しました
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/assets/from-hash: 
    post: 
      tags: 
        - asset
      summary: 既存のハッシュからアセット参照を作成
      description: クラウドストレージの既存のハッシュを使用して新しいアセット参照を作成します。これにより、基礎となるデータが既に存在する場合にファイルコンテンツの再アップロードを回避でき、大きなファイルや既知のアセットを参照する場合に便利です。ユーザーは新しい参照に独自のメタデータとタグを提供します。
      operationId: createAssetFromHash
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              type: object
              required: 
                - hash
                - tags
              properties: 
                hash: 
                  type: string
                  description: 既存アセットのハッシュ。Blake3 (blake3:) または SHA256 (sha256:) 形式をサポート
                  pattern: "^(blake3|sha256):[a-f0-9]{64}$"
                name: 
                  type: string
                  description: アセット参照の表示名 (オプション)
                tags: 
                  type: array
                  items: 
                    type: string
                  minItems: 1
                  description: "アセットの自由形式タグ。一般的なタイプには \"モデル\"、\"入力\"、\"出力\"、\"一時\" などがありますが、任意のタグを任意の順序で使用できます。"
                mime_type: 
                  type: string
                  description: "アセットのMIMEタイプ (例: \"image/png\", \"video/mp4\")"
                user_metadata: 
                  type: object
                  description: このアセット参照のカスタムメタデータ
                  additionalProperties: true
      responses: 
        "200": 
          description: アセット参照は既に存在します (既存のものを返します)
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetCreated"
        "201": 
          description: アセット参照が正常に作成されました
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetCreated"
        "400": 
          description: 無効なリクエスト (不正なハッシュ形式、無効なタグなど)
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 認証されていません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 指定されたハッシュのソースアセットが見つかりません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/assets/remote-metadata: 
    get: 
      tags: 
        - asset
      summary: リモートURLからアセットメタデータを取得
      description: ファイル全体をダウンロードせずに、リモートのダウンロードURLからアセットのメタデータを取得します。CivitAIや他のモデルリポジトリを含むさまざまなソースをサポートします。HEADリクエストやAPI呼び出しを使用してメタデータを効率的に取得します。このエンドポイントはダウンロード前にメタデータをプレビューするためのものであり、既存のアセットのメタデータを取得するためのものではありません。
      operationId: getRemoteAssetMetadata
      parameters: 
        - name: url
          in: query
          required: true
          description: メタデータを取得するダウンロードURL
          schema: 
            type: string
            format: uri
            example: https://civitai.com/api/download/models/123456
      responses: 
        "200": 
          description: メタデータが正常に取得されました
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetMetadataResponse"
        "400": 
          description: 無効なURLまたは必須パラメータの不足
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 認証されていません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "422": 
          description: ソースからメタデータを取得できませんでした
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/assets/download: 
    post: 
      tags: 
        - asset
      summary: 大きなファイルのバックグラウンドダウンロードを開始
      description: "HuggingfaceまたはCivitaiからの大きなファイルのバックグラウンドダウンロードジョブを開始します。\n\nファイルがストレージに既に存在する場合、アセットレコードが即座に作成され、返されます (200 OK)。\nファイルが存在しない場合、バックグラウンドタスクが作成され、タスクIDが返されます (202 Accepted)。\nフロントエンドはGET /api/tasks/{task_id}を使用して進捗を追跡できます。\n"
      operationId: createAssetDownload
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              type: object
              required: 
                - source_url
              properties: 
                source_url: 
                  type: string
                  format: uri
                  description: ダウンロードするファイルのURL (huggingface.coまたはcivitai.comからのものでなければなりません)
                  example: https://huggingface.co/runwayml/stable-diffusion-v1-5/resolve/main/v1-5-pruned.safetensors
                tags: 
                  type: array
                  items: 
                    type: string
                  description: "アセットのオプションタグ（例: [\"モデル\", \"checkpoint\"]）"
                user_metadata: 
                  type: object
                  additionalProperties: true
                  description: アセットに添付するオプションのユーザー定義メタデータ
                preview_id: 
                  type: string
                  format: uuid
                  description: ダウンロードしたアセットに関連付けるオプションのプレビューアセットID
                  example: 550e8400-e29b-41d4-a716-446655440000
      responses: 
        "200": 
          description: "ストレージにファイルが既に存在します: アセットが即座に作成/返されます"
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetCreated"
        "202": 
          description: "受理されました: ダウンロードタスクが作成され、バックグラウンドで処理中"
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetDownloadResponse"
        "400": 
          description: 無効なURLまたはサポートされていないソース
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 認証されていません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "422": 
          description: 検証エラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/assets/{id}": 
    get: 
      tags: 
        - asset
      summary: アセット詳細を取得
      description: 特定のアセットに関する詳細情報を取得します
      operationId: getAssetById
      parameters: 
        - name: id
          in: path
          required: true
          description: アセットID
          schema: 
            type: string
            format: uuid
      responses: 
        "200": 
          description: アセットの詳細が正常に取得されました
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/Asset"
        "401": 
          description: 認証されていません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: アセットが見つかりません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
    put: 
      tags: 
        - asset
      summary: アセットメタデータの更新
      description: "アセットのメタデータを更新します。少なくとも1つのフィールドを指定する必要があります。\n更新できるのはname、tags、user_metadataのみです。\n"
      operationId: updateAsset
      parameters: 
        - name: id
          in: path
          required: true
          description: アセットID
          schema: 
            type: string
            format: uuid
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              type: object
              properties: 
                name: 
                  type: string
                  description: アセットの新しい表示名
                tags: 
                  type: array
                  items: 
                    type: string
                  description: 更新されたアセットのタグ
                mime_type: 
                  type: string
                  description: 更新されたアセットのMIMEタイプ
                preview_id: 
                  type: string
                  format: uuid
                  description: 更新されたプレビューアセットID
                user_metadata: 
                  type: object
                  description: 更新済みカスタムメタデータ
                  additionalProperties: true
              minProperties: 1
      responses: 
        "200": 
          description: アセットの更新に成功しました
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetUpdated"
        "400": 
          description: 無効なリクエスト（項目が指定されていません）
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 認証エラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: アセットが見つかりません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
    delete: 
      tags: 
        - asset
      summary: アセットを削除
      description: "アセットとそのコンテンツをストレージから削除します。\nデータベースレコードとストレージコンテンツの両方が削除されます。\n"
      operationId: deleteAsset
      parameters: 
        - name: id
          in: path
          required: true
          description: アセットID
          schema: 
            type: string
            format: uuid
      responses: 
        "204": 
          description: アセットが正常に削除されました
        "401": 
          description: 認証されていません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: アセットが見つかりません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/assets/{id}/tags": 
    post: 
      tags: 
        - asset
      summary: アセットにタグを追加
      description: 既存のアセットに1つ以上のタグを追加します
      operationId: addAssetTags
      parameters: 
        - name: id
          in: path
          required: true
          description: アセットID
          schema: 
            type: string
            format: uuid
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              type: object
              required: 
                - tags
              properties: 
                tags: 
                  type: array
                  items: 
                    type: string
                  minItems: 1
                  description: アセットに追加するタグ
      responses: 
        "200": 
          description: タグの追加に成功しました
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/TagsModificationResponse"
        "400": 
          description: 無効なリクエスト
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 認証エラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: アセットが見つかりません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
    delete: 
      tags: 
        - asset
      summary: アセットからタグを削除
      description: 既存のアセットから1つ以上のタグを削除します
      operationId: removeAssetTags
      parameters: 
        - name: id
          in: path
          required: true
          description: アセットID
          schema: 
            type: string
            format: uuid
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              type: object
              required: 
                - tags
              properties: 
                tags: 
                  type: array
                  items: 
                    type: string
                  minItems: 1
                  description: アセットから削除するタグ
      responses: 
        "200": 
          description: タグの削除に成功しました
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/TagsModificationResponse"
        "400": 
          description: 無効なリクエスト
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 認証エラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: アセットが見つかりません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/tags: 
    get: 
      tags: 
        - asset
      summary: すべてのタグを一覧表示
      description: "アセット全体で使用されているすべてのタグのリストを取得します。\n使用回数とフィルタリングオプションが含まれます。\n"
      operationId: listTags
      parameters: 
        - name: prefix
          in: query
          description: プレフィックスでタグをフィルタ
          schema: 
            type: string
        - name: limit
          in: query
          description: 返すタグの最大数 (1-1000)
          schema: 
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - name: offset
          in: query
          description: ページネーションでスキップするタグの数
          schema: 
            type: integer
            minimum: 0
            default: 0
        - name: order
          in: query
          description: タグの並び替え順序
          schema: 
            type: string
            enum: 
              - count_desc
              - name_asc
            default: count_desc
        - name: include_zero
          in: query
          description: 使用回数が0のタグを含める
          schema: 
            type: boolean
            default: false
        - name: include_public
          in: query
          description: タグをカウントするときに公開/共有アセットを含めるかどうか
          schema: 
            type: boolean
            default: true
      responses: 
        "200": 
          description: タグの取得に成功しました
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ListTagsResponse"
        "400": 
          description: 無効なリクエストパラメータ
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 未認証
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/assets/tags/refine: 
    get: 
      tags: 
        - asset
      summary: フィルタされたアセットのタグヒストグラムを取得
      description: "指定されたフィルタに一致するアセットに表示されるタグのヒストグラムを返します。\n利用可能なタグとそのカウントを表示することで、アセット検索の絞り込みに役立ちます。\nカウントがゼロではないタグ（一致するアセットに存在するタグ）のみを返します。\n"
      operationId: getAssetTagHistogram
      parameters: 
        - name: include_tags
          in: query
          description: これらのタグをすべて持つアセットにフィルタ
          schema: 
            type: array
            items: 
              type: string
          style: form
          explode: false
        - name: exclude_tags
          in: query
          description: これらのタグのいずれかを持つアセットを除外
          schema: 
            type: array
            items: 
              type: string
          style: form
          explode: false
        - name: name_contains
          in: query
          description: 名前にこの部分文字列を含むアセットにフィルタ（大文字小文字を区別しない）
          schema: 
            type: string
        - name: metadata_filter
          in: query
          description: メタデータフィールドでフィルタリングするためのJSONオブジェクト
          schema: 
            type: string
        - name: limit
          in: query
          description: 返すタグの最大数（1～1000、デフォルト100）
          schema: 
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - name: include_public
          in: query
          description: 結果に公開/共有アセットを含めるかどうか
          schema: 
            type: boolean
            default: true
      responses: 
        "200": 
          description: 成功 - タグヒストグラムが返されました
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetTagHistogramResponse"
        "400": 
          description: 無効なリクエストパラメータ
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 認証されていません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/assets/hash/{hash}": 
    head: 
      tags: 
        - asset
      summary: ハッシュでアセットの存在を確認
      description: "指定されたハッシュのコンテンツがクラウドストレージに存在するか確認します。コンテンツが存在する場合は200、存在しない場合は404を返します。`/api/assets/from-hash` を使用する前に可用性を確認するのに便利です。"
      operationId: checkAssetByHash
      parameters: 
        - name: hash
          in: path
          required: true
          description: "アセットのBlake3ハッシュ (形式: 'blake3:hex_digest')"
          schema: 
            type: string
            pattern: "^blake3:[a-f0-9]{64}$"
            example: blake3:a1b2c3d4e5f6789012345678901234567890123456789012345678901234
      responses: 
        "200": 
          description: アセットが存在します
        "400": 
          description: 無効なハッシュ形式
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 認証されていません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: アセットが見つかりません
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/queue: 
    get: 
      tags: 
        - job
      summary: キュー情報を取得
      description: キュー内の実行中および保留中のアイテムに関する情報を返します
      operationId: getQueueInfo
      responses: 
        "200": 
          description: 成功
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/QueueInfo"
        "400": 
          description: 無効なリクエストパラメータ
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 無効なリクエストパラメータ
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
    post: 
      tags: 
        - job
      summary: キュー操作の管理
      description: "IDで特定のPENDINGジョブをキャンセルするか、キュー内のすべての保留中ジョブをクリアします。\n注: このエンドポイントは保留中のジョブにのみ影響します。実行中のジョブをキャンセルするには、/api/interruptを使用してください。\n"
      operationId: manageQueue
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/QueueManageRequest"
      responses: 
        "200": 
          description: 成功
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/QueueManageResponse"
        "400": 
          description: 無効なリクエストパラメータ
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 未認証
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/interrupt: 
    post: 
      tags: 
        - job
      summary: 現在実行中のジョブを中断
      description: "認証されたユーザーの現在RUNNING中のすべてのジョブをキャンセルします。\nこれにより、現在'in_progress'ステータスにあるすべてのジョブが中断されます。\n注：このエンドポイントは実行中のジョブにのみ影響します。保留中のジョブをキャンセルするには、/api/queueを使用してください。\n"
      operationId: interruptJob
      responses: 
        "200": 
          description: 成功：ジョブが中断されるか、実行中のジョブが見つかりませんでした
        "401": 
          description: 認証が必要です
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/userdata: 
    get: 
      tags: 
        - user
      operationId: getUserdata
      summary: ユーザーデータファイルを一覧表示
      description: 指定されたディレクトリ内のユーザーデータファイルのリストを返します。オプションで再帰的かつ完全なメタデータ付き。
      parameters: 
        - name: dir
          in: query
          required: true
          description: "ファイルをリストするディレクトリパス。末尾のスラッシュを含める必要があります。\n例：\"workflows/\" または \"settings/\"\n"
          schema: 
            type: string
          example: workflows/
        - name: recurse
          in: query
          required: false
          description: trueの場合、サブディレクトリ内のファイルも含めます。それ以外の場合は、指定されたディレクトリ内のファイルのみをリストします。
          schema: 
            type: boolean
            default: false
        - name: split
          in: query
          required: false
          description: "ファイル情報をタイプごとに分割するかどうか。\n**注記：** ComfyUI API互換性のために受け付けられていますが、現在は無視されます。\n"
          schema: 
            type: boolean
            default: false
        - name: full_info
          in: query
          required: false
          description: "完全なファイルメタデータを返すかどうか。\n**注記：** ComfyUI API互換性のために受け付けられていますが、現在は無視されます（常に完全な情報を返します）。\n"
          schema: 
            type: boolean
            default: false
      responses: 
        "200": 
          description: ユーザーデータファイルのリスト。
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/GetUserDataResponseFull"
        "400": 
          description: 不正なリクエスト（例：無効なファイル名）。
          content: 
            text/plain: 
              schema: 
                type: string
        "401": 
          description: 認証エラー。
          content: 
            text/plain: 
              schema: 
                type: string
        "404": 
          description: ファイルが見つからないか、無効なパス。
          content: 
            text/plain: 
              schema: 
                type: string
        "500": 
          description: 一般エラー
          content: 
            text/plain: 
              schema: 
                type: string
  "/api/userdata/{file}": 
    get: 
      tags: 
        - user
      operationId: getUserdataFile
      summary: ユーザーデータファイルを取得
      description: 要求されたユーザーデータファイルが存在する場合、それを返します。
      parameters: 
        - name: file
          in: path
          required: true
          description: 取得するユーザーデータのファイル名。
          schema: 
            type: string
      responses: 
        "200": 
          description: ファイルの取得に成功しました。
          content: 
            application/octet-stream: 
              schema: 
                type: string
                format: binary
        "400": 
          description: 不正なリクエスト（例：無効なファイル名）。
          content: 
            text/plain: 
              schema: 
                type: string
        "401": 
          description: 認証されていません。
          content: 
            text/plain: 
              schema: 
                type: string
        "404": 
          description: ファイルが見つからないか、パスが無効です。
          content: 
            text/plain: 
              schema: 
                type: string
        "500": 
          description: 一般エラー
          content: 
            text/plain: 
              schema: 
                type: string
    post: 
      tags: 
        - user
      operationId: postUserdataFile
      summary: ユーザーデータファイルをアップロードまたは更新
      description: "ファイルをユーザーのデータディレクトリにアップロードします。オプションのクエリパラメータにより、上書き動作と応答の詳細を制御できます。\n"
      parameters: 
        - name: file
          in: path
          required: true
          description: ターゲットファイルパス（必要に応じてURLエンコード）。
          schema: 
            type: string
        - name: overwrite
          in: query
          required: false
          description: 「false」の場合、既存ファイルの上書きを防ぎます。デフォルトは「true」。
          schema: 
            type: string
            enum: 
              - "true"
              - "false"
            default: "true"
        - name: full_info
          in: query
          required: false
          description: 「true」の場合は詳細なファイル情報を返し、「false」の場合は相対パスのみを返します。
          schema: 
            type: string
            enum: 
              - "true"
              - "false"
            default: "false"
      requestBody: 
        required: true
        content: 
          application/octet-stream: 
            schema: 
              type: string
              format: binary
      responses: 
        "200": 
          description: ファイルのアップロードに成功しました。
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/UserDataResponseFull"
        "400": 
          description: "'file'パラメータが不足しているか無効です。"
          content: 
            text/plain: 
              schema: 
                type: string
        "401": 
          description: 認証されていません。
          content: 
            text/plain: 
              schema: 
                type: string
        "403": 
          description: 要求されたパスは許可されていません。
          content: 
            text/plain: 
              schema: 
                type: string
        "409": 
          description: ファイルは既に存在し、上書きがfalseに設定されています。
          content: 
            text/plain: 
              schema: 
                type: string
        "500": 
          description: 一般エラー
          content: 
            text/plain: 
              schema: 
                type: string
    delete: 
      tags: 
        - user
      operationId: deleteUserdataFile
      summary: ユーザーデータファイルを削除
      description: "データベースからユーザーデータファイルを削除します。fileパラメータはユーザーのデータディレクトリ内の相対パスである必要があります。\n"
      parameters: 
        - name: file
          in: path
          required: true
          description: 削除するファイルパス（必要に応じてURLエンコード）。
          schema: 
            type: string
      responses: 
        "204": 
          description: ファイルが正常に削除されました（コンテンツなし）。
        "401": 
          description: 認証されていません。
          content: 
            text/plain: 
              schema: 
                type: string
        "404": 
          description: ファイルが見つかりません。
          content: 
            text/plain: 
              schema: 
                type: string
        "500": 
          description: サーバー内部エラー。
          content: 
            text/plain: 
              schema: 
                type: string
  /api/upload/image: 
    post: 
      tags: 
        - file
      summary: 画像ファイルをアップロード
      description: "画像ファイルをクラウドストレージにアップロードします。\n\n画像制限:\n  - 最大ファイルサイズ: 50 MB\n  - 各エッジの最大幅/高さ: 16384 px\n  - 最大総ピクセル数: 64メガピクセル (67108864 ピクセル)\n\nこれらの制限を超えるアップロードはHTTP 400で拒否されます。\n"
      operationId: uploadImage
      requestBody: 
        required: true
        content: 
          multipart/form-data: 
            schema: 
              type: object
              required: 
                - image
              properties: 
                image: 
                  type: string
                  format: binary
                  description: アップロードする画像ファイル
                overwrite: 
                  type: string
                  description: "既存のファイルを上書きするかどうか (true/false)。\n**注:** ComfyUI API互換性のため受け入れられますが、クラウドでは実質的に無視されます。\nクラウドはコンテンツアドレスストレージ（ハッシュベースの重複排除）を使用するため、同一の\nコンテンツは常に同じハッシュにマッピングされます。同じコンテンツを再アップロードしても効果はありません（no-op）。\n"
                subfolder: 
                  type: string
                  description: "オプションのサブフォルダパス。\n**注:** ComfyUI API互換性のため受け入れられますが、ストレージでは**無視**されます。\nクラウドはアセットをハッシュのみで保存します。サブフォルダはクライアント側での整理のためにレスポンスで返されますが、サーバー側のストレージパスには使用されません。\n"
                type: 
                  type: string
                  description: "アップロードタイプ (デフォルトは\"output\")。\n**注:** ComfyUI API互換性のため受け入れられます。クラウドはすべてのアップロードを\nディレクトリベースの整理ではなく、タグ付きのアセットとして保存します。\n"
      responses: 
        "200": 
          description: 画像のアップロードに成功しました
          content: 
            application/json: 
              schema: 
                type: object
                properties: 
                  name: 
                    type: string
                    description: アップロードされた画像のファイル名
                  subfolder: 
                    type: string
                    description: 画像が保存されたサブフォルダパス
                  type: 
                    type: string
                    description: "アップロードのタイプ (例: \"output\")"
        "400": 
          description: 不正なリクエスト
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 未認証
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/upload/mask: 
    post: 
      tags: 
        - file
      summary: マスク画像をアップロード
      description: "既存の画像に適用するマスク画像をアップロードします。\n\n画像制限は、アップロードされたマスクと参照元のオリジナル画像の両方に適用されます：\n  - 最大ファイルサイズ：50 MB\n  - エッジごとの最大幅/高さ：16384 px\n  - 最大総ピクセル数：64メガピクセル（67108864ピクセル）\n\nこれらの制限を超えるアップロードはHTTP 400で拒否されます。\n"
      operationId: uploadMask
      requestBody: 
        required: true
        content: 
          multipart/form-data: 
            schema: 
              type: object
              required: 
                - image
                - original_ref
              properties: 
                image: 
                  type: string
                  format: binary
                  description: アップロードするマスク画像ファイル
                original_ref: 
                  type: string
                  description: オリジナル画像への参照を含むJSON文字列
      responses: 
        "200": 
          description: マスクが正常にアップロードされました
          content: 
            application/json: 
              schema: 
                type: object
                properties: 
                  name: 
                    type: string
                    description: アップロードされたマスクのファイル名
                  subfolder: 
                    type: string
                    description: マスクが保存されたサブフォルダーパス
                  type: 
                    type: string
                    description: "アップロードの種類（例：\"output\"）"
                  metadata: 
                    type: object
                    description: マスク検出と再編集のための追加メタデータ
                    properties: 
                      is_mask: 
                        type: boolean
                        description: このファイルがマスクであるかどうか
                      original_hash: 
                        type: string
                        description: オリジナルのマスクされていない画像のハッシュ
                      mask_type: 
                        type: string
                        description: "マスクの種類（例：\"painted_masked\"）"
                      related_files: 
                        type: object
                        description: 関連するマスクレイヤーファイル（利用可能な場合）
                        properties: 
                          mask: 
                            type: string
                            description: マスクレイヤーのハッシュ
                          paint: 
                            type: string
                            description: ペイントレイヤーのハッシュ
                          painted: 
                            type: string
                            description: ペイントされた画像のハッシュ
        "400": 
          description: 不正なリクエスト
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 認証エラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/system_stats: 
    get: 
      tags: 
        - system
      summary: システム統計を取得
      description: ComfyUIバージョン、デバイス情報、システムリソースを含むシステム統計を返します
      operationId: getSystemStats
      security: 
        []
      responses: 
        "200": 
          description: 成功
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/SystemStatsResponse"
        "401": 
          description: 未認証
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/user: 
    get: 
      tags: 
        - user
      summary: 現在のユーザー情報を取得
      description: 現在認証されているユーザーに関する情報を返します
      operationId: getUser
      responses: 
        "200": 
          description: 成功
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/UserResponse"
        "401": 
          description: 認証エラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/job/{job_id}/status": 
    get: 
      tags: 
        - job
      summary: ジョブステータスの取得
      description: 特定のジョブの現在のステータスをIDで返します
      operationId: getJobStatus
      parameters: 
        - name: job_id
          in: path
          required: true
          description: ジョブの一意のID
          schema: 
            type: string
            format: uuid
      responses: 
        "200": 
          description: 成功：ジョブのステータスが返されました
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/JobStatusResponse"
        "401": 
          description: 認証が必要です
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "403": 
          description: 禁止：ジョブは別のユーザーに属しています
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: ジョブが見つかりません
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部サーバーエラー
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
components: 
  securitySchemes: 
    ApiKeyAuth: 
      type: apiKey
      in: header
      name: X-API-Key
      description: "APIキー認証。アカウント設定からAPIキーを生成します\n（https://platform.comfy.org/profile/api-keys）。X-API-Keyヘッダーでキーを渡します。\n"
  schemas: 
    PromptRequest: 
      type: object
      required: 
        - prompt
      properties: 
        prompt: 
          type: object
          description: 実行するワークフローグラフ
          additionalProperties: true
        number: 
          type: number
          description: "キューの優先順位番号（数字が小さいほど優先度が高い）。\n**注:** ComfyUI API互換性のために受け付けられますが、クラウドでは**無視されます**。\nクラウドはユーザーごとの順序と公平なスケジューリングを備えた独自のキュー管理を使用します。\n"
        front: 
          type: boolean
          description: "trueの場合、プロンプトをキューの先頭に追加します。\n**注:** ComfyUI API互換性のために受け付けられますが、クラウドでは**無視されます**。\nクラウドはジョブの送信時間と公平なスケジューリングに基づいて内部でキュー順序を管理します。\n"
        extra_data: 
          type: object
          description: プロンプトに関連付ける追加データ
          additionalProperties: true
        partial_execution_targets: 
          type: array
          items: 
            type: string
          description: 実行するノード名のリスト
    PromptResponse: 
      type: object
      properties: 
        prompt_id: 
          type: string
          format: uuid
          description: プロンプト実行の一意識別子
        number: 
          type: number
          description: キュー内の優先順位番号
        node_errors: 
          type: object
          description: プロンプトのノード内のエラー
          additionalProperties: true
    ErrorResponse: 
      type: object
      required: 
        - code
        - message
      properties: 
        code: 
          type: string
        message: 
          type: string
    PromptInfo: 
      type: object
      properties: 
        exec_info: 
          type: object
          properties: 
            queue_remaining: 
              type: integer
              description: キューに残っているアイテムの数
    NodeInfo: 
      type: object
      properties: 
        input: 
          type: object
          description: ノードの入力仕様
          additionalProperties: true
        input_order: 
          type: object
          description: 表示用の入力の順序
          additionalProperties: 
            type: array
            items: 
              type: string
        output: 
          type: array
          items: 
            type: string
          description: ノードの出力タイプ
        output_is_list: 
          type: array
          items: 
            type: boolean
          description: 各出力がリストかどうか
        output_name: 
          type: array
          items: 
            type: string
          description: 出力の名前
        name: 
          type: string
          description: ノードの内部名
        display_name: 
          type: string
          description: ノードの表示名
        description: 
          type: string
          description: ノードの説明
        python_module: 
          type: string
          description: ノードを実装するPythonモジュール
        category: 
          type: string
          description: ノードのカテゴリ
        output_node: 
          type: boolean
          description: これが出力ノードかどうか
        output_tooltips: 
          type: array
          items: 
            type: string
          description: 出力のツールチップ
        deprecated: 
          type: boolean
          description: ノードが非推奨かどうか
        experimental: 
          type: boolean
          description: ノードが実験的かどうか
        api_node: 
          type: boolean
          description: これがAPIノードかどうか
    GlobalSubgraphInfo: 
      type: object
      description: グローバルサブグラフブループリントのメタデータ（完全なデータなし）
      required: 
        - source
        - name
        - info
      properties: 
        source: 
          type: string
          description: "サブグラフのソースタイプ - \"templates\"はワークフローテンプレート、\"custom_node\"はカスタムノードサブグラフ"
        name: 
          type: string
          description: サブグラフブループリントの表示名
        info: 
          type: object
          description: サブグラフに関する追加情報
          required: 
            - node_pack
          properties: 
            node_pack: 
              type: string
              description: このサブグラフを提供するノードパック/モジュール
        data: 
          type: string
          description: 完全なサブグラフJSONデータ（リスト表示では空の可能性あり）
    GlobalSubgraphData: 
      type: object
      description: グローバルサブグラフブループリントの完全なデータ
      required: 
        - source
        - name
        - info
        - data
      properties: 
        source: 
          type: string
          description: "サブグラフのソースタイプ - \"templates\"はワークフローテンプレート、\"custom_node\"はカスタムノードサブグラフ"
        name: 
          type: string
          description: サブグラフブループリントの表示名
        info: 
          type: object
          description: サブグラフに関する追加情報
          required: 
            - node_pack
          properties: 
            node_pack: 
              type: string
              description: このサブグラフを提供するノードパック/モジュール
        data: 
          type: string
          description: 完全なサブグラフJSONデータ（文字列）
    HistoryResponse: 
      type: object
      description: "履歴配列を含む実行履歴レスポンス。\n\"history\"キーを持つオブジェクトを返し、その値は履歴エントリの配列です。\n各エントリには、実行データとともにプロパティとしてprompt_idが含まれます。"
      required: 
        - history
      properties: 
        history: 
          type: array
          description: 作成時間順（最新が最初）に並べられた履歴エントリの配列
          items: 
            $ref: "#/components/schemas/HistoryEntry"
    HistoryEntry: 
      type: object
      description: プロンプトIDと実行データを含む履歴エントリ
      required: 
        - prompt_id
      properties: 
        prompt_id: 
          type: string
          description: このプロンプト実行の一意の識別子
        create_time: 
          type: integer
          format: int64
          description: ジョブ作成タイムスタンプ（UNIXタイムスタンプ、ミリ秒）
        workflow_id: 
          type: string
          description: ワークフローグラフ定義を識別するUUID
        prompt: 
          type: object
          description: フィルタリングされたプロンプト実行データ（軽量形式）
          properties: 
            priority: 
              type: number
              format: double
              description: 実行優先度
            prompt_id: 
              type: string
              description: プロンプトID
            extra_data: 
              type: object
              description: 追加の実行データ（extra_pnginfoからワークフローを除去）
              additionalProperties: true
        outputs: 
          type: object
          description: 実行からの出力データ（生成済み画像、ファイルなど）
          additionalProperties: true
        status: 
          type: object
          description: 実行ステータスとタイムライン情報
          additionalProperties: true
        meta: 
          type: object
          description: 実行とノードに関するメタデータ
          additionalProperties: true
    HistoryDetailEntry: 
      type: object
      description: 完全なプロンプトデータを含む履歴エントリ
      properties: 
        prompt: 
          type: object
          description: 完全なプロンプト実行データ
          properties: 
            priority: 
              type: number
              format: double
              description: 実行優先度
            prompt_id: 
              type: string
              description: プロンプトID
            prompt: 
              type: object
              description: ワークフローノード
              additionalProperties: true
            extra_data: 
              type: object
              description: 追加の実行データ
              additionalProperties: true
            outputs_to_execute: 
              type: array
              items: 
                type: string
              description: 実行する出力ノード
        outputs: 
          type: object
          description: 実行からの出力データ（生成された画像、ファイルなど）
          additionalProperties: true
        status: 
          type: object
          description: 実行ステータスとタイムライン情報
          additionalProperties: true
        meta: 
          type: object
          description: 実行とノードに関するメタデータ
          additionalProperties: true
    HistoryDetailResponse: 
      type: object
      description: "特定のプロンプトに対する詳細な実行履歴レスポンス。\nprompt_idをキーとし、完全な履歴データを値として持つ辞書を返します。\n"
      additionalProperties: 
        $ref: "#/components/schemas/HistoryDetailEntry"
    QueueInfo: 
      type: object
      description: 保留中および実行中のジョブを含むキュー情報
      properties: 
        queue_running: 
          type: array
          description: 現在実行中のジョブアイテムの配列
          items: 
            $ref: "#/components/schemas/QueueItem"
        queue_pending: 
          type: array
          description: 保留中のジョブアイテムの配列（作成時間順、古い順）
          items: 
            $ref: "#/components/schemas/QueueItem"
    QueueItem: 
      type: array
      description: "キューアイテムのタプル形式: [job_number, prompt_id, workflow_json, output_node_ids, metadata]\n- [0] job_number (integer): キュー内の位置（1ベース）\n- [1] prompt_id (string): ジョブUUID\n- [2] workflow_json (object): 完全なComfyUIワークフロー\n- [3] output_node_ids (array): 結果を返すノードID\n- [4] metadata (object): {create_time: <ミリ秒>} を含む\n"
      items: 
        oneOf: 
          - type: integer
            description: ジョブ番号（キュー内の位置）
          - type: string
            description: プロンプトID（UUID）
          - type: object
            description: ワークフローJSON
          - type: array
            items: 
              type: string
            description: 出力ノードID
          - type: object
            description: create_timeを含むメタデータ
    QueueManageRequest: 
      type: object
      description: キュー操作を管理するリクエスト
      properties: 
        delete: 
          type: array
          items: 
            type: string
          description: キャンセルする保留中のジョブIDの配列
        clear: 
          type: boolean
          description: trueの場合、キューから保留中のジョブをすべてクリアします
      additionalProperties: false
    QueueManageResponse: 
      type: object
      properties: 
        deleted: 
          type: array
          items: 
            type: string
          description: 正常にキャンセルされたジョブIDの配列
        cleared: 
          type: boolean
          description: キューがクリアされたかどうか
    JobStatusResponse: 
      type: object
      description: ジョブステータス情報
      properties: 
        id: 
          type: string
          format: uuid
          description: ジョブID
        status: 
          type: string
          enum: 
            - waiting_to_dispatch
            - pending
            - in_progress
            - completed
            - error
            - cancelled
          description: 現在のジョブステータス
        created_at: 
          type: string
          format: date-time
          description: ジョブが作成された日時
        updated_at: 
          type: string
          format: date-time
          description: ジョブの最終更新日時
        last_state_update: 
          type: string
          format: date-time
          description: ジョブステータスが最後に変更された日時
        assigned_inference: 
          type: string
          nullable: true
          description: このジョブに割り当てられた推論インスタンス（ある場合）
        error_message: 
          type: string
          nullable: true
          description: ジョブが失敗した場合のエラーメッセージ
      required: 
        - id
        - status
        - created_at
        - updated_at
    HistoryManageRequest: 
      type: object
      description: 履歴操作を管理するリクエスト
      properties: 
        delete: 
          type: array
          items: 
            type: string
          description: 履歴から削除するジョブIDの配列
        clear: 
          type: boolean
          description: trueの場合、認証済みユーザーのすべての履歴をクリアします
      additionalProperties: false
    UserDataResponse: 
      oneOf: 
        - $ref: "#/components/schemas/UserDataResponseFull"
        - $ref: "#/components/schemas/UserDataResponseShort"
    UserDataResponseFull: 
      type: object
      properties: 
        path: 
          type: string
        size: 
          type: integer
        modified: 
          type: string
          format: date-time
    UserDataResponseShort: 
      type: string
    GetUserDataResponseFull: 
      type: array
      items: 
        $ref: "#/components/schemas/GetUserDataResponseFullFile"
    GetUserDataResponseFullFile: 
      type: object
      properties: 
        path: 
          type: string
          description: ファイル名またはユーザーディレクトリからの相対パス。
        size: 
          type: integer
          description: ファイルサイズ（バイト）。
        modified: 
          type: number
          format: float
          description: 最終更新のUNIXタイムスタンプ。
    PromptErrorResponse: 
      type: object
      description: ComfyUIプロンプト実行のエラーレスポンス。
      additionalProperties: true
    ModelFolder: 
      type: object
      description: モデルを含むフォルダーを表します
      required: 
        - name
        - folders
      properties: 
        name: 
          type: string
          description: モデルフォルダーの名前
          example: checkpoints
        folders: 
          type: array
          items: 
            type: string
          description: このタイプのモデルが保存されているパスのリスト
          example: 
            - checkpoints
    ModelFile: 
      type: object
      description: メタデータ付きのモデルファイルを表します
      required: 
        - name
        - pathIndex
      properties: 
        name: 
          type: string
          description: モデルのファイル名
          example: model.safetensors
        pathIndex: 
          type: integer
          description: このモデルが配置されているパスのインデックス
          example: 0
    SystemStatsResponse: 
      type: object
      description: システム統計レスポンス
      required: 
        - system
        - devices
      properties: 
        system: 
          type: object
          required: 
            - os
            - python_version
            - embedded_python
            - comfyui_version
            - pytorch_version
            - argv
            - ram_total
            - ram_free
          properties: 
            os: 
              type: string
              description: オペレーティングシステム
            python_version: 
              type: string
              description: Python バージョン
            embedded_python: 
              type: boolean
              description: 組み込みPythonを使用しているかどうか
            comfyui_version: 
              type: string
              description: ComfyUI バージョン
            comfyui_frontend_version: 
              type: string
              description: ComfyUI フロントエンドバージョン（コミットハッシュまたはタグ）
            workflow_templates_version: 
              type: string
              description: ワークフローテンプレートのバージョン
            cloud_version: 
              type: string
              description: クラウド取り込みサービスのバージョン（コミットハッシュ）
            pytorch_version: 
              type: string
              description: PyTorch バージョン
            argv: 
              type: array
              items: 
                type: string
              description: コマンドライン引数
            ram_total: 
              type: number
              description: 合計RAM（バイト単位）
            ram_free: 
              type: number
              description: 空きRAM（バイト単位）
        devices: 
          type: array
          items: 
            type: object
            required: 
              - name
              - type
            properties: 
              name: 
                type: string
                description: デバイス名
              type: 
                type: string
                description: デバイスタイプ
              vram_total: 
                type: number
                description: 合計VRAM（バイト単位）
              vram_free: 
                type: number
                description: 空きVRAM（バイト単位）
    UserResponse: 
      type: object
      description: ユーザー情報レスポンス
      required: 
        - status
      properties: 
        status: 
          type: string
          description: ユーザーステータス（アクティブまたはウェイトリスト）
    Asset: 
      type: object
      required: 
        - id
        - name
        - size
        - created_at
        - updated_at
      properties: 
        id: 
          type: string
          format: uuid
          description: アセットの一意な識別子
        name: 
          type: string
          description: アセットファイルの名前
        asset_hash: 
          type: string
          description: アセットコンテンツのBlake3ハッシュ
          pattern: "^blake3:[a-f0-9]{64}$"
        size: 
          type: integer
          format: int64
          description: アセットのサイズ（バイト単位）
        mime_type: 
          type: string
          description: アセットのMIMEタイプ
        tags: 
          type: array
          items: 
            type: string
          description: アセットに関連付けられたタグ
        user_metadata: 
          type: object
          description: アセットのカスタムユーザーメタデータ
          additionalProperties: true
        preview_url: 
          type: string
          format: uri
          description: アセットのプレビュー/サムネイルのURL
        preview_id: 
          type: string
          format: uuid
          description: 利用可能な場合のプレビューアセットのID
          nullable: true
        prompt_id: 
          type: string
          format: uuid
          description: このアセットを作成したジョブ/プロンプトのID（利用可能な場合）
          nullable: true
        created_at: 
          type: string
          format: date-time
          description: アセット作成時のタイムスタンプ
        updated_at: 
          type: string
          format: date-time
          description: アセットの最終更新時刻のタイムスタンプ
        last_access_time: 
          type: string
          format: date-time
          description: アセットの最終アクセス時刻のタイムスタンプ
        is_immutable: 
          type: boolean
          description: このアセットが不変であるかどうか（変更または削除不可）
    AssetCreated: 
      allOf: 
        - $ref: "#/components/schemas/Asset"
        - type: object
          required: 
            - created_new
          properties: 
            created_new: 
              type: boolean
              description: これが新しいアセットの作成であるか（true）または既存のものが返されたか（false）
    AssetUpdated: 
      type: object
      required: 
        - id
        - updated_at
      properties: 
        id: 
          type: string
          format: uuid
          description: アセットID
        name: 
          type: string
          description: 更新されたアセットの名前
        asset_hash: 
          type: string
          description: アセットコンテンツのBlake3ハッシュ
          pattern: "^blake3:[a-f0-9]{64}$"
        tags: 
          type: array
          items: 
            type: string
          description: 更新されたアセットのタグ
        mime_type: 
          type: string
          description: 更新されたアセットのMIMEタイプ
        user_metadata: 
          type: object
          description: 更新されたカスタムメタデータ
          additionalProperties: true
        updated_at: 
          type: string
          format: date-time
          description: 更新のタイムスタンプ
    ListAssetsResponse: 
      type: object
      required: 
        - assets
        - total
        - has_more
      properties: 
        assets: 
          type: array
          items: 
            $ref: "#/components/schemas/Asset"
          description: クエリに一致するアセットのリスト
        total: 
          type: integer
          description: フィルターに一致するアセットの総数
        has_more: 
          type: boolean
          description: このページを超えてさらにアセットが利用可能かどうか
    TagInfo: 
      type: object
      required: 
        - name
        - count
      properties: 
        name: 
          type: string
          description: タグ名
        count: 
          type: integer
          description: このタグを使用しているアセットの数
    ListTagsResponse: 
      type: object
      required: 
        - tags
        - total
        - has_more
      properties: 
        tags: 
          type: array
          items: 
            $ref: "#/components/schemas/TagInfo"
          description: タグのリスト
        total: 
          type: integer
          description: タグの総数
        has_more: 
          type: boolean
          description: さらにタグが利用可能かどうか
    AssetTagHistogramResponse: 
      type: object
      required: 
        - tag_counts
      properties: 
        tag_counts: 
          type: object
          additionalProperties: 
            type: integer
          description: タグ名と一致するアセット上の出現回数のマップ
          example: 
            checkpoint: 32
            lora: 193
            vae: 6
    AssetMetadataResponse: 
      type: object
      required: 
        - content_length
      properties: 
        content_length: 
          type: integer
          format: int64
          description: アセットのサイズ（バイト単位、不明の場合は-1）
          example: 4294967296
        content_type: 
          type: string
          description: アセットのMIMEタイプ
          example: application/octet-stream
        filename: 
          type: string
          description: ソースからのアセットの推奨ファイル名
          example: realistic-vision-v5.safetensors
        name: 
          type: string
          description: ソースからのアセットの表示名またはタイトル
          example: Realistic Vision v5.0
        tags: 
          type: array
          items: 
            type: string
          description: ソースからの分類用タグ
          example: 
            - models
            - checkpoint
        preview_image: 
          type: string
          description: base64エンコードされたデータURLとしての画像プレビュー
          example: "data:image/jpeg;base64,/9j/4AAQSkZJRg..."
        validation: 
          $ref: "#/components/schemas/ValidationResult"
          description: ファイルの検証結果
    AssetDownloadResponse: 
      type: object
      required: 
        - task_id
        - status
      properties: 
        task_id: 
          type: string
          format: uuid
          description: "GET /api/tasks/{task_id} を介したダウンロード進行状況追跡用のタスクID"
        status: 
          type: string
          enum: 
            - created
            - running
            - completed
            - failed
          description: 現在のタスクステータス
        message: 
          type: string
          description: 人間が読めるメッセージ
          example: Download task created. Use task_id to track progress.
    ValidationResult: 
      type: object
      required: 
        - is_valid
      properties: 
        is_valid: 
          type: boolean
          description: 全体的な検証ステータス（すべてのチェックに合格した場合はtrue）
          example: true
        errors: 
          type: array
          items: 
            $ref: "#/components/schemas/ValidationError"
          description: ダウンロードを妨げるブロッキング検証エラー
        warnings: 
          type: array
          items: 
            $ref: "#/components/schemas/ValidationError"
          description: 非ブロッキング検証警告（情報提供のみ）
    ValidationError: 
      type: object
      required: 
        - code
        - message
        - field
      properties: 
        code: 
          type: string
          description: 機械可読なエラーコード
          example: FORMAT_NOT_ALLOWED
        message: 
          type: string
          description: 人間可読なエラーメッセージ
          example: "File format \"PickleTensor\" is not allowed. Allowed formats: [SafeTensor]"
        field: 
          type: string
          description: 検証に失敗したフィールド
          example: format
    TagsModificationResponse: 
      type: object
      required: 
        - total_tags
      properties: 
        added: 
          type: array
          items: 
            type: string
          description: 正常に追加されたタグ（追加操作用）
        removed: 
          type: array
          items: 
            type: string
          description: 正常に削除されたタグ（削除操作用）
        already_present: 
          type: array
          items: 
            type: string
          description: 既に存在していたタグ（追加操作用）
        not_present: 
          type: array
          items: 
            type: string
          description: 存在しなかったタグ（削除操作用）
        total_tags: 
          type: array
          items: 
            type: string
          description: 操作後のアセット上のすべてのタグ
    JobsListResponse: 
      type: object
      required: 
        - jobs
        - pagination
      properties: 
        jobs: 
          type: array
          description: 指定された並び替えフィールドで並べられたジョブの配列
          items: 
            $ref: "#/components/schemas/JobEntry"
        pagination: 
          $ref: "#/components/schemas/PaginationInfo"
    JobEntry: 
      type: object
      description: リスト表示用の軽量ジョブデータ（ワークフローと完全な出力は除外）
      required: 
        - id
        - status
        - create_time
      properties: 
        id: 
          type: string
          format: uuid
          description: 一意のジョブ識別子
        status: 
          type: string
          enum: 
            - pending
            - in_progress
            - completed
            - failed
            - cancelled
          description: ユーザーフレンドリーなジョブステータス
        execution_error: 
          $ref: "#/components/schemas/ExecutionError"
          description: ComfyUIからの詳細な実行エラー（構造化エラーデータがある失敗ジョブのみ）
        create_time: 
          type: integer
          format: int64
          description: ジョブ作成タイムスタンプ（秒単位のUnixタイムスタンプ）
        preview_output: 
          type: object
          description: プライマリ出力のプレビュー（ターミナル状態のみ存在）
          additionalProperties: true
        outputs_count: 
          type: integer
          description: 出力ファイルの総数（非ターミナル状態では省略）
        workflow_id: 
          type: string
          description: ワークフローグラフ定義を識別するUUID
        execution_start_time: 
          type: integer
          format: int64
          description: ワークフロー実行開始タイムスタンプ（ミリ秒単位のUnixタイムスタンプ、ターミナル状態のみ存在）
        execution_end_time: 
          type: integer
          format: int64
          description: ワークフロー実行完了タイムスタンプ（ミリ秒単位のUnixタイムスタンプ、ターミナル状態のみ存在）
    JobDetailResponse: 
      type: object
      description: ワークフローと出力を含む完全なジョブ詳細
      required: 
        - id
        - status
        - create_time
        - update_time
      properties: 
        id: 
          type: string
          format: uuid
          description: 一意のジョブ識別子
        status: 
          type: string
          enum: 
            - pending
            - in_progress
            - completed
            - failed
            - cancelled
          description: ユーザーフレンドリーなジョブステータス
        workflow: 
          type: object
          description: 完全なComfyUIワークフロー（10〜100KB、利用不可の場合は省略）
          additionalProperties: true
        execution_error: 
          $ref: "#/components/schemas/ExecutionError"
          description: ComfyUIからの詳細な実行エラー（構造化エラーデータがある失敗ジョブのみ）
        create_time: 
          type: integer
          format: int64
          description: ジョブ作成タイムスタンプ（秒単位のUnixタイムスタンプ）
        update_time: 
          type: integer
          format: int64
          description: 最終更新タイムスタンプ（秒単位のUnixタイムスタンプ）
        outputs: 
          type: object
          description: ComfyUIからの完全な出力オブジェクト（ターミナル状態のみ）
          additionalProperties: true
        preview_output: 
          type: object
          description: プライマリ出力のプレビュー（ターミナル状態のみ）
          additionalProperties: true
        outputs_count: 
          type: integer
          description: 出力ファイルの総数（非ターミナル状態では省略）
        workflow_id: 
          type: string
          description: ワークフローグラフ定義を識別するUUID
        execution_status: 
          type: object
          description: ComfyUI実行ステータスとタイムライン（ターミナル状態のみ）
          additionalProperties: true
        execution_meta: 
          type: object
          description: ノードレベルの実行メタデータ（ターミナル状態のみ）
          additionalProperties: true
    ExecutionError: 
      type: object
      description: ComfyUIからの詳細な実行エラー情報
      required: 
        - node_id
        - node_type
        - exception_message
        - exception_type
        - traceback
        - current_inputs
        - current_outputs
      properties: 
        node_id: 
          type: string
          description: 失敗したノードのID
        node_type: 
          type: string
          description: "ノードのタイプ名（例: \"KSampler\"）"
        exception_message: 
          type: string
          description: 人間が読めるエラーメッセージ
        exception_type: 
          type: string
          description: "Pythonの例外タイプ（例: \"RuntimeError\"）"
        traceback: 
          type: array
          items: 
            type: string
          description: トレースバック行の配列（利用不可の場合は空の配列）
        current_inputs: 
          type: object
          additionalProperties: true
          description: 障害発生時の入力値（利用不可の場合は空のオブジェクト）
        current_outputs: 
          type: object
          additionalProperties: true
          description: 失敗時の出力値（利用不可の場合は空オブジェクト）
    PaginationInfo: 
      type: object
      required: 
        - offset
        - limit
        - total
        - has_more
      properties: 
        offset: 
          type: integer
          minimum: 0
          description: 現在のオフセット（0ベース）
        limit: 
          type: integer
          minimum: 1
          description: 1ページあたりのアイテム数
        total: 
          type: integer
          minimum: 0
          description: フィルターに一致するアイテムの総数
        has_more: 
          type: boolean
          description: このページ以降にさらにアイテムがあるかどうか
    WebSocketMessage: 
      type: object
      description: "すべてのWebSocketメッセージの基本構造。メッセージはJSONで、タイプフィールドがメッセージタイプを示し、データフィールドにタイプ固有のペイロードが含まれます。\n"
      required: 
        - type
      properties: 
        type: 
          $ref: "#/components/schemas/WebSocketMessageType"
        data: 
          type: object
          description: メッセージペイロード（構造はタイプによって異なります）
          additionalProperties: true
    WebSocketMessageType: 
      type: string
      description: "WebSocketメッセージのタイプ。これらはComfyUIのネイティブメッセージタイプに対応しています。\n"
      enum: 
        - status
        - execution_start
        - execution_cached
        - executing
        - progress
        - progress_state
        - executed
        - execution_success
        - execution_error
        - execution_interrupted
    WebSocketStatusMessage: 
      type: object
      description: "キュー状態の更新。キュー状態が変更されたときに送信されます。\n"
      properties: 
        type: 
          type: string
          enum: 
            - status
        data: 
          type: object
          properties: 
            status: 
              type: object
              properties: 
                exec_info: 
                  type: object
                  properties: 
                    queue_remaining: 
                      type: integer
                      description: このユーザーのキューに残っているジョブ数
            sid: 
              type: string
              description: セッションID（初期接続時のみ）
    WebSocketExecutionStartMessage: 
      type: object
      description: "ワークフローの実行が開始されたときに送信されます。\n"
      properties: 
        type: 
          type: string
          enum: 
            - execution_start
        data: 
          type: object
          required: 
            - prompt_id
          properties: 
            prompt_id: 
              type: string
              format: uuid
              description: 実行を開始したジョブ/プロンプトID
    WebSocketExecutingMessage: 
      type: object
      description: "特定のノードが実行を開始したときに送信されます。\n"
      properties: 
        type: 
          type: string
          enum: 
            - executing
        data: 
          type: object
          required: 
            - prompt_id
          properties: 
            prompt_id: 
              type: string
              format: uuid
            node: 
              type: string
              description: 現在実行中のノードID（実行完了時はnull）
            display_node: 
              type: string
              description: 表示ノードID（グループ化されたノードの場合はノードと異なる場合があります）
    WebSocketProgressMessage: 
      type: object
      description: "ノード内のステップごとの進行状況（例：拡散サンプリングステップ）。\n"
      properties: 
        type: 
          type: string
          enum: 
            - progress
        data: 
          type: object
          required: 
            - prompt_id
            - node
            - value
            - max
          properties: 
            prompt_id: 
              type: string
              format: uuid
            node: 
              type: string
              description: 進行状況を表示しているノードID
            value: 
              type: integer
              description: 現在のステップ番号
            max: 
              type: integer
              description: ステップの総数
    WebSocketProgressStateMessage: 
      type: object
      description: "詳細なノードメタデータを含む拡張進行状態。\nよりシンプルな`progress`メッセージよりもリッチなコンテキストを提供します。\n"
      properties: 
        type: 
          type: string
          enum: 
            - progress_state
        data: 
          type: object
          properties: 
            prompt_id: 
              type: string
              format: uuid
            nodes: 
              type: object
              description: ノードIDとその進行状態のマップ
              additionalProperties: 
                type: object
                properties: 
                  node_id: 
                    type: string
                  display_node_id: 
                    type: string
                  real_node_id: 
                    type: string
                  prompt_id: 
                    type: string
                  class_type: 
                    type: string
                    description: "ノードのクラスタイプ（例：\"KSampler\"）"
    WebSocketExecutedMessage: 
      type: object
      description: "ノードが出力を伴って実行を完了したときに送信されます。\n"
      properties: 
        type: 
[...]
