# translationSourceHash: ff9adab0
# translationFrom: openapi/cloud.en.yaml

openapi: 3.0.3
info: 
  title: Comfy Cloud API
  description: "<警告>\n**实验性API：** 此API是实验性的，可能会更改。\n端点、请求/响应格式和行为可能在未经通知的情况下修改。\n</警告>\n\n用于Comfy Cloud的API - 在云基础设施上运行ComfyUI工作流。\n\n此API允许您以编程方式与Comfy Cloud交互，包括：\n- 提交和管理工作流\n- 上传和下载文件\n- 监控作业状态和进度\n\n## 云端与OSS ComfyUI兼容性\n\nComfy Cloud实现了与OSS ComfyUI相同的API接口以实现最大兼容性，\n但某些字段为了兼容性被接受，但处理方式不同或被忽略：\n\n| 字段 | 端点 | 云端行为 |\n|-------|-----------|----------------|\n| `subfolder` | `/api/view`, `/api/upload/*` | **忽略** - 云端使用内容寻址存储（基于哈希）。在响应中返回用于客户端组织。 |\n| `type` (input/output/temp) | `/api/view`, `/api/upload/*` | 部分使用 - 所有文件使用基于标签的组织存储，而非目录结构。 |\n| `overwrite` | `/api/upload/*` | **忽略** - 内容寻址存储意味着相同内容始终具有相同哈希。 |\n| `number`, `front` | `/api/prompt` | **忽略** - 云端使用自己的每个用户公平队列调度。 |\n| `split`, `full_info` | `/api/userdata` | **忽略** - 云端始终返回完整文件元数据。 |\n\n这些字段保留在API模式中，以便与现有ComfyUI客户端和工作流进行即插即用兼容。\n"
  version: 1.0.0
  license: 
    name: GNU General Public License v3.0
    url: https://github.com/Comfy-Org/ComfyUI/blob/master/LICENSE
servers: 
  - url: https://cloud.comfy.org
    description: Comfy Cloud API
security: 
  - ApiKeyAuth: 
      []
tags: 
  - name: workflow
    description: "提交工作流执行并管理执行队列。\n这是在云端运行ComfyUI工作流的主要方式。\n"
  - name: job
    description: "监控任务状态、查看执行历史和管理运行中的任务。\n任务通过POST /api/prompt提交工作流时创建。\n"
  - name: asset
    description: "上传、下载和管理持久资产（图像、模型、输出）。\n资产提供持久存储，支持标签和元数据。\n"
  - name: file
    description: "与传统本地ComfyUI兼容的传统文件上传和下载端点。\n对于新的集成，请考虑使用资产API。\n"
  - name: model
    description: "浏览可用的AI模型。模型已预加载到云端基础设施上。\n"
  - name: node
    description: "获取可用ComfyUI节点及其输入/输出的信息。\n对构建动态工作流界面很有用。\n"
  - name: user
    description: "用户账户信息和个人数据存储。\n"
  - name: system
    description: "服务器状态、健康检查和系统信息。\n"
x-tagGroups: 
  - name: Core
    tags: 
      - workflow
      - job
  - name: Storage
    tags: 
      - asset
      - file
  - name: Reference
    tags: 
      - model
      - node
  - name: Account
    tags: 
      - user
      - system
paths: 
  /api/prompt: 
    post: 
      tags: 
        - workflow
      summary: 提交工作流以执行
      description: "提交一个工作流供后端执行。\n工作流是一个JSON对象，描述节点及其连接。\n"
      operationId: executePrompt
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/PromptRequest"
      responses: 
        "200": 
          description: "成功: 提示已接受"
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PromptResponse"
        "400": 
          description: 无效的提示
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PromptErrorResponse"
        "402": 
          description: "需要付费: 积分不足"
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PromptErrorResponse"
        "429": 
          description: "需要付费: 用户尚未付款"
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PromptErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PromptErrorResponse"
        "503": 
          description: 服务不可用
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PromptErrorResponse"
    get: 
      tags: 
        - workflow
      summary: 获取当前提示执行的信息
      description: 返回执行队列中当前提示的信息
      operationId: getPromptInfo
      responses: 
        "200": 
          description: 成功
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/PromptInfo"
        "401": 
          description: 未授权
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/object_info: 
    get: 
      tags: 
        - node
      summary: 获取所有节点信息
      description: 返回所有可用节点的信息
      operationId: getNodeInfo
      responses: 
        "200": 
          description: 成功
          content: 
            application/json: 
              schema: 
                type: object
                additionalProperties: 
                  $ref: "#/components/schemas/NodeInfo"
  /api/features: 
    get: 
      tags: 
        - node
      summary: 获取服务器功能标志
      description: 返回服务器的功能特性
      operationId: getFeatures
      security: 
        - ApiKeyAuth: 
            []
        - {}
      responses: 
        "200": 
          description: 成功
          content: 
            application/json: 
              schema: 
                type: object
                properties: 
                  supports_preview_metadata: 
                    type: boolean
                    description: 服务器是否支持预览元数据
                  max_upload_size: 
                    type: integer
                    description: 最大上传大小（字节）
                additionalProperties: true
  /api/workflow_templates: 
    get: 
      tags: 
        - workflow
      summary: 获取可用工作流模板
      description: 返回可用的工作流模板
      operationId: getWorkflowTemplates
      security: 
        []
      responses: 
        "200": 
          description: 成功
          content: 
            application/json: 
              schema: 
                type: object
                description: 工作流模板的空对象
  /api/global_subgraphs: 
    get: 
      tags: 
        - workflow
      summary: 获取可用的子图蓝图
      description: "返回全局可用的子图蓝图列表。\n这些是预构建的工作流组件，可用作节点。\n数据字段包含一个Promise，解析为完整的子图JSON。\n"
      operationId: getGlobalSubgraphs
      security: 
        []
      responses: 
        "200": 
          description: 成功 - 子图ID到其元数据的映射
          content: 
            application/json: 
              schema: 
                type: object
                additionalProperties: 
                  $ref: "#/components/schemas/GlobalSubgraphInfo"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/global_subgraphs/{id}": 
    get: 
      tags: 
        - workflow
      summary: 获取特定的子图蓝图
      description: 按ID返回特定子图蓝图的完整数据
      operationId: getGlobalSubgraph
      security: 
        []
      parameters: 
        - name: id
          in: path
          required: true
          description: 子图蓝图的唯一标识符
          schema: 
            type: string
      responses: 
        "200": 
          description: 成功 - 完整的子图数据
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/GlobalSubgraphData"
        "404": 
          description: 未找到子图
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/experiment/models: 
    get: 
      tags: 
        - model
      summary: 获取可用的模型文件夹
      description: "返回系统中可用的模型文件夹列表。\n这是一个实验性端点，替代了传统的 /models 端点。\n"
      operationId: getModelFolders
      security: 
        []
      responses: 
        "200": 
          description: 成功 - 模型文件夹列表
          content: 
            application/json: 
              schema: 
                type: array
                items: 
                  $ref: "#/components/schemas/ModelFolder"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/experiment/models/{folder}": 
    get: 
      tags: 
        - model
      summary: 获取特定文件夹中的模型
      description: "返回指定文件夹中可用的模型列表。\n这是一个实验性端点，提供增强的模型信息。\n"
      operationId: getModelsInFolder
      security: 
        []
      parameters: 
        - name: folder
          in: path
          required: true
          description: 要列出模型的文件夹名称
          schema: 
            type: string
            example: checkpoints
      responses: 
        "200": 
          description: 成功 - 文件夹中的模型列表
          content: 
            application/json: 
              schema: 
                type: array
                items: 
                  $ref: "#/components/schemas/ModelFile"
        "404": 
          description: 未找到文件夹或文件夹中没有模型
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/experiment/models/preview/{folder}/{path_index}/{filename}": 
    get: 
      tags: 
        - model
      summary: 获取模型预览图像
      description: "返回指定模型的预览图像。\n图像以 WebP 格式返回，以获得最佳性能。\n"
      operationId: getModelPreview
      security: 
        []
      parameters: 
        - name: folder
          in: path
          required: true
          description: 包含模型的文件夹名称
          schema: 
            type: string
            example: checkpoints
        - name: path_index
          in: path
          required: true
          description: 路径索引（通常为0，用于云端服务）
          schema: 
            type: integer
            example: 0
        - name: filename
          in: path
          required: true
          description: 模型文件名（带或不带 .webp 扩展名）
          schema: 
            type: string
            example: model.safetensors
      responses: 
        "200": 
          description: 成功 - 模型预览图像
          content: 
            image/webp: 
              schema: 
                type: string
                format: binary
        "404": 
          description: 模型未找到或预览不可用
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/history: 
    post: 
      tags: 
        - job
      summary: 管理执行历史
      description: "清除已验证用户的全部历史记录或删除特定的任务ID。\n支持全部清除或删除特定的任务ID。\n"
      operationId: manageHistory
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/HistoryManageRequest"
      responses: 
        "200": 
          description: 成功 - 历史管理操作已完成
        "400": 
          description: 无效的请求参数
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 未授权：需要身份验证
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/history_v2: 
    get: 
      tags: 
        - job
      summary: 获取执行历史（v2）
      deprecated: true
      description: "**弃用。** 请改用 [`/api/jobs`](#tag/job/GET/api/jobs)。此端点保留以兼容ComfyUI，但将在未来版本中移除；尚未设定移除日期。\n\n检索已认证用户的执行历史，支持分页。\n返回轻量级历史格式，包含过滤后的提示数据（工作流已从extra_pnginfo中移除）。\n"
      operationId: getHistory
      parameters: 
        - name: max_items
          in: query
          required: false
          description: 返回的最大项目数
          schema: 
            type: integer
        - name: offset
          in: query
          required: false
          description: 起始位置（默认0）
          schema: 
            type: integer
            default: 0
      responses: 
        "200": 
          description: 成功：已检索执行历史
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/HistoryResponse"
        "401": 
          description: 未授权：需要身份验证
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/history_v2/{prompt_id}": 
    get: 
      tags: 
        - job
      summary: 获取特定提示的历史
      deprecated: true
      description: "**弃用。** 请改用 [`/api/jobs/{job_id}`](#tag/job/GET/api/jobs/{job_id})。`/api/prompt` 返回的 `prompt_id` 与 `job_id` 相同。此端点保留以兼容ComfyUI，但将在未来版本中移除；尚未设定移除日期。\n\n检索特定提示ID的详细执行历史。\n返回完整历史数据，包含完整的提示信息。\n"
      operationId: getHistoryForPrompt
      parameters: 
        - name: prompt_id
          in: path
          required: true
          description: 要检索历史的提示ID
          schema: 
            type: string
      responses: 
        "200": 
          description: 成功：已检索提示的历史
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/HistoryDetailResponse"
        "401": 
          description: 未授权：需要身份验证
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 提示未找到
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/jobs: 
    get: 
      tags: 
        - job
      summary: 带分页和筛选列出任务
      description: "检索已认证用户的分页任务列表。\n返回为列表视图优化的轻量级任务数据。\n排除工作流和完整输出以减小负载大小。\n"
      operationId: listJobs
      parameters: 
        - name: status
          in: query
          required: false
          description: 筛选方式：一个或多个状态（逗号分隔）。如果未提供，则返回所有任务。
          schema: 
            type: string
          example: "pending,in_progress"
        - name: workflow_id
          in: query
          required: false
          description: 筛选方式：工作流ID（精确匹配）
          schema: 
            type: string
          example: 550e8400-e29b-41d4-a716-446655440000
        - name: output_type
          in: query
          required: false
          description: 筛选方式：输出媒体类型（仅适用于已完成的有输出的任务）
          schema: 
            type: string
            enum: 
              - image
              - video
              - audio
          example: image
        - name: sort_by
          in: query
          required: false
          description: 排序方式：字段（create_time = 任务提交时间，execution_time = 工作流运行耗时）
          schema: 
            type: string
            enum: 
              - create_time
              - execution_time
            default: create_time
          example: execution_time
        - name: sort_order
          in: query
          required: false
          description: 排序方向（asc = 升序，desc = 降序）
          schema: 
            type: string
            enum: 
              - asc
              - desc
            default: desc
        - name: offset
          in: query
          required: false
          description: 分页偏移（从0开始）
          schema: 
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          required: false
          description: 每页最大项数（1-1000）
          schema: 
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
      responses: 
        "200": 
          description: "成功: 任务已获取"
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/JobsListResponse"
        "401": 
          description: "未授权: 需要身份验证"
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/jobs/{job_id}": 
    get: 
      tags: 
        - job
      summary: 获取任务完整详情
      description: "获取特定任务的完整详情，包括工作流和输出。\n用于详情视图、工作流重新执行和调试。\n"
      operationId: getJobDetail
      parameters: 
        - name: job_id
          in: path
          required: true
          description: 任务标识符（UUID）
          schema: 
            type: string
            format: uuid
      responses: 
        "200": 
          description: "成功: 任务详情已获取"
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/JobDetailResponse"
        "401": 
          description: "未授权: 需要身份验证"
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "403": 
          description: "禁止: 任务不属于该用户"
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 任务未找到
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/view: 
    get: 
      tags: 
        - file
      summary: 查看文件
      description: "从 ComfyUI 文件系统中检索并查看文件。\n该端点通常用于查看已生成的图像或其他输出文件。\n"
      operationId: viewFile
      parameters: 
        - name: filename
          in: query
          required: true
          description: 要查看的文件名
          schema: 
            type: string
            example: ComfyUI_00004_.png
        - name: subfolder
          in: query
          required: false
          description: "文件所在的子文件夹路径。\n**注意：** 为 ComfyUI API 兼容性而接受，但在**云端**被**忽略**。\n云端使用内容寻址存储，其中资产仅按哈希存储。\n子文件夹是客户端 UI 元数据，不用于存储查找。\n"
          schema: 
            type: string
            example: tests/foo/bar
        - name: type
          in: query
          required: false
          description: "文件类型（例如，输出、输入、临时）。\n**注意：** 在云端，`output` 和 `temp` 文件都存储在同一个存储桶中。\n类型参数用于兼容性，但存储位置由哈希决定。\n"
          schema: 
            type: string
            example: output
        - name: fullpath
          in: query
          required: false
          description: 文件的完整路径（用于临时文件）
          schema: 
            type: string
        - name: format
          in: query
          required: false
          description: 文件格式
          schema: 
            type: string
        - name: frame_rate
          in: query
          required: false
          description: 视频文件的帧率
          schema: 
            type: integer
        - name: workflow
          in: query
          required: false
          description: 工作流标识符
          schema: 
            type: string
        - name: timestamp
          in: query
          required: false
          description: 时间戳参数
          schema: 
            type: integer
            example: "1234567890"
        - name: channel
          in: query
          required: false
          description: "从PNG图像中提取的图像通道。\n- 'rgb': 仅返回RGB通道（透明度设为完全不透明）\n- 'a' 或 'alpha': 返回透明度通道作为灰度图像\n- 如果未指定，则通过重定向返回原始图像不变\n"
          schema: 
            type: string
            example: rgb
      responses: 
        "200": 
          description: 成功 - 返回文件内容（当存在通道参数时使用）
          content: 
            image/png: 
              schema: 
                type: string
                format: binary
                description: 处理后的PNG图像，包含提取的通道
        "302": 
          description: 重定向到GCS签名URL
          headers: 
            Location: 
              description: 访问GCS中文件的签名URL
              schema: 
                type: string
        "400": 
          description: 无效的请求参数
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 文件未找到或未经授权
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/files/mask-layers: 
    get: 
      tags: 
        - file
      summary: 获取相关的遮罩图层文件
      description: "给定一个遮罩文件（四个图层中的任意一个），返回所有相关的遮罩图层文件。\n遮罩编辑器使用此接口来加载画笔、遮罩和绘画图层\n当重新打开之前编辑的遮罩时。\n"
      operationId: getMaskLayers
      parameters: 
        - name: filename
          in: query
          required: true
          description: 任何遮罩图层文件的哈希文件名
          schema: 
            type: string
            example: abc123def456.png
      responses: 
        "200": 
          description: 成功 - 返回相关的遮罩图层
          content: 
            application/json: 
              schema: 
                type: object
                properties: 
                  mask: 
                    type: string
                    description: 遮罩层的文件名
                    nullable: true
                  paint: 
                    type: string
                    description: 画笔描边层的文件名
                    nullable: true
                  painted: 
                    type: string
                    description: 绘画图像层的文件名
                    nullable: true
                  painted_masked: 
                    type: string
                    description: 最终合成层的文件名
                    nullable: true
        "404": 
          description: 未找到文件或不是遮罩文件
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/assets: 
    get: 
      tags: 
        - asset
      summary: 列出用户资产
      description: "检索属于已验证用户的分页资产列表。\n支持按标签、名称、元数据和排序选项进行过滤。\n"
      operationId: listAssets
      parameters: 
        - name: include_tags
          in: query
          description: 过滤具有所有这些标签的资产
          schema: 
            type: array
            items: 
              type: string
          style: form
          explode: false
        - name: exclude_tags
          in: query
          description: 排除具有任何这些标签的资产
          schema: 
            type: array
            items: 
              type: string
          style: form
          explode: false
        - name: name_contains
          in: query
          description: 过滤名称包含此子字符串的资产（不区分大小写）
          schema: 
            type: string
        - name: metadata_filter
          in: query
          description: 用于按元数据字段过滤的JSON对象
          schema: 
            type: string
        - name: limit
          in: query
          description: 要返回的最大资产数（1-500）
          schema: 
            type: integer
            minimum: 1
            maximum: 500
            default: 20
        - name: offset
          in: query
          description: 跳过分页的资产数
          schema: 
            type: integer
            minimum: 0
            default: 0
        - name: sort
          in: query
          description: 排序字段
          schema: 
            type: string
            enum: 
              - name
              - created_at
              - updated_at
              - size
              - last_access_time
            default: created_at
        - name: order
          in: query
          description: 排序顺序
          schema: 
            type: string
            enum: 
              - asc
              - desc
            default: desc
        - name: include_public
          in: query
          description: 是否在结果中包含公开/共享的资产
          schema: 
            type: boolean
            default: true
      responses: 
        "200": 
          description: 成功 - 已返回资产
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ListAssetsResponse"
        "400": 
          description: 无效的请求参数
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 未授权
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
    post: 
      tags: 
        - asset
      summary: 上传新资产
      description: "向系统上传带有相关元数据的新资产。\n支持两种上传方式：\n1. 直接文件上传（multipart/form-data）\n2. 基于URL的上传（application/json，source: \"url\"）\n\n如果具有相同哈希的资产已存在，则返回现有资产。\n"
      operationId: uploadAsset
      requestBody: 
        required: true
        content: 
          multipart/form-data: 
            schema: 
              type: object
              required: 
                - file
              properties: 
                file: 
                  type: string
                  format: binary
                  description: 要上传的资产文件
                tags: 
                  type: array
                  items: 
                    type: string
                  description: "资产的自由格式标签。常见类型包括\"models\"、\"input\"、\"output\"和\"temp\"，但任何标签都可以任意顺序使用。"
                id: 
                  type: string
                  format: uuid
                  description: 用于幂等创建的可选资产ID。如果提供且资产已存在，则返回现有资产。
                preview_id: 
                  type: string
                  format: uuid
                  description: 可选预览资产ID。如果未提供，图像将使用自己的ID作为预览。
                name: 
                  type: string
                  description: 资产的显示名称
                mime_type: 
                  type: string
                  description: "资产的MIME类型（例如\"image/png\"、\"video/mp4\"）"
                user_metadata: 
                  type: string
                  description: 作为字符串的自定义JSON元数据
          application/json: 
            schema: 
              type: object
              required: 
                - url
                - name
              properties: 
                url: 
                  type: string
                  format: uri
                  description: 用于下载资产的HTTP/HTTPS URL
                name: 
                  type: string
                  description: 资产的显示名称（用于确定文件扩展名）
                tags: 
                  type: array
                  items: 
                    type: string
                  description: "资产的自由格式标签。常见类型包括\"models\"、\"input\"、\"output\"和\"temp\"，但任何标签都可以任意顺序使用。"
                user_metadata: 
                  type: object
                  additionalProperties: true
                  description: 与资产一起存储的自定义元数据
                preview_id: 
                  type: string
                  format: uuid
                  description: 可选的预览资产ID
      responses: 
        "200": 
          description: 资产已存在（返回现有资产）
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetCreated"
        "201": 
          description: 资产创建成功
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetCreated"
        "400": 
          description: 无效的请求（文件错误、URL无效、内容类型无效等）
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 未授权
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "403": 
          description: 来源URL需要认证或访问被拒绝
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 来源URL未找到
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "413": 
          description: 文件过大
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "415": 
          description: 不支持的媒体类型
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "422": 
          description: 由于网络错误或超时导致下载失败
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/assets/from-hash: 
    post: 
      tags: 
        - asset
      summary: 从现有哈希创建资产引用
      description: "使用云端存储中现有的哈希创建新的资产引用。\n这可以避免在底层数据已存在时重新上传文件内容，\n对于大文件或引用已知资产时非常有用。\n用户为新引用提供自己的元数据和标签。\n"
      operationId: createAssetFromHash
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              type: object
              required: 
                - hash
                - tags
              properties: 
                hash: 
                  type: string
                  description: 现有资产的哈希。支持 Blake3 (blake3:) 或 SHA256 (sha256:) 格式
                  pattern: "^(blake3|sha256):[a-f0-9]{64}$"
                name: 
                  type: string
                  description: 资产引用的显示名称（可选）
                tags: 
                  type: array
                  items: 
                    type: string
                  minItems: 1
                  description: "资产的自由格式标签。常见类型包括 \"models\", \"input\", \"output\" 和 \"temp\"，但任何标签都可以按任意顺序使用。"
                mime_type: 
                  type: string
                  description: "资产的 MIME 类型（例如 \"image/png\", \"video/mp4\"）"
                user_metadata: 
                  type: object
                  description: 此资产引用的自定义元数据
                  additionalProperties: true
      responses: 
        "200": 
          description: 资产引用已存在（返回现有引用）
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetCreated"
        "201": 
          description: 资产引用创建成功
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetCreated"
        "400": 
          description: 无效请求（哈希格式错误、标签无效等）
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 未授权
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 未找到具有给定哈希的源资产
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/assets/remote-metadata: 
    get: 
      tags: 
        - asset
      summary: 从远程URL获取资产元数据
      description: "从远程下载 URL 检索资产的元数据，而无需下载整个文件。\n支持包括 CivitAI 和其他模型存储库在内的各种来源。\n使用 HEAD 请求或 API 调用高效获取元数据。\n此端点用于下载前预览元数据，而非获取现有资产的元数据。\n"
      operationId: getRemoteAssetMetadata
      parameters: 
        - name: url
          in: query
          required: true
          description: 从哪个下载 URL 检索元数据
          schema: 
            type: string
            format: uri
            example: https://civitai.com/api/download/models/123456
      responses: 
        "200": 
          description: 元数据检索成功
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetMetadataResponse"
        "400": 
          description: 无效的 URL 或缺少必填参数
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 未授权
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "422": 
          description: 从来源检索元数据失败
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/assets/download: 
    post: 
      tags: 
        - asset
      summary: 为大文件启动后台下载
      description: "从Huggingface或Civitai启动大型文件的背景下载任务。\n\n如果文件已存在于存储中，则立即创建资产记录并返回（200 OK）。\n如果文件不存在，则创建背景任务并返回任务ID（202 Accepted）。\n前端可以使用GET /api/tasks/{task_id}跟踪进度。\n"
      operationId: createAssetDownload
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              type: object
              required: 
                - source_url
              properties: 
                source_url: 
                  type: string
                  format: uri
                  description: 要下载的文件的URL（必须来自huggingface.co或civitai.com）
                  example: https://huggingface.co/runwayml/stable-diffusion-v1-5/resolve/main/v1-5-pruned.safetensors
                tags: 
                  type: array
                  items: 
                    type: string
                  description: "资产的（可选）标签（例如 [\"model\", \"checkpoint\"]）"
                user_metadata: 
                  type: object
                  additionalProperties: true
                  description: 要附加到资产的可选用户定义元数据
                preview_id: 
                  type: string
                  format: uuid
                  description: 与下载的资产关联的可选预览资产ID
                  example: 550e8400-e29b-41d4-a716-446655440000
      responses: 
        "200": 
          description: 文件已存在于存储中 - 资产立即创建/返回
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetCreated"
        "202": 
          description: 已接受 - 下载任务已创建并在后台处理
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetDownloadResponse"
        "400": 
          description: 无效的 URL 或不支持的来源
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 未授权
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "422": 
          description: 验证错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/assets/{id}": 
    get: 
      tags: 
        - asset
      summary: 获取资产详情
      description: 检索特定资产的详细信息
      operationId: getAssetById
      parameters: 
        - name: id
          in: path
          required: true
          description: 资产ID
          schema: 
            type: string
            format: uuid
      responses: 
        "200": 
          description: 资产详情检索成功
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/Asset"
        "401": 
          description: 未授权
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 未找到资产
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
    put: 
      tags: 
        - asset
      summary: 更新资产元数据
      description: "更新资产的元数据。必须至少提供一个字段。\n仅可更新名称、标签和user_metadata。\n"
      operationId: updateAsset
      parameters: 
        - name: id
          in: path
          required: true
          description: 资产ID
          schema: 
            type: string
            format: uuid
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              type: object
              properties: 
                name: 
                  type: string
                  description: 资产的新显示名称
                tags: 
                  type: array
                  items: 
                    type: string
                  description: 资产的已更新标签
                mime_type: 
                  type: string
                  description: 资产更新后的MIME类型
                preview_id: 
                  type: string
                  format: uuid
                  description: 已更新的预览资产ID
                user_metadata: 
                  type: object
                  description: 已更新的自定义元数据
                  additionalProperties: true
              minProperties: 1
      responses: 
        "200": 
          description: 资产已成功更新
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetUpdated"
        "400": 
          description: 无效请求（未提供字段）
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 未授权
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 资产未找到
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
    delete: 
      tags: 
        - asset
      summary: 删除资产
      description: "从存储中删除资产及其内容。\n数据库记录和存储内容均被删除。\n"
      operationId: deleteAsset
      parameters: 
        - name: id
          in: path
          required: true
          description: 资产ID
          schema: 
            type: string
            format: uuid
      responses: 
        "204": 
          description: 资产删除成功
        "401": 
          description: 未授权
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 未找到资产
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/assets/{id}/tags": 
    post: 
      tags: 
        - asset
      summary: 向资产添加标签
      description: 向现有资产添加一个或多个标签
      operationId: addAssetTags
      parameters: 
        - name: id
          in: path
          required: true
          description: 资产ID
          schema: 
            type: string
            format: uuid
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              type: object
              required: 
                - tags
              properties: 
                tags: 
                  type: array
                  items: 
                    type: string
                  minItems: 1
                  description: 要添加到资产的标签
      responses: 
        "200": 
          description: 标签已成功添加
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/TagsModificationResponse"
        "400": 
          description: 无效请求
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 未授权
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 资产未找到
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
    delete: 
      tags: 
        - asset
      summary: 从资产移除标签
      description: 从现有资产中移除一个或多个标签
      operationId: removeAssetTags
      parameters: 
        - name: id
          in: path
          required: true
          description: 资产ID
          schema: 
            type: string
            format: uuid
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              type: object
              required: 
                - tags
              properties: 
                tags: 
                  type: array
                  items: 
                    type: string
                  minItems: 1
                  description: 要从资产移除的标签
      responses: 
        "200": 
          description: 标签已成功移除
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/TagsModificationResponse"
        "400": 
          description: 无效请求
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 未授权
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 资产未找到
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/tags: 
    get: 
      tags: 
        - asset
      summary: 列出所有标签
      description: "检索所有资产中使用的标签列表。\n包含使用次数和过滤选项。\n"
      operationId: listTags
      parameters: 
        - name: prefix
          in: query
          description: 按前缀过滤标签
          schema: 
            type: string
        - name: limit
          in: query
          description: 返回的最大标签数（1-1000）
          schema: 
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - name: offset
          in: query
          description: 分页跳过的标签数
          schema: 
            type: integer
            minimum: 0
            default: 0
        - name: order
          in: query
          description: 标签的排序顺序
          schema: 
            type: string
            enum: 
              - count_desc
              - name_asc
            default: count_desc
        - name: include_zero
          in: query
          description: 包含使用次数为零的标签
          schema: 
            type: boolean
            default: false
        - name: include_public
          in: query
          description: 统计标签时是否包含公共/共享资产
          schema: 
            type: boolean
            default: true
      responses: 
        "200": 
          description: 标签检索成功
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ListTagsResponse"
        "400": 
          description: 无效的请求参数
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 未授权
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/assets/tags/refine: 
    get: 
      tags: 
        - asset
      summary: 获取已过滤资产的标签直方图
      description: "返回与给定滤镜匹配的资产上出现的标签直方图。\n通过显示可用标签及其计数，有助于细化资产搜索。\n仅返回非零计数的标签（存在于匹配资产上的标签）。\n"
      operationId: getAssetTagHistogram
      parameters: 
        - name: include_tags
          in: query
          description: 过滤拥有所有这些标签的资产
          schema: 
            type: array
            items: 
              type: string
          style: form
          explode: false
        - name: exclude_tags
          in: query
          description: 排除拥有任意这些标签的资产
          schema: 
            type: array
            items: 
              type: string
          style: form
          explode: false
        - name: name_contains
          in: query
          description: 过滤名称包含此子字符串的资产（不区分大小写）
          schema: 
            type: string
        - name: metadata_filter
          in: query
          description: 用于按元数据字段过滤的JSON对象
          schema: 
            type: string
        - name: limit
          in: query
          description: 返回的最大标签数（1-1000，默认100）
          schema: 
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - name: include_public
          in: query
          description: 是否在结果中包含公开/共享资产
          schema: 
            type: boolean
            default: true
      responses: 
        "200": 
          description: 成功 - 返回标签直方图
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/AssetTagHistogramResponse"
        "400": 
          description: 无效的请求参数
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 未授权
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/assets/hash/{hash}": 
    head: 
      tags: 
        - asset
      summary: 通过哈希检查资产是否存在
      description: "检查具有给定哈希的内容是否存在于云端存储中。\n如果内容存在则返回 200，否则返回 404。\n在使用 `/api/assets/from-hash` 之前检查可用性很有用。\n"
      operationId: checkAssetByHash
      parameters: 
        - name: hash
          in: path
          required: true
          description: "资产的 Blake3 哈希，格式为 'blake3:hex_digest'"
          schema: 
            type: string
            pattern: "^blake3:[a-f0-9]{64}$"
            example: blake3:a1b2c3d4e5f6789012345678901234567890123456789012345678901234
      responses: 
        "200": 
          description: 资产存在
        "400": 
          description: 无效的哈希格式
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 未授权
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 未找到资产
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/queue: 
    get: 
      tags: 
        - job
      summary: 获取队列信息
      description: 返回队列中运行和待定项目的信息
      operationId: getQueueInfo
      responses: 
        "200": 
          description: 成功
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/QueueInfo"
        "400": 
          description: 无效的请求参数
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 无效的请求参数
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
    post: 
      tags: 
        - job
      summary: 管理队列操作
      description: "通过ID取消特定的待定任务，或全部清除队列中的待定任务。\n注意：此端点仅影响待定任务。要取消正在运行的任务，请使用 /api/interrupt。\n"
      operationId: manageQueue
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/QueueManageRequest"
      responses: 
        "200": 
          description: 成功
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/QueueManageResponse"
        "400": 
          description: 无效的请求参数
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 未授权
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/interrupt: 
    post: 
      tags: 
        - job
      summary: 中断当前运行中的任务
      description: "取消已认证用户当前所有正在运行的任务。\n这将中断任何当前状态为'in_progress'的任务。\n注意：此端点仅影响正在运行的任务。要取消待定任务，请使用 /api/queue。\n"
      operationId: interruptJob
      responses: 
        "200": 
          description: 成功：任务已中断或未找到运行中的任务
        "401": 
          description: 未授权：需要身份验证
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/userdata: 
    get: 
      tags: 
        - user
      operationId: getUserdata
      summary: 列出用户数据文件
      description: 返回指定目录中的用户数据文件列表，可选递归并包含完整元数据。
      parameters: 
        - name: dir
          in: query
          required: true
          description: "要列出文件的目录路径。必须包含尾部斜杠。\n示例：\"workflows/\"或\"settings/\"\n"
          schema: 
            type: string
          example: workflows/
        - name: recurse
          in: query
          required: false
          description: 如果为是，则包含子目录中的文件。否则仅列出指定目录中的文件。
          schema: 
            type: boolean
            default: false
        - name: split
          in: query
          required: false
          description: "是否按类型拆分文件信息。\n**注意：** 为了兼容 ComfyUI API 而接受，但目前被忽略。\n"
          schema: 
            type: boolean
            default: false
        - name: full_info
          in: query
          required: false
          description: "是否返回完整文件元数据。\n**注意：** 为了兼容 ComfyUI API 而接受，但目前被忽略（始终返回完整信息）。\n"
          schema: 
            type: boolean
            default: false
      responses: 
        "200": 
          description: 用户数据文件列表。
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/GetUserDataResponseFull"
        "400": 
          description: 错误请求（例如，无效文件名）。
          content: 
            text/plain: 
              schema: 
                type: string
        "401": 
          description: 未授权。
          content: 
            text/plain: 
              schema: 
                type: string
        "404": 
          description: 文件未找到或路径无效。
          content: 
            text/plain: 
              schema: 
                type: string
        "500": 
          description: 常规错误
          content: 
            text/plain: 
              schema: 
                type: string
  "/api/userdata/{file}": 
    get: 
      tags: 
        - user
      operationId: getUserdataFile
      summary: 获取用户数据文件
      description: 如果存在，则返回所请求的用户数据文件。
      parameters: 
        - name: file
          in: path
          required: true
          description: 要检索的用户数据的文件名。
          schema: 
            type: string
      responses: 
        "200": 
          description: 成功检索文件。
          content: 
            application/octet-stream: 
              schema: 
                type: string
                format: binary
        "400": 
          description: 错误请求（例如，无效文件名）。
          content: 
            text/plain: 
              schema: 
                type: string
        "401": 
          description: 未经授权。
          content: 
            text/plain: 
              schema: 
                type: string
        "404": 
          description: 文件未找到或路径无效。
          content: 
            text/plain: 
              schema: 
                type: string
        "500": 
          description: 常规错误
          content: 
            text/plain: 
              schema: 
                type: string
    post: 
      tags: 
        - user
      operationId: postUserdataFile
      summary: 上传或更新用户数据文件
      description: "将文件上传到用户数据目录。可选查询参数允许控制覆盖行为和响应详细信息。\n"
      parameters: 
        - name: file
          in: path
          required: true
          description: 目标文件路径（必要时进行URL编码）。
          schema: 
            type: string
        - name: overwrite
          in: query
          required: false
          description: 如果为“否”，则阻止覆盖现有文件。默认为“是”。
          schema: 
            type: string
            enum: 
              - "true"
              - "false"
            default: "true"
        - name: full_info
          in: query
          required: false
          description: 如果为“是”，则返回详细的文件信息；如果为“否”，则仅返回相对路径。
          schema: 
            type: string
            enum: 
              - "true"
              - "false"
            default: "false"
      requestBody: 
        required: true
        content: 
          application/octet-stream: 
            schema: 
              type: string
              format: binary
      responses: 
        "200": 
          description: 文件上传成功。
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/UserDataResponseFull"
        "400": 
          description: 缺失或无效的“file”参数。
          content: 
            text/plain: 
              schema: 
                type: string
        "401": 
          description: 未经授权。
          content: 
            text/plain: 
              schema: 
                type: string
        "403": 
          description: 所请求的路径不被允许。
          content: 
            text/plain: 
              schema: 
                type: string
        "409": 
          description: 文件已存在且覆盖设置为否。
          content: 
            text/plain: 
              schema: 
                type: string
        "500": 
          description: 常规错误
          content: 
            text/plain: 
              schema: 
                type: string
    delete: 
      tags: 
        - user
      operationId: deleteUserdataFile
      summary: 删除用户数据文件
      description: "从数据库中删除用户数据文件。文件参数应为用户数据目录中的相对路径。\n"
      parameters: 
        - name: file
          in: path
          required: true
          description: 要删除的文件路径（必要时进行URL编码）。
          schema: 
            type: string
      responses: 
        "204": 
          description: 文件已删除成功（无内容）。
        "401": 
          description: 未经授权。
          content: 
            text/plain: 
              schema: 
                type: string
        "404": 
          description: 文件未找到。
          content: 
            text/plain: 
              schema: 
                type: string
        "500": 
          description: 内部服务器错误。
          content: 
            text/plain: 
              schema: 
                type: string
  /api/upload/image: 
    post: 
      tags: 
        - file
      summary: 上传图片文件
      description: "将图像文件上传至云端存储。\n\n图像限制：\n  - 最大文件大小：50 MB\n  - 每边最大宽度/高度：16384 px\n  - 最大总像素数：64 兆像素（67108864 像素）\n\n超过这些限制中任何一项的上传都将被HTTP 400拒绝。\n"
      operationId: uploadImage
      requestBody: 
        required: true
        content: 
          multipart/form-data: 
            schema: 
              type: object
              required: 
                - image
              properties: 
                image: 
                  type: string
                  format: binary
                  description: 要上传的图像文件
                overwrite: 
                  type: string
                  description: "是否覆盖现有文件（是/否）。\n**注意：** 为兼容ComfyUI API而接受，但在云端实际忽略。\n云端使用内容寻址存储（基于哈希的去重），因此相同的内容始终映射到相同的哈希。重新上传相同的内容是空操作。\n"
                subfolder: 
                  type: string
                  description: "可选的子文件夹路径。\n**注意：** 为兼容ComfyUI API而接受，但存储时**忽略**。\n云端仅按哈希存储资产。子文件夹在响应中返回用于客户端组织，但不在服务器端存储路径中使用。\n"
                type: 
                  type: string
                  description: "上传类型（默认为\"output\"）。\n**注意：** 为兼容ComfyUI API而接受。云端将所有上传内容作为带标签的资产存储，而非基于目录的组织方式。\n"
      responses: 
        "200": 
          description: 图像上传成功
          content: 
            application/json: 
              schema: 
                type: object
                properties: 
                  name: 
                    type: string
                    description: 上传图像的文件名
                  subfolder: 
                    type: string
                    description: 图像保存的子文件夹路径
                  type: 
                    type: string
                    description: "上传类型（例如\"output\"）"
        "400": 
          description: 错误请求
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 未授权
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/upload/mask: 
    post: 
      tags: 
        - file
      summary: 上传遮罩图像
      description: "上传一个要应用到现有图像的遮罩图像。\n\n图像限制同时适用于上传的遮罩和引用的原始图像：\n  - 最大文件大小：50 MB\n  - 每边最大宽度/高度：16384 px\n  - 最大总像素数：64 兆像素（67108864 像素）\n\n超过这些限制的上传将被 HTTP 400 拒绝。\n"
      operationId: uploadMask
      requestBody: 
        required: true
        content: 
          multipart/form-data: 
            schema: 
              type: object
              required: 
                - image
                - original_ref
              properties: 
                image: 
                  type: string
                  format: binary
                  description: 要上传的遮罩图像文件
                original_ref: 
                  type: string
                  description: 包含对原始图像引用的 JSON 字符串
      responses: 
        "200": 
          description: 遮罩上传成功
          content: 
            application/json: 
              schema: 
                type: object
                properties: 
                  name: 
                    type: string
                    description: 上传遮罩的文件名
                  subfolder: 
                    type: string
                    description: 遮罩保存的子文件夹路径
                  type: 
                    type: string
                    description: "上传类型（例如\"output\"）"
                  metadata: 
                    type: object
                    description: 用于遮罩检测和重新编辑的附加元数据
                    properties: 
                      is_mask: 
                        type: boolean
                        description: 此文件是否为遮罩
                      original_hash: 
                        type: string
                        description: 原始未遮罩图像的哈希值
                      mask_type: 
                        type: string
                        description: "遮罩类型（例如\"painted_masked\"）"
                      related_files: 
                        type: object
                        description: 相关的遮罩层文件（如果可用）
                        properties: 
                          mask: 
                            type: string
                            description: 遮罩层的哈希值
                          paint: 
                            type: string
                            description: 绘画层的哈希值
                          painted: 
                            type: string
                            description: 已绘画图像的哈希值
        "400": 
          description: 错误请求
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "401": 
          description: 未授权
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/system_stats: 
    get: 
      tags: 
        - system
      summary: 获取系统统计信息
      description: 返回系统统计信息，包括ComfyUI版本、设备信息和系统资源
      operationId: getSystemStats
      security: 
        []
      responses: 
        "200": 
          description: 成功
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/SystemStatsResponse"
        "401": 
          description: 未授权
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  /api/user: 
    get: 
      tags: 
        - user
      summary: 获取当前用户信息
      description: 返回当前已认证用户的信息
      operationId: getUser
      responses: 
        "200": 
          description: 成功
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/UserResponse"
        "401": 
          description: 未授权
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
  "/api/job/{job_id}/status": 
    get: 
      tags: 
        - job
      summary: 获取任务状态
      description: 返回指定ID任务的当前状态
      operationId: getJobStatus
      parameters: 
        - name: job_id
          in: path
          required: true
          description: 任务的唯一ID
          schema: 
            type: string
            format: uuid
      responses: 
        "200": 
          description: 成功：已返回任务状态
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/JobStatusResponse"
        "401": 
          description: 未授权
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "403": 
          description: 禁止：任务属于其他用户
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "404": 
          description: 任务未找到
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
        "500": 
          description: 内部服务器错误
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/ErrorResponse"
components: 
  securitySchemes: 
    ApiKeyAuth: 
      type: apiKey
      in: header
      name: X-API-Key
      description: "API密钥认证。从您的用户设置中生成API密钥\n位于https://platform.comfy.org/profile/api-keys。在X-API-Key头中传递密钥。\n"
  schemas: 
    PromptRequest: 
      type: object
      required: 
        - prompt
      properties: 
        prompt: 
          type: object
          description: 要执行的工作流画面
          additionalProperties: true
        number: 
          type: number
          description: "队列的优先级编号（数字越小优先级越高）。\n**注意：** 为兼容ComfyUI API而接受，但在云端**忽略**。\n云端使用自己的队列管理，包含按用户排序和公平调度。\n"
        front: 
          type: boolean
          description: "如果为true，则将提示添加到队列前端。\n**注意：** 为兼容ComfyUI API而接受，但在云端**忽略**。\n云端基于任务提交时间和公平调度在内部管理队列排序。\n"
        extra_data: 
          type: object
          description: 要与提示关联的额外数据
          additionalProperties: true
        partial_execution_targets: 
          type: array
          items: 
            type: string
          description: 要执行的节点名称列表
    PromptResponse: 
      type: object
      properties: 
        prompt_id: 
          type: string
          format: uuid
          description: 提示执行的唯一标识符
        number: 
          type: number
          description: 队列中的优先级编号
        node_errors: 
          type: object
          description: 提示节点中的任何错误
          additionalProperties: true
    ErrorResponse: 
      type: object
      required: 
        - code
        - message
      properties: 
        code: 
          type: string
        message: 
          type: string
    PromptInfo: 
      type: object
      properties: 
        exec_info: 
          type: object
          properties: 
            queue_remaining: 
              type: integer
              description: 队列中剩余的项目数
    NodeInfo: 
      type: object
      properties: 
        input: 
          type: object
          description: 节点的输入规范
          additionalProperties: true
        input_order: 
          type: object
          description: 用于显示的输入顺序
          additionalProperties: 
            type: array
            items: 
              type: string
        output: 
          type: array
          items: 
            type: string
          description: 节点的输出类型
        output_is_list: 
          type: array
          items: 
            type: boolean
          description: 每个输出是否为列表
        output_name: 
          type: array
          items: 
            type: string
          description: 输出的名称
        name: 
          type: string
          description: 节点的内部名称
        display_name: 
          type: string
          description: 节点的显示名称
        description: 
          type: string
          description: 节点的描述
        python_module: 
          type: string
          description: 实现该节点的Python模块
        category: 
          type: string
          description: 节点的类别
        output_node: 
          type: boolean
          description: 是否为输出节点
        output_tooltips: 
          type: array
          items: 
            type: string
          description: 输出的工具提示
        deprecated: 
          type: boolean
          description: 节点是否已弃用
        experimental: 
          type: boolean
          description: 节点是否为实验性
        api_node: 
          type: boolean
          description: 是否为API节点
    GlobalSubgraphInfo: 
      type: object
      description: 全局子图蓝图的元数据（不含完整数据）
      required: 
        - source
        - name
        - info
      properties: 
        source: 
          type: string
          description: 子图的来源类型：“templates”表示工作流模板，“custom_node”表示自定义节点子图
        name: 
          type: string
          description: 子图蓝图的显示名称
        info: 
          type: object
          description: 关于子图的附加信息
          required: 
            - node_pack
          properties: 
            node_pack: 
              type: string
              description: 提供此子图的节点包/模块
        data: 
          type: string
          description: 完整的子图JSON数据（列表视图下可能为空）
    GlobalSubgraphData: 
      type: object
      description: 全局子图蓝图的完整数据
      required: 
        - source
        - name
        - info
        - data
      properties: 
        source: 
          type: string
          description: 子图的来源类型：“templates”表示工作流模板，“custom_node”表示自定义节点子图
        name: 
          type: string
          description: 子图蓝图的显示名称
        info: 
          type: object
          description: 关于子图的附加信息
          required: 
            - node_pack
          properties: 
            node_pack: 
              type: string
              description: 提供此子图的节点包/模块
        data: 
          type: string
          description: 作为字符串的完整子图JSON数据
    HistoryResponse: 
      type: object
      description: "带历史数组的执行历史响应。\n返回一个包含\"history\"键的对象，其中包含历史条目数组。\n每个条目包括prompt_id属性以及执行数据。\n"
      required: 
        - history
      properties: 
        history: 
          type: array
          description: 按创建时间排序的历史条目数组（最新在前）
          items: 
            $ref: "#/components/schemas/HistoryEntry"
    HistoryEntry: 
      type: object
      description: 包含prompt_id和执行数据的历史记录条目
      required: 
        - prompt_id
      properties: 
        prompt_id: 
          type: string
          description: 此提示执行的唯一标识符
        create_time: 
          type: integer
          format: int64
          description: 任务创建时间戳（Unix毫秒时间戳）
        workflow_id: 
          type: string
          description: 标识工作流画面定义的UUID
        prompt: 
          type: object
          description: 过滤后的提示执行数据（轻量格式）
          properties: 
            priority: 
              type: number
              format: double
              description: 执行优先级
            prompt_id: 
              type: string
              description: 提示ID
            extra_data: 
              type: object
              description: 附加执行数据（从extra_pnginfo中移除的工作流）
              additionalProperties: true
        outputs: 
          type: object
          description: 执行输出数据（已生成的图像、文件等）
          additionalProperties: true
        status: 
          type: object
          description: 执行状态和时间线信息
          additionalProperties: true
        meta: 
          type: object
          description: 关于执行和节点的元数据
          additionalProperties: true
    HistoryDetailEntry: 
      type: object
      description: 包含完整提示数据的历史记录条目
      properties: 
        prompt: 
          type: object
          description: 完整的提示执行数据
          properties: 
            priority: 
              type: number
              format: double
              description: 执行优先级
            prompt_id: 
              type: string
              description: 提示ID
            prompt: 
              type: object
              description: 工作流节点
              additionalProperties: true
            extra_data: 
              type: object
              description: 附加执行数据
              additionalProperties: true
            outputs_to_execute: 
              type: array
              items: 
                type: string
              description: 要执行的输出节点
        outputs: 
          type: object
          description: 执行产生的输出数据（已生成的图像、文件等）
          additionalProperties: true
        status: 
          type: object
          description: 执行状态及时间线信息
          additionalProperties: true
        meta: 
          type: object
          description: 关于执行和节点的元数据
          additionalProperties: true
    HistoryDetailResponse: 
      type: object
      description: "特定提示的详细执行历史响应。\n返回一个以prompt_id为键、完整历史数据为值的字典。\n"
      additionalProperties: 
        $ref: "#/components/schemas/HistoryDetailEntry"
    QueueInfo: 
      type: object
      description: 包含待定和正在运行任务的队列信息
      properties: 
        queue_running: 
          type: array
          description: 当前正在运行的任务项数组
          items: 
            $ref: "#/components/schemas/QueueItem"
        queue_pending: 
          type: array
          description: 待定任务项数组（按创建时间排序，最旧在前）
          items: 
            $ref: "#/components/schemas/QueueItem"
    QueueItem: 
      type: array
      description: "队列项元组格式：[job_number, prompt_id, workflow_json, output_node_ids, metadata]\n- [0] job_number（整数）：在队列中的位置（从1开始）\n- [1] prompt_id（字符串）：任务UUID\n- [2] workflow_json（对象）：完整的ComfyUI工作流\n- [3] output_node_ids（数组）：要返回结果的节点ID\n- [4] metadata（对象）：包含{create_time: <毫秒>}\n"
      items: 
        oneOf: 
          - type: integer
            description: 任务编号（队列中的位置）
          - type: string
            description: 提示ID（UUID）
          - type: object
            description: 工作流JSON
          - type: array
            items: 
              type: string
            description: 输出节点ID
          - type: object
            description: 包含创建时间的元数据
    QueueManageRequest: 
      type: object
      description: 管理队列操作的请求
      properties: 
        delete: 
          type: array
          items: 
            type: string
          description: 要取消的待定任务ID数组
        clear: 
          type: boolean
          description: 如果为true，从队列中全部清除待定任务
      additionalProperties: false
    QueueManageResponse: 
      type: object
      properties: 
        deleted: 
          type: array
          items: 
            type: string
          description: 已成功取消的任务ID数组
        cleared: 
          type: boolean
          description: 队列是否已清除
    JobStatusResponse: 
      type: object
      description: 任务状态信息
      properties: 
        id: 
          type: string
          format: uuid
          description: 任务ID
        status: 
          type: string
          enum: 
            - waiting_to_dispatch
            - pending
            - in_progress
            - completed
            - error
            - cancelled
          description: 当前任务状态
        created_at: 
          type: string
          format: date-time
          description: 任务创建时间
        updated_at: 
          type: string
          format: date-time
          description: 任务最后更新时间
        last_state_update: 
          type: string
          format: date-time
          description: 任务状态最后变更时间
        assigned_inference: 
          type: string
          nullable: true
          description: 分配给此任务的推理实例（如有）
        error_message: 
          type: string
          nullable: true
          description: 任务失败时的报错信息
      required: 
        - id
        - status
        - created_at
        - updated_at
    HistoryManageRequest: 
      type: object
      description: 管理历史操作的请求
      properties: 
        delete: 
          type: array
          items: 
            type: string
          description: 要从历史中删除的任务ID数组
        clear: 
          type: boolean
          description: 若是，清除已验证用户的全部历史记录
      additionalProperties: false
    UserDataResponse: 
      oneOf: 
        - $ref: "#/components/schemas/UserDataResponseFull"
        - $ref: "#/components/schemas/UserDataResponseShort"
    UserDataResponseFull: 
      type: object
      properties: 
        path: 
          type: string
        size: 
          type: integer
        modified: 
          type: string
          format: date-time
    UserDataResponseShort: 
      type: string
    GetUserDataResponseFull: 
      type: array
      items: 
        $ref: "#/components/schemas/GetUserDataResponseFullFile"
    GetUserDataResponseFullFile: 
      type: object
      properties: 
        path: 
          type: string
          description: 相对于用户目录的文件名或路径。
        size: 
          type: integer
          description: 以字节为单位的文件大小。
        modified: 
          type: number
          format: float
          description: 最后修改的UNIX时间戳。
    PromptErrorResponse: 
      type: object
      description: ComfyUI提示执行的错误响应。
      additionalProperties: true
    ModelFolder: 
      type: object
      description: 表示包含模型的文件夹
      required: 
        - name
        - folders
      properties: 
        name: 
          type: string
          description: 模型文件夹的名称
          example: checkpoints
        folders: 
          type: array
          items: 
            type: string
          description: 存储此类模型的路径列表
          example: 
            - checkpoints
    ModelFile: 
      type: object
      description: 表示带有元数据的模型文件
      required: 
        - name
        - pathIndex
      properties: 
        name: 
          type: string
          description: 模型的文件名
          example: model.safetensors
        pathIndex: 
          type: integer
          description: 模型所在路径的索引
          example: 0
    SystemStatsResponse: 
      type: object
      description: 系统统计响应
      required: 
        - system
        - devices
      properties: 
        system: 
          type: object
          required: 
            - os
            - python_version
            - embedded_python
            - comfyui_version
            - pytorch_version
            - argv
            - ram_total
            - ram_free
          properties: 
            os: 
              type: string
              description: 操作系统
            python_version: 
              type: string
              description: Python 版本
            embedded_python: 
              type: boolean
              description: 是否使用嵌入式 Python
            comfyui_version: 
              type: string
              description: ComfyUI 版本
            comfyui_frontend_version: 
              type: string
              description: ComfyUI 前端版本（提交哈希或标签）
            workflow_templates_version: 
              type: string
              description: 工作流模板版本
            cloud_version: 
              type: string
              description: 云端摄取服务版本（提交哈希）
            pytorch_version: 
              type: string
              description: PyTorch 版本
            argv: 
              type: array
              items: 
                type: string
              description: 指令行参数
            ram_total: 
              type: number
              description: 总 RAM（字节）
            ram_free: 
              type: number
              description: 空闲 RAM（字节）
        devices: 
          type: array
          items: 
            type: object
            required: 
              - name
              - type
            properties: 
              name: 
                type: string
                description: 设备名称
              type: 
                type: string
                description: 设备类型
              vram_total: 
                type: number
                description: 总VRAM（字节）
              vram_free: 
                type: number
                description: 可用VRAM（字节）
    UserResponse: 
      type: object
      description: 用户信息响应
      required: 
        - status
      properties: 
        status: 
          type: string
          description: 用户状态（活跃或候补）
    Asset: 
      type: object
      required: 
        - id
        - name
        - size
        - created_at
        - updated_at
      properties: 
        id: 
          type: string
          format: uuid
          description: 资产的唯一标识符
        name: 
          type: string
          description: 资产文件的名称
        asset_hash: 
          type: string
          description: 资产内容的 Blake3 哈希
          pattern: "^blake3:[a-f0-9]{64}$"
        size: 
          type: integer
          format: int64
          description: 资产的字节大小
        mime_type: 
          type: string
          description: 资产的 MIME 类型
        tags: 
          type: array
          items: 
            type: string
          description: 与资产关联的标签
        user_metadata: 
          type: object
          description: 资产的自定义用户元数据
          additionalProperties: true
        preview_url: 
          type: string
          format: uri
          description: 资产预览/缩略图的 URL
        preview_id: 
          type: string
          format: uuid
          description: 预览资产的 ID（如有）
          nullable: true
        prompt_id: 
          type: string
          format: uuid
          description: 创建此资产的任务/提示的 ID（如有）
          nullable: true
        created_at: 
          type: string
          format: date-time
          description: 资产创建的时间戳
        updated_at: 
          type: string
          format: date-time
          description: 资产最后更新的时间戳
        last_access_time: 
          type: string
          format: date-time
          description: 资产最后访问的时间戳
        is_immutable: 
          type: boolean
          description: 此资产是否为不可变（不能修改或删除）
    AssetCreated: 
      allOf: 
        - $ref: "#/components/schemas/Asset"
        - type: object
          required: 
            - created_new
          properties: 
            created_new: 
              type: boolean
              description: 这是否为新资产创建（是）或返回已有（否）
    AssetUpdated: 
      type: object
      required: 
        - id
        - updated_at
      properties: 
        id: 
          type: string
          format: uuid
          description: 资产 ID
        name: 
          type: string
          description: 资产已更新的名称
        asset_hash: 
          type: string
          description: 资产内容的 Blake3 哈希
          pattern: "^blake3:[a-f0-9]{64}$"
        tags: 
          type: array
          items: 
            type: string
          description: 资产已更新的标签
        mime_type: 
          type: string
          description: 资产已更新的 MIME 类型
        user_metadata: 
          type: object
          description: 已更新的自定义元数据
          additionalProperties: true
        updated_at: 
          type: string
          format: date-time
          description: 更新的时间戳
    ListAssetsResponse: 
      type: object
      required: 
        - assets
        - total
        - has_more
      properties: 
        assets: 
          type: array
          items: 
            $ref: "#/components/schemas/Asset"
          description: 与查询匹配的资产列表
        total: 
          type: integer
          description: 与滤镜匹配的资产总数
        has_more: 
          type: boolean
          description: 此页之后是否还有更多资产
    TagInfo: 
      type: object
      required: 
        - name
        - count
      properties: 
        name: 
          type: string
          description: 标签名称
        count: 
          type: integer
          description: 使用此标签的资产数量
    ListTagsResponse: 
      type: object
      required: 
        - tags
        - total
        - has_more
      properties: 
        tags: 
          type: array
          items: 
            $ref: "#/components/schemas/TagInfo"
          description: 标签列表
        total: 
          type: integer
          description: 标签总数
        has_more: 
          type: boolean
          description: 是否还有更多标签
    AssetTagHistogramResponse: 
      type: object
      required: 
        - tag_counts
      properties: 
        tag_counts: 
          type: object
          additionalProperties: 
            type: integer
          description: 标签名称到匹配资产上出现次数的映射
          example: 
            checkpoint: 32
            lora: 193
            vae: 6
    AssetMetadataResponse: 
      type: object
      required: 
        - content_length
      properties: 
        content_length: 
          type: integer
          format: int64
          description: 资产的字节大小（-1 表示未知）
          example: 4294967296
        content_type: 
          type: string
          description: 资产的 MIME 类型
          example: application/octet-stream
        filename: 
          type: string
          description: 从来源建议的资产文件名
          example: realistic-vision-v5.safetensors
        name: 
          type: string
          description: 从来源的资产显示名称或标题
          example: Realistic Vision v5.0
        tags: 
          type: array
          items: 
            type: string
          description: 来自来源的分类标签
          example: 
            - models
            - checkpoint
        preview_image: 
          type: string
          description: 作为 base64 编码的数据 URL 的预览图像
          example: "data:image/jpeg;base64,/9j/4AAQSkZJRg..."
        validation: 
          $ref: "#/components/schemas/ValidationResult"
          description: 文件的验证结果
    AssetDownloadResponse: 
      type: object
      required: 
        - task_id
        - status
      properties: 
        task_id: 
          type: string
          format: uuid
          description: "用于通过 GET /api/tasks/{task_id} 跟踪下载进度的任务 ID"
        status: 
          type: string
          enum: 
            - created
            - running
            - completed
            - failed
          description: 当前任务状态
        message: 
          type: string
          description: 人类可读的消息
          example: Download task created. Use task_id to track progress.
    ValidationResult: 
      type: object
      required: 
        - is_valid
      properties: 
        is_valid: 
          type: boolean
          description: 总体验证状态（如果所有检查通过则为是）
          example: true
        errors: 
          type: array
          items: 
            $ref: "#/components/schemas/ValidationError"
          description: 阻止下载的阻塞性验证错误
        warnings: 
          type: array
          items: 
            $ref: "#/components/schemas/ValidationError"
          description: 非阻塞性验证警告（仅用于信息参考）
    ValidationError: 
      type: object
      required: 
        - code
        - message
        - field
      properties: 
        code: 
          type: string
          description: 机器可读的错误码
          example: FORMAT_NOT_ALLOWED
        message: 
          type: string
          description: 人类可读的报错信息
          example: "File format \"PickleTensor\" is not allowed. Allowed formats: [SafeTensor]"
        field: 
          type: string
          description: 验证失败的字段
          example: format
    TagsModificationResponse: 
      type: object
      required: 
        - total_tags
      properties: 
        added: 
          type: array
          items: 
            type: string
          description: 成功添加的标签（用于添加操作）
        removed: 
          type: array
          items: 
            type: string
          description: 成功移除的标签（用于移除操作）
        already_present: 
          type: array
          items: 
            type: string
          description: 已存在的标签（用于添加操作）
        not_present: 
          type: array
          items: 
            type: string
          description: 不存在的标签（用于移除操作）
        total_tags: 
          type: array
          items: 
            type: string
          description: 操作后资产上的所有标签
    JobsListResponse: 
      type: object
      required: 
        - jobs
        - pagination
      properties: 
        jobs: 
          type: array
          description: 按指定排序字段排序的任务数组
          items: 
            $ref: "#/components/schemas/JobEntry"
        pagination: 
          $ref: "#/components/schemas/PaginationInfo"
    JobEntry: 
      type: object
      description: 用于列表视图的轻量任务数据（不包括工作流和完整输出）
      required: 
        - id
        - status
        - create_time
      properties: 
        id: 
          type: string
          format: uuid
          description: 唯一任务标识符
        status: 
          type: string
          enum: 
            - pending
            - in_progress
            - completed
            - failed
            - cancelled
          description: 用户友好的任务状态
        execution_error: 
          $ref: "#/components/schemas/ExecutionError"
          description: 来自ComfyUI的详细执行错误（仅适用于带有结构化错误数据的失败任务）
        create_time: 
          type: integer
          format: int64
          description: 任务创建时间戳（Unix时间戳，秒）
        preview_output: 
          type: object
          description: 主要预览输出（仅终端状态存在）
          additionalProperties: true
        outputs_count: 
          type: integer
          description: 输出文件总数（非终端状态省略）
        workflow_id: 
          type: string
          description: 标识工作流画面定义的UUID
        execution_start_time: 
          type: integer
          format: int64
          description: 工作流执行开始时间戳（Unix毫秒，仅终端状态存在）
        execution_end_time: 
          type: integer
          format: int64
          description: 工作流执行完成时间戳（Unix毫秒，仅终端状态存在）
    JobDetailResponse: 
      type: object
      description: 包括工作流和输出的完整任务详情
      required: 
        - id
        - status
        - create_time
        - update_time
      properties: 
        id: 
          type: string
          format: uuid
          description: 唯一任务标识符
        status: 
          type: string
          enum: 
            - pending
            - in_progress
            - completed
            - failed
            - cancelled
          description: 用户友好的任务状态
        workflow: 
          type: object
          description: 完整ComfyUI工作流（10-100KB，不可用则省略）
          additionalProperties: true
        execution_error: 
          $ref: "#/components/schemas/ExecutionError"
          description: 来自ComfyUI的详细执行错误（仅适用于带有结构化错误数据的失败任务）
        create_time: 
          type: integer
          format: int64
          description: 任务创建时间戳（Unix时间戳，秒）
        update_time: 
          type: integer
          format: int64
          description: 最后更新时间戳（Unix时间戳，秒）
        outputs: 
          type: object
          description: 来自ComfyUI的完整输出对象（仅适用于终端状态）
          additionalProperties: true
        preview_output: 
          type: object
          description: 主要预览输出（仅适用于终端状态）
          additionalProperties: true
        outputs_count: 
          type: integer
          description: 输出文件总数（非终端状态省略）
        workflow_id: 
          type: string
          description: 标识工作流画面定义的UUID
        execution_status: 
          type: object
          description: ComfyUI执行状态和时间线（仅适用于终端状态）
          additionalProperties: true
        execution_meta: 
          type: object
          description: 节点级执行元数据（仅适用于终端状态）
          additionalProperties: true
    ExecutionError: 
      type: object
      description: 来自 ComfyUI 的详细执行错误信息
      required: 
        - node_id
        - node_type
        - exception_message
        - exception_type
        - traceback
        - current_inputs
        - current_outputs
      properties: 
        node_id: 
          type: string
          description: 失败节点的ID
        node_type: 
          type: string
          description: "节点类型名称（例如 \"KSampler\"）"
        exception_message: 
          type: string
          description: 人类可读的报错信息
        exception_type: 
          type: string
          description: "Python异常类型（例如 \"RuntimeError\"）"
        traceback: 
          type: array
          items: 
            type: string
          description: 回溯行数组（如不可用则为空数组）
        current_inputs: 
          type: object
          additionalProperties: true
          description: 失败时的输入值（不可用则为空对象）
        current_outputs: 
          type: object
          additionalProperties: true
          description: 失败时的输出值（如不可用则为空对象）
    PaginationInfo: 
      type: object
      required: 
        - offset
        - limit
        - total
        - has_more
      properties: 
        offset: 
          type: integer
          minimum: 0
          description: 当前偏移量（从0开始）
        limit: 
          type: integer
          minimum: 1
          description: 每页项目数
        total: 
          type: integer
          minimum: 0
          description: 匹配滤镜的项目总数
        has_more: 
          type: boolean
          description: 此页之后是否还有更多项目
    WebSocketMessage: 
      type: object
      description: "所有WebSocket消息的基础结构。消息是JSON格式，包含一个type\n字段表示消息类型，以及一个data字段包含类型特定的有效载荷。\n"
      required: 
        - type
      properties: 
        type: 
          $ref: "#/components/schemas/WebSocketMessageType"
        data: 
          type: object
          description: 消息有效载荷（结构因类型而异）
          additionalProperties: true
    WebSocketMessageType: 
      type: string
      description: "WebSocket消息的类型。这些与ComfyUI的原生消息类型匹配。\n"
      enum: 
        - status
        - execution_start
        - execution_cached
        - executing
        - progress
        - progress_state
        - executed
        - execution_success
        - execution_error
        - execution_interrupted
    WebSocketStatusMessage: 
      type: object
      description: "队列状态更新。当队列状态更改时发送。\n"
      properties: 
        type: 
          type: string
          enum: 
            - status
        data: 
          type: object
          properties: 
            status: 
              type: object
              properties: 
                exec_info: 
                  type: object
                  properties: 
                    queue_remaining: 
                      type: integer
                      description: 该用户队列中剩余的作业数量
            sid: 
              type: string
              description: 会话ID（仅初始连接时）
    WebSocketExecutionStartMessage: 
      type: object
      description: "当工作流执行开始时发送。\n"
      properties: 
        type: 
          type: string
          enum: 
            - execution_start
        data: 
          type: object
          required: 
            - prompt_id
          properties: 
            prompt_id: 
              type: string
              format: uuid
              description: 开始执行的作业/提示ID
    WebSocketExecutingMessage: 
      type: object
      description: "当特定节点开始执行时发送。\n"
      properties: 
        type: 
          type: string
          enum: 
            - executing
        data: 
          type: object
          required: 
            - prompt_id
          properties: 
            prompt_id: 
              type: string
              format: uuid
            node: 
              type: string
              description: 当前正在执行的节点ID（执行完成时为null）
            display_node: 
              type: string
              description: 显示节点ID（对于分组节点可能与节点ID不同）
    WebSocketProgressMessage: 
      type: object
      description: "节点内的逐步进度（例如，扩散采样步骤）。\n"
      properties: 
        type: 
          type: string
          enum: 
            - progress
        data: 
          type: object
          required: 
            - prompt_id
            - node
            - value
            - max
          properties: 
            prompt_id: 
              type: string
              format: uuid
            node: 
              type: string
              description: 显示进度的节点ID
            value: 
              type: integer
              description: 当前步数
            max: 
              type: integer
              description: 总步数
    WebSocketProgressStateMessage: 
      type: object
      description: "扩展的进度状态，包含详细的节点元数据。\n提供比简单的`progress`消息更丰富的上下文。\n"
      properties: 
        type: 
          type: string
          enum: 
            - progress_state
        data: 
          type: object
          properties: 
            prompt_id: 
              type: string
              format: uuid
            nodes: 
              type: object
              description: 节点ID到其进度状态的映射
              additionalProperties: 
                type: object
                properties: 
                  node_id: 
                    type: string
                  display_node_id: 
                    type: string
                  real_node_id: 
                    type: string
                  prompt_id: 
                    type: string
                  class_type: 
                    type: string
                    description: "节点的类类型（例如，\"KSampler\"）"
    WebSocketExecutedMessage: 
      type: object
      description: "当节点完成执行并带有输出时发送。\n"
      properties: 
        type: 
          type: string
          enum: 
            - executed
        data: 
          type: object
          required: 
            - prompt_id
            - node
          properties: 
            prompt_id: 
              type: string
              format: uuid
            node: 
              type: string
              description: 已完成的节点ID
            display_node: 
              type: string
              description: 显示节点ID
            output: 
              type: object
              description: "节点输出。结构因节点类型而异。\n对于图像输出：{ \"images\": [{\"filename\": \"...\", \"subfolder\": \"\", \"type\": \"output\"}] }\n对于视频输出：{ \"video\": [{\"filename\": \"...\", \"subfolder\": \"\", \"type\": \"output\"}] }\n"
              additionalProperties: true
    WebSocketExecutionSuccessMessage: 
      type: object
      description: "当整个工作流成功完成时发送。\n"
      properties: 
        type: 
          type: string
          enum: 
            - execution_success
        data: 
          type: object
          required: 
            - prompt_id
          properties: 
            prompt_id: 
              type: string
              format: uuid
    WebSocketExecutionErrorMessage: 
      type: object
      description: "当工作流执行因错误而失败时发送。\n"
      properties: 
        type: 
          type: string
          enum: 
            - execution_error
        data: 
          type: object
          required: 
            - prompt_id
            - exception_message
          properties: 
            prompt_id: 
              type: string
              format: uuid
            node_id: 
              type: string
              description: 发生错误的节点ID（如适用）
            node_type: 
              type: string
              description: 发生错误的节点类型
            exception_type: 
              type: string
              description: "错误分类。常见类型：\n- ValidationError: 无效工作流或输入\n- ModelDownloadError: 下载所需模型失败\n- OOMError: GPU内存不足\n- InsufficientFundsError: 账户余额不足\n- InactiveSubscriptionError: 订阅未激活\n"
              enum: 
                - ValidationError
                - ModelDownloadError
                - ImageDownloadError
                - OOMError
                - PanicError
                - ServiceError
                - WebSocketError
                - DispatcherError
                - InsufficientFundsError
                - InactiveSubscriptionError
            exception_message: 
              type: string
              description: 人类可读的错误信息
            traceback: 
              type: array
              items: 
                type: string
              description: 堆栈跟踪行（用于调试）
            executed: 
              type: array
              items: 
                type: string
              description: 在错误之前已完成执行的节点ID
            current_inputs: 
              type: object
              description: 失败时的输入值
              additionalProperties: true
            current_outputs: 
              type: object
              description: 失败时的输出值
              additionalProperties: true
    WebSocketExecutionCachedMessage: 
      type: object
      description: "当节点因输出被缓存而跳过时发送。\n"
      properties: 
        type: 
          type: string
          enum: 
            - execution_cached
        data: 
          type: object
          required: 
            - prompt_id
            - nodes
          properties: 
            prompt_id: 
              type: string
              format: uuid
            nodes: 
              type: array
              items: 
                type: string
              description: 从缓存提供的节点ID列表
    WebSocketExecutionInterruptedMessage: 
      type: object
      description: "当工作流执行被取消或中断时发送。\n"
      properties: 
        type: 
          type: string
          enum: 
            - execution_interrupted
        data: 
          type: object
          required: 
            - prompt_id
          properties: 
            prompt_id: 
              type: string
              format: uuid
